In [1]:
import pandas as pd
import numpy as np 
import bamboolib

## I need to standarize:

ancestry

contry of birth

income

industry of work

mortgage payments

rent payments

occupations

religions

study_level

### Ancestry

In [2]:
ancestry_2006 = pd.read_csv('ABS_data/2006/ancestry_2006_lga_clean.csv')
ancestry_2011 = pd.read_csv('ABS_data/2011/ancestry_2011_lga_clean.csv')
ancestry_2016 = pd.read_csv('ABS_data/2016/ancestry_2016_lga_clean.csv')

In [3]:
print(ancestry_2006.shape)
print(ancestry_2011.shape)
print(ancestry_2016.shape)

(694, 274)
(577, 319)
(563, 321)

In [4]:
ancestry_2016_sort = ancestry_2016.sort_index(axis=1)
ancestry_2011_sort = ancestry_2011.sort_index(axis=1) 
ancestry_2006_sort = ancestry_2006.sort_index(axis=1)

In [5]:
result = pd.concat([ancestry_2016_sort, ancestry_2011_sort], ignore_index=True, sort=False)
ancestry_stack = pd.concat([result, ancestry_2006_sort], ignore_index=True, sort=False)
ancestry_stack = ancestry_stack.dropna(how={'any'},thresh = 1500, axis=1)
ancestry_stack

,Acehnese,Afghan,African American,"African, so described",Afrikaner,Akan,Albanian,Algerian,American,Amhara,...,Vietnamese,Vlach,Welsh,"Western European, nfd",Yemeni,Yoruba,Zambian,Zimbabwean,Zulu,lga
0,0.0,11.0,0.0,38.0,0.0,0.0,0.0,0.0,27.0,0.0,...,42.0,0.0,69.0,0.0,0.0,0.0,0.0,14.0,0.0,Albury (C)
1,0.0,0.0,0.0,37.0,5.0,0.0,0.0,0.0,37.0,3.0,...,59.0,0.0,48.0,0.0,0.0,0.0,0.0,7.0,0.0,Armidale Regional (A)
2,0.0,0.0,6.0,3.0,9.0,0.0,4.0,0.0,35.0,0.0,...,31.0,0.0,95.0,0.0,0.0,0.0,0.0,8.0,0.0,Ballina (A)
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Balranald (A)
4,0.0,5.0,5.0,14.0,4.0,0.0,0.0,4.0,25.0,0.0,...,57.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,Bathurst Regional (A)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INFO
1830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Copyright Commonwealth of Australia, 2018, see..."
1833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ABS data licensed under Creative Commons, see ..."

In [6]:
# splitting dataframe by row index
ancestry_2016_prepro = ancestry_stack.iloc[:563,:]
ancestry_2011_prepro = ancestry_stack.iloc[563:1140,:]
ancestry_2006_prepro = ancestry_stack.iloc[1140:1834,:]

In [7]:
ancestry_2016_prepro = ancestry_2016_prepro[['lga'] + [x for x in ancestry_2016_prepro.columns if x not in ['lga']]]
ancestry_2011_prepro = ancestry_2011_prepro[['lga'] + [x for x in ancestry_2011_prepro.columns if x not in ['lga']]]
ancestry_2006_prepro = ancestry_2006_prepro[['lga'] + [x for x in ancestry_2006_prepro.columns if x not in ['lga']]]

In [8]:
ancestry_2006_prepro

,lga,Acehnese,Afghan,African American,"African, so described",Afrikaner,Akan,Albanian,Algerian,American,...,Venezuelan,Vietnamese,Vlach,Welsh,"Western European, nfd",Yemeni,Yoruba,Zambian,Zimbabwean,Zulu
1140,Albury (C),0.0,0.0,0.0,0.0,7.0,0.0,10.0,0.0,43.0,...,0.0,9.0,0.0,73.0,0.0,0.0,0.0,0.0,5.0,0.0
1141,Armidale Dumaresq (A),0.0,3.0,0.0,4.0,0.0,0.0,0.0,0.0,51.0,...,0.0,3.0,0.0,34.0,0.0,0.0,0.0,0.0,3.0,0.0
1142,Ashfield (A),0.0,3.0,3.0,27.0,4.0,0.0,7.0,11.0,34.0,...,0.0,234.0,0.0,40.0,0.0,0.0,0.0,0.0,4.0,0.0
1143,Auburn (A),0.0,1458.0,5.0,151.0,4.0,0.0,12.0,26.0,26.0,...,0.0,1330.0,0.0,24.0,0.0,7.0,0.0,0.0,8.0,0.0
1144,Ballina (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,...,0.0,11.0,0.0,74.0,0.0,0.0,0.0,0.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1829,INFO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1832,"Copyright Commonwealth of Australia, 2018, see...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1833,"ABS data licensed under Creative Commons, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Country of Birth

In [2]:
cob_2006 = pd.read_csv('ABS_data/2006/COB_2006_clean.csv') 
cob_2011 = pd.read_csv('ABS_data/2011/countryofbirth_2011_lga_clean.csv')
cob_2016 = pd.read_csv('ABS_data/2016/countryofbirth_2016_lga_clean.csv')
print(cob_2006.shape)
print(cob_2011.shape)
print(cob_2016.shape)

(685, 286)
(577, 293)
(572, 293)

In [3]:
cob_2016_sort = cob_2016.sort_index(axis=1)
cob_2011_sort = cob_2011.sort_index(axis=1) 
cob_2006_sort = cob_2006.sort_index(axis=1) 


#CONCATENATE THEM TOGETHER
result1 = pd.concat([cob_2016_sort, cob_2011_sort], ignore_index=True, sort=False)
cob_stack = pd.concat([result1, cob_2006_sort], ignore_index=True, sort=False)
#drop the columns with Nan values
cob_stack = cob_stack.dropna(how={'any'},thresh = 1300, axis=1)
cob_stack
cob_stack = cob_stack[['lga'] + [x for x in cob_stack.columns if x not in ['lga']]]

# splitting dataframe by row index
cob_2016_prepro = cob_stack.iloc[:572,:]
cob_2011_prepro = cob_stack.iloc[572:1149,:]
cob_2006_prepro = cob_stack.iloc[1149:1834,:]

In [4]:
cob_2016_prepro.to_csv("y_2016.csv")
cob_2011_prepro.to_csv("y_2011.csv")
cob_2006_prepro.to_csv("y_2006.csv")

In [12]:
cob_2016_prepro
#Do not extract y labels directly anymore. We merge with x labels first to curate appropriate LGAs and match them.
#cob_2016_prepro.to_csv("Model_training/y_labels_cob_2016_data.csv")
#cob_2011_prepro.to_csv("Model_training/y_labels_cob_2011_data.csv")
#cob_2006_prepro.to_csv("Model_training/y_labels_cob_2006_data.csv")

,lga,Adelie Land (France),Afghanistan,Albania,Algeria,"Americas, nfd",Andorra,Angola,Anguilla,"Antarctica, nfd",...,Vanuatu,"Virgin Islands, British","Virgin Islands, United States",Wales,Wallis and Futuna,"Western Europe, nfd",Western Sahara,Yemen,Zambia,Zimbabwe
0,Albury (C),0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,43.0,0.0,0.0,0.0,0.0,18.0,30.0
1,Armidale Regional (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,27.0,0.0,0.0,0.0,3.0,3.0,24.0
2,Ballina (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,53.0,0.0,0.0,0.0,0.0,0.0,33.0
3,Balranald (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Bathurst Regional (A),0.0,10.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,INFO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,"Copyright Commonwealth of Australia, 2018, see...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
571,"ABS data licensed under Creative Commons, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Income

In [13]:
income_2006 = pd.read_csv('ABS_data/2006/income_2006_clean.csv') 
income_2011 = pd.read_csv('ABS_data/2011/income_2011_lga_clean.csv')
income_2016 = pd.read_csv('ABS_data/2016/income_2016_clean.csv')

print(income_2006.shape)
print(income_2011.shape)
print(income_2016.shape)

(703, 17)
(585, 15)
(564, 18)

In [14]:

cleaned_column_names = (income_2006.columns
                        .str.strip()
                        .str.replace('((?<=[a-z0-9])[A-Z]|(?!^)[A-Z](?=[a-z]))', r'_\1')
                        .str.lower()
                        .str.replace('[ _-]+', '_')
                        .str.replace('[}{)(><.!?\\\\:;,-]', ''))
income_2006.columns = cleaned_column_names
income_2006 = income_2006.drop(columns=['individual_income_weekly_incp', 'unnamed_16', 'not_applicable', 'not_stated'])


for column_name in income_2006.select_dtypes(['int']).columns:
    income_2006[column_name] = income_2006[column_name].astype('float64')
income_2006

,lga,negative_income,nil_income,$1_$149,$150_$249,$250_$399,$400_$599,$600_$799,$800_$999,$1000_$1299,$1300_$1599,$1600_$1999,$2000_or_more
0,Not stated,3014.0,10392.0,35914.0,36624.0,53908.0,85143.0,60372.0,39355.0,32001.0,14871.0,8726.0,11363.0
1,Albury (C),33.0,110.0,1231.0,1205.0,2435.0,4414.0,3973.0,2881.0,2604.0,1528.0,617.0,647.0
2,Sydney Undefined,27.0,73.0,213.0,339.0,568.0,994.0,953.0,793.0,784.0,417.0,285.0,433.0
3,Armidale Dumaresq (A),31.0,56.0,600.0,669.0,1220.0,1981.0,1829.0,1166.0,1135.0,790.0,351.0,346.0
4,Ashfield (A),18.0,61.0,470.0,484.0,1011.0,1780.0,1514.0,1042.0,1150.0,854.0,532.0,604.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,No fixed address,11.0,44.0,285.0,331.0,640.0,994.0,985.0,1000.0,920.0,462.0,237.0,234.0
699,ACT Undefined,10.0,16.0,97.0,92.0,142.0,232.0,193.0,184.0,212.0,120.0,81.0,67.0
700,Unincorporated OT,3.0,6.0,35.0,43.0,100.0,166.0,186.0,169.0,267.0,123.0,73.0,74.0
701,No fixed address,0.0,0.0,3.0,0.0,3.0,0.0,3.0,0.0,4.0,4.0,0.0,3.0
702,Not applicable,52076.0,995922.0,653487.0,1736386.0,1163180.0,526420.0,183979.0,96708.0,71239.0,32332.0,20291.0,40014.0

In [15]:
#change columns names in 2011 data to match 2006 data

income_2011 = income_2011.drop(columns=['Not applicable', 'Not stated'])
income_2011 = income_2011.rename(columns={'$1-$199 ($1-$10,399)': '$1_$149'})
income_2011 = income_2011.rename(columns={'$200-$299 ($10,400-$15,599)': '$150_$249'})
income_2011 = income_2011.rename(columns={'$300-$399 ($15,600-$20,799)': '$250_$399', '$400-$599 ($20,800-$31,199)': '$400_$599', '$600-$799 ($31,200-$41,599)': '$600_$799', '$800-$999 ($41,600-$51,999)': '$800_$999', '$1,000-$1,249 ($52,000-$64,999)': '$1000_$1299', '$1,500-$1,999 ($78,000-$103,999)': '$1600_$1999', '$2,000 or more ($104,000 or more)': '$2000_or_more'})
income_2011

,lga,Negative income,Nil income,$1_$149,$150_$249,$250_$399,$400_$599,$600_$799,$800_$999,$1000_$1299,"$1,250-$1,499 ($65,000-$77,999)",$1600_$1999,$2000_or_more
0,Albury (C),176,2195.0,2712.0,4084.0,4352.0,5368.0,4669.0,3618.0,3102.0,1890.0,2073.0,1331.0
1,Armidale Dumaresq (A),135,1366.0,1692.0,2466.0,2109.0,2557.0,2278.0,1466.0,1280.0,816.0,1083.0,699.0
2,Ashfield (A),207,3266.0,2095.0,3130.0,3330.0,3488.0,3211.0,2772.0,2837.0,2100.0,2735.0,2767.0
3,Auburn (C),610,7777.0,4710.0,7119.0,5354.0,6289.0,5914.0,4216.0,3644.0,2327.0,2510.0,1940.0
4,Ballina (A),173,1633.0,2373.0,3977.0,4379.0,5220.0,3929.0,2563.0,1986.0,1265.0,1575.0,1043.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,INFO,Cells in this table have been randomly adjuste...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
583,"Copyright Commonwealth of Australia, 2018, see...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
584,"ABS data licensed under Creative Commons, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#change column names in 2016 data to match 2006 data
income_2016 = income_2016.drop(columns=['Not stated', 'Not applicable'])
income_2016 = income_2016.rename(columns={'Negative income': 'negative_income', 'Nil income': 'nil_income', '$1-$149 ($1-$7,799)': '$1_$149', '$150-$299 ($7,800-$15,599)': '$150_$249', '$300-$399 ($15,600-$20,799)': '$250_$399', '$400-$499 ($20,800-$25,999)': '$400_$599', '$500-$649 ($26,000-$33,799)': '$600_$799', '$650-$799 ($33,800-$41,599)': '$800_$999', '$800-$999 ($41,600-$51,999)': '$1000_$1299', '$1,250-$1,499 ($65,000-$77,999)': '$1300_$1599', '$1,500-$1,749 ($78,000-$90,999)': '$1600_$1999', '$1,750-$1,999 ($91,000-$103,999)': '$1600_$1999', '$2,000-$2,999 ($104,000-$155,999)': '$2000_or_more', '$3,000 or more ($156,000 or more)': '$2000_or_more', '$1,000-$1,249 ($52,000-$64,999)': '$1000_$1299'})
income_2016.columns = ['lga', 'negative_income', 'nil_income', '$1_$149', '$150_$249', '$250_$399', '$400_$599', '$600_$799', '$800_$999', '$1000_$1299', '$1000_$1299_2', '$1300_$1599', '$1600_$1999', '$1600_$1999_2', '$2000_or_more', '$2000_or_more_2']
sum_column = income_2016["$1600_$1999"] + income_2016["$1600_$1999_2"]
income_2016 = income_2016.drop(columns=['$1600_$1999', '$1600_$1999_2'])
income_2016['$1600_$1999'] = sum_column

sum_column = income_2016["$1000_$1299"] + income_2016["$1000_$1299_2"]
income_2016 = income_2016.drop(columns=['$1000_$1299', '$1000_$1299_2'])
income_2016['$1000_$1299'] = sum_column

sum_column = income_2016["$2000_or_more"] + income_2016["$2000_or_more_2"]
income_2016 = income_2016.drop(columns=['$2000_or_more', '$2000_or_more_2'])
income_2016['$2000_or_more'] = sum_column

income_2016

,lga,negative_income,nil_income,$1_$149,$150_$249,$250_$399,$400_$599,$600_$799,$800_$999,$1300_$1599,$1600_$1999,$1000_$1299,$2000_or_more
0,Albury (C),150.0,2505.0,1700.0,3031.0,3813.0,3971.0,3662.0,3642.0,2331.0,2961.0,7503.0,2035.0
1,Armidale Regional (A),139.0,1993.0,1100.0,2303.0,2185.0,2217.0,2125.0,2150.0,1047.0,1514.0,3570.0,1285.0
2,Ballina (A),120.0,1932.0,1390.0,2351.0,3719.0,3774.0,3475.0,3249.0,1538.0,2280.0,5626.0,1839.0
3,Balranald (A),17.0,134.0,47.0,105.0,162.0,159.0,165.0,167.0,86.0,70.0,335.0,75.0
4,Bathurst Regional (A),123.0,2343.0,1317.0,2423.0,2763.0,2961.0,2711.0,2674.0,1847.0,2709.0,5421.0,1866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
559,Migratory - Offshore - Shipping (ACT),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
560,Unincorp. Other Territories,14.0,251.0,113.0,208.0,248.0,239.0,277.0,296.0,183.0,322.0,550.0,260.0
561,No usual address (OT),6.0,9.0,0.0,4.0,0.0,6.0,7.0,3.0,0.0,0.0,3.0,0.0
562,Migratory - Offshore - Shipping (OT),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#CONCATENATE THEM TOGETHER
result6 = pd.concat([income_2016, income_2011], ignore_index=True, sort=False)
income_stack = pd.concat([result6, income_2006], ignore_index=True, sort=False)
#drop the columns with Nan values
income_stack = income_stack.dropna(how={'any'},thresh = 1300, axis=1)
#income_stack = income_stack[['lga'] + [x for x in income_stack.columns if x not in ['lga']]]

# splitting dataframe by row index
income_2016_prepro = income_stack.iloc[:564,:]
income_2011_prepro = income_stack.iloc[564:1149,:]
income_2006_prepro = income_stack.iloc[1149:1852,:]

income_2011_prepro

,lga,$1_$149,$150_$249,$250_$399,$400_$599,$600_$799,$800_$999,$1600_$1999,$1000_$1299,$2000_or_more
564,Albury (C),2712.0,4084.0,4352.0,5368.0,4669.0,3618.0,2073.0,3102.0,1331.0
565,Armidale Dumaresq (A),1692.0,2466.0,2109.0,2557.0,2278.0,1466.0,1083.0,1280.0,699.0
566,Ashfield (A),2095.0,3130.0,3330.0,3488.0,3211.0,2772.0,2735.0,2837.0,2767.0
567,Auburn (C),4710.0,7119.0,5354.0,6289.0,5914.0,4216.0,2510.0,3644.0,1940.0
568,Ballina (A),2373.0,3977.0,4379.0,5220.0,3929.0,2563.0,1575.0,1986.0,1043.0
...,...,...,...,...,...,...,...,...,...,...
1144,INFO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1147,"Copyright Commonwealth of Australia, 2018, see...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1148,"ABS data licensed under Creative Commons, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Industry of work

In [18]:
industry_2006 = pd.read_csv('ABS_data/2006/industries_2006_clean.csv') 
industry_2011 = pd.read_csv('ABS_data/2011/industries_clean_2011.csv')
industry_2016 = pd.read_csv('ABS_data/2016/industries_2016_clean.csv')

print(industry_2006.shape)
print(industry_2011.shape)
print(industry_2016.shape)

(705, 73)
(579, 110)
(565, 109)

In [19]:
industry_2016_sort = industry_2016.sort_index(axis=1)
industry_2011_sort = industry_2011.sort_index(axis=1) 
industry_2006_sort = industry_2006.sort_index(axis=1) 


#CONCATENATE THEM TOGETHER
result3 = pd.concat([industry_2016_sort, industry_2011_sort], ignore_index=True, sort=False)
industry_stack = pd.concat([result3, industry_2006_sort], ignore_index=True, sort=False)
industry_stack = industry_stack.sort_index(axis=1)
industry_stack[['Accommodation', 'Accommodation and Food Services, nfd', 'Accommodation, Cafes and Restaurants']] = industry_stack[['Accommodation', 'Accommodation and Food Services, nfd', 'Accommodation, Cafes and Restaurants']].fillna(0)
industry_stack["new_accomodation"] = industry_stack['Accommodation'] + industry_stack['Accommodation and Food Services, nfd'] +industry_stack['Accommodation, Cafes and Restaurants']
industry_stack = industry_stack.drop(columns=['Accommodation', 'Accommodation and Food Services, nfd', 'Accommodation, Cafes and Restaurants'])
industry_stack[['Administrative Services', 'Administrative and Support Services, nfd']] = industry_stack[['Administrative Services', 'Administrative and Support Services, nfd']].fillna(0)
industry_stack["new_admin"] = industry_stack['Administrative Services'] +industry_stack['Administrative and Support Services, nfd']
industry_stack = industry_stack.drop(columns=['Administrative Services', 'Administrative and Support Services, nfd'])
industry_stack[['Agriculture', 'Agriculture, Forestry and Fishing, nfd', 'Agriculture, Forestry and Fishing, undefined', 'Agriculture, Forestry and Fishing Support Services', 'Services to Agriculture; Hunting and Trapping']] = industry_stack[['Agriculture', 'Agriculture, Forestry and Fishing, nfd', 'Agriculture, Forestry and Fishing, undefined', 'Agriculture, Forestry and Fishing Support Services', 'Services to Agriculture; Hunting and Trapping']].fillna(0)
industry_stack["new_agriculture"] = industry_stack['Agriculture'] + industry_stack['Agriculture, Forestry and Fishing Support Services'] + industry_stack['Agriculture, Forestry and Fishing, nfd'] + industry_stack['Agriculture, Forestry and Fishing, undefined']
industry_stack = industry_stack.drop(columns=['Agriculture', 'Agriculture, Forestry and Fishing, nfd', 'Agriculture, Forestry and Fishing, undefined', 'Agriculture, Forestry and Fishing Support Services', 'Services to Agriculture; Hunting and Trapping'])
industry_stack[['Construction, nfd', 'Construction Services', 'Construction, undefined', 'Construction Trade Services']] = industry_stack[['Construction, nfd', 'Construction Services', 'Construction, undefined', 'Construction Trade Services']].fillna(0)
industry_stack["new_construction"] = industry_stack['Construction Services'] + industry_stack['Construction Trade Services'] + industry_stack['Construction, nfd'] + industry_stack['Construction, undefined']
industry_stack = industry_stack.drop(columns=['Construction, nfd', 'Construction Services', 'Construction, undefined', 'Construction Trade Services'])
industry_stack[['Education', 'Education and Training, nfd', 'Electricity Supply', 'Electricity and Gas Supply', 'Electricity, Gas and Water Supply, undefined', 'Electricity, Gas, Water and Waste Services, nfd']] = industry_stack[['Education', 'Education and Training, nfd', 'Electricity Supply', 'Electricity and Gas Supply', 'Electricity, Gas and Water Supply, undefined', 'Electricity, Gas, Water and Waste Services, nfd']].fillna(0)
industry_stack["new_education"] = industry_stack['Education'] + industry_stack['Education and Training, nfd']
industry_stack["new_electricity"] = industry_stack['Electricity Supply'] + industry_stack['Electricity and Gas Supply'] + industry_stack['Electricity, Gas and Water Supply, undefined'] + industry_stack['Electricity, Gas, Water and Waste Services, nfd']
industry_stack = industry_stack.drop(columns=['Education', 'Education and Training, nfd', 'Electricity Supply', 'Electricity and Gas Supply', 'Electricity, Gas and Water Supply, undefined', 'Electricity, Gas, Water and Waste Services, nfd'])
industry_stack[['Finance', 'Finance and Insurance, undefined', 'Financial and Insurance Services, nfd']] = industry_stack[['Finance', 'Finance and Insurance, undefined', 'Financial and Insurance Services, nfd']].fillna(0)
industry_stack["new_finance"] = industry_stack['Finance'] + industry_stack['Finance and Insurance, undefined'] + industry_stack['Financial and Insurance Services, nfd']
industry_stack = industry_stack.drop(columns=['Finance', 'Finance and Insurance, undefined', 'Financial and Insurance Services, nfd'])
industry_stack[['Food Retailing', 'Food Product Manufacturing', 'Food and Beverage Services', 'Food, Beverage and Tobacco Manufacturing']] = industry_stack[['Food Retailing', 'Food Product Manufacturing', 'Food and Beverage Services', 'Food, Beverage and Tobacco Manufacturing']].fillna(0)
industry_stack["new_food"] = industry_stack['Food Product Manufacturing'] + industry_stack['Food Retailing'] + industry_stack['Food and Beverage Services'] + industry_stack['Food, Beverage and Tobacco Manufacturing']
industry_stack = industry_stack.drop(columns=['Food Retailing', 'Food Product Manufacturing', 'Food and Beverage Services', 'Food, Beverage and Tobacco Manufacturing'])
industry_stack[['Property Services', 'Property and Business Services, undefined', 'Property Operators and Real Estate Services']] = industry_stack[['Property Services', 'Property and Business Services, undefined', 'Property Operators and Real Estate Services']].fillna(0)
industry_stack["new_property"] = industry_stack['Property Operators and Real Estate Services'] + industry_stack['Property Services'] + industry_stack['Property and Business Services, undefined']
industry_stack = industry_stack.drop(columns=['Property Services', 'Property and Business Services, undefined', 'Property Operators and Real Estate Services'])
industry_stack[['Personal Services', 'Personal and Other Services', 'Personal and Household Good Retailing', 'Personal and Other Services, undefined', 'Personal and Household Good Wholesaling']] = industry_stack[['Personal Services', 'Personal and Other Services', 'Personal and Household Good Retailing', 'Personal and Other Services, undefined', 'Personal and Household Good Wholesaling']].fillna(0)
industry_stack["new_personal_services"] = industry_stack['Personal Services'] + industry_stack['Personal and Household Good Retailing'] + industry_stack['Personal and Household Good Wholesaling'] + industry_stack['Personal and Other Services'] + industry_stack['Personal and Other Services, undefined']
industry_stack = industry_stack.drop(columns=['Personal Services', 'Personal and Other Services', 'Personal and Household Good Retailing', 'Personal and Other Services, undefined', 'Personal and Household Good Wholesaling'])

In [20]:

#drop the columns with Nan values
industry_stack = industry_stack.dropna(how={'any'},thresh = 1200, axis=1)
industry_stack = industry_stack[['lga'] + [x for x in industry_stack.columns if x not in ['lga']]]
industry_stack

,lga,Air and Space Transport,Basic Material Wholesaling,Coal Mining,Defence,Forestry and Logging,Machinery and Equipment Manufacturing,Metal Ore Mining,Non-Metallic Mineral Product Manufacturing,Not applicable,...,new_accomodation,new_admin,new_agriculture,new_construction,new_education,new_electricity,new_finance,new_food,new_property,new_personal_services
0,Albury (C),47.0,145.0,5.0,209.0,8.0,202.0,21.0,64.0,28172.0,...,271.0,287.0,301.0,1380.0,45.0,71.0,243.0,3014.0,227.0,505.0
1,Armidale Regional (A),29.0,73.0,8.0,16.0,6.0,18.0,25.0,11.0,17131.0,...,194.0,146.0,1322.0,455.0,18.0,38.0,185.0,1325.0,110.0,217.0
2,Ballina (A),32.0,88.0,22.0,14.0,8.0,31.0,27.0,27.0,24319.0,...,365.0,209.0,740.0,1033.0,30.0,61.0,163.0,2158.0,281.0,350.0
3,Balranald (A),0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,1301.0,...,27.0,3.0,285.0,30.0,0.0,13.0,7.0,94.0,0.0,10.0
4,Bathurst Regional (A),17.0,112.0,86.0,18.0,82.0,62.0,128.0,52.0,23137.0,...,226.0,216.0,621.0,985.0,39.0,152.0,135.0,2450.0,167.0,368.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1844,Unincorporated OT,9.0,14.0,0.0,200.0,0.0,10.0,0.0,0.0,0.0,...,69.0,0.0,3.0,45.0,131.0,17.0,5.0,20.0,5.0,22.0
1845,No fixed address,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
1846,Not applicable,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10751106.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:

# splitting dataframe by row index
industry_2016_prepro = industry_stack.iloc[:565,:]
industry_2011_prepro = industry_stack.iloc[565:1144,:]
industry_2006_prepro = industry_stack.iloc[1145:1849,:]
industry_2006_prepro

,lga,Air and Space Transport,Basic Material Wholesaling,Coal Mining,Defence,Forestry and Logging,Machinery and Equipment Manufacturing,Metal Ore Mining,Non-Metallic Mineral Product Manufacturing,Not applicable,...,new_accomodation,new_admin,new_agriculture,new_construction,new_education,new_electricity,new_finance,new_food,new_property,new_personal_services
1145,Albury (C),37.0,260.0,5.0,21.0,27.0,832.0,0.0,62.0,0.0,...,1423.0,0.0,115.0,862.0,1628.0,88.0,377.0,1526.0,337.0,2791.0
1146,Sydney Undefined,35.0,28.0,5.0,26.0,0.0,59.0,0.0,14.0,0.0,...,368.0,0.0,17.0,482.0,345.0,17.0,281.0,192.0,60.0,380.0
1147,Armidale Dumaresq (A),14.0,113.0,0.0,19.0,0.0,40.0,19.0,8.0,0.0,...,662.0,0.0,501.0,268.0,2347.0,36.0,190.0,711.0,114.0,1004.0
1148,Ashfield (A),0.0,26.0,0.0,0.0,0.0,67.0,0.0,12.0,0.0,...,622.0,0.0,6.0,241.0,853.0,10.0,105.0,837.0,537.0,995.0
1149,Auburn (A),22.0,807.0,0.0,32.0,9.0,2627.0,0.0,363.0,0.0,...,1059.0,0.0,45.0,1761.0,1854.0,58.0,672.0,2592.0,515.0,5535.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1844,Unincorporated OT,9.0,14.0,0.0,200.0,0.0,10.0,0.0,0.0,0.0,...,69.0,0.0,3.0,45.0,131.0,17.0,5.0,20.0,5.0,22.0
1845,No fixed address,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
1846,Not applicable,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10751106.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Mortgage payments

In [22]:
mortgage_2006 = pd.read_csv('ABS_data/2006/mortgage_2006_clean.csv') 
mortgage_2011 = pd.read_csv('ABS_data/2011/mortgage_2011_clean.csv')
mortgage_2016 = pd.read_csv('ABS_data/2016/mortgage_2016_clean.csv')

print(mortgage_2006.shape)
print(mortgage_2011.shape)
print(mortgage_2016.shape)

(678, 23)
(570, 24)
(556, 22)

In [23]:
cleaned_column_names = (mortgage_2006.columns
                        .str.strip()
                        .str.replace('((?<=[a-z0-9])[A-Z]|(?!^)[A-Z](?=[a-z]))', r'_\1')
                        .str.lower()
                        .str.replace('[ _-]+', '_')
                        .str.replace('[}{)(><.!?\\\\:;,-]', ''))
mortgage_2006.columns = cleaned_column_names
mortgage_2006 = mortgage_2006.drop(columns=['housing_loan_repayments_monthly_ranges_hlrd01', 'not_stated', 'not_applicable', 'unnamed_22'])
mortgage_2006

,lga,$1_$99,$100_$149,$150_$249,$250_$399,$400_$549,$550_$649,$650_$749,$750_$849,$850_$949,$950_$1049,$1050_$1199,$1200_$1399,$1400_$1599,$1600_$1999,$2000_$2399,$2400_$2999,$3000_$3999,$4000_and_over
0,Albury (C),53.0,29.0,79.0,150.0,375.0,192.0,379.0,275.0,529.0,393.0,638.0,810.0,520.0,671.0,338.0,139.0,81.0,56.0
1,Armidale Dumaresq (A),13.0,8.0,24.0,59.0,139.0,91.0,187.0,139.0,201.0,164.0,215.0,255.0,148.0,167.0,99.0,48.0,37.0,26.0
2,Ashfield (A),24.0,8.0,31.0,60.0,109.0,53.0,84.0,76.0,129.0,109.0,151.0,267.0,286.0,544.0,523.0,358.0,393.0,223.0
3,Auburn (A),35.0,9.0,37.0,73.0,185.0,67.0,141.0,135.0,199.0,229.0,302.0,482.0,391.0,809.0,715.0,524.0,460.0,207.0
4,Ballina (A),29.0,22.0,45.0,104.0,200.0,93.0,189.0,163.0,258.0,223.0,302.0,431.0,312.0,494.0,359.0,156.0,122.0,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,Unincorporated NT,3.0,10.0,5.0,7.0,19.0,3.0,10.0,14.0,6.0,12.0,12.0,21.0,12.0,11.0,16.0,0.0,7.0,3.0
674,Unincorporated ACT,419.0,217.0,601.0,891.0,1695.0,851.0,1533.0,1472.0,2044.0,2149.0,3103.0,4528.0,4204.0,7483.0,5592.0,2990.0,2024.0,1041.0
675,Unincorporated OT,0.0,0.0,0.0,0.0,3.0,3.0,6.0,3.0,0.0,3.0,11.0,4.0,3.0,8.0,3.0,0.0,4.0,3.0
676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
mortgage_2011 = mortgage_2011.drop(columns=['Mortgage Repayments (monthly) Ranges (MRERD)', 'Not applicable', 'Not stated', 'Unnamed: 23', 'Nil repayments'])
mortgage_2011 = mortgage_2011.rename(columns={'$1-$149': '$1_$99', '$150-$299': '$100_$149', '$300-$449': '$150_$249', '$450-$599': '$250_$399', '$600-$799': '$400_$549', '$800-$999': '$550_$649', '$1,000-$1,199': '$650_$749', '$1,200-$1,399': '$750_$849', '$1,400-$1,599': '$850_$949', '$1,600-$1,799': '$950_$1049', '$1,800-$1,999': '$1050_$1199', '$2,000-$2,199': '$1200_$1399', '$2,200-$2,399': '$1400_$1599', '$2,400-$2,599': '$1600_$1999', '$2,600-$2,999': '$2000_$2399', '$3,000-$3,999': '$2400_$2999', '$4,000-$4,999': '$3000_$3999'})
mortgage_2011[['$5000 and over', '$3000_$3999']] = mortgage_2011[['$5000 and over', '$3000_$3999']].fillna(0)

mortgage_2011 = mortgage_2011.rename(columns={'$5000 and over': '$4000_and_over'})
mortgage_2011

,lga,$1_$99,$100_$149,$150_$249,$250_$399,$400_$549,$550_$649,$650_$749,$750_$849,$850_$949,$950_$1049,$1050_$1199,$1200_$1399,$1400_$1599,$1600_$1999,$2000_$2399,$2400_$2999,$3000_$3999,$4000_and_over
0,Albury (C),56.0,77.0,175.0,168.0,334.0,522.0,589.0,818.0,684.0,666.0,430.0,531.0,214.0,91.0,248.0,230.0,78.0,60.0
1,Armidale Dumaresq (A),16.0,22.0,76.0,68.0,154.0,191.0,227.0,261.0,221.0,241.0,156.0,172.0,63.0,56.0,92.0,103.0,38.0,29.0
2,Ashfield (A),34.0,36.0,55.0,53.0,104.0,131.0,189.0,218.0,190.0,287.0,252.0,481.0,200.0,183.0,351.0,653.0,296.0,247.0
3,Auburn (C),48.0,55.0,122.0,96.0,198.0,250.0,385.0,445.0,461.0,604.0,420.0,859.0,375.0,345.0,586.0,901.0,310.0,163.0
4,Ballina (A),44.0,49.0,109.0,92.0,178.0,250.0,310.0,369.0,278.0,349.0,263.0,418.0,169.0,135.0,284.0,355.0,110.0,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,Unincorporated NT,3.0,0.0,12.0,9.0,6.0,8.0,8.0,13.0,11.0,7.0,12.0,16.0,7.0,8.0,9.0,12.0,3.0,0.0
566,Unincorporated ACT,483.0,543.0,864.0,780.0,1454.0,1934.0,2494.0,2586.0,2718.0,3437.0,3170.0,5425.0,3138.0,2390.0,5734.0,7199.0,2326.0,1448.0
567,Unincorp. Other Territories,0.0,3.0,0.0,0.0,3.0,3.0,4.0,3.0,3.0,7.0,8.0,4.0,0.0,0.0,3.0,4.0,3.0,0.0
568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [25]:
mortgage_2016 = mortgage_2016.drop(columns=['Nil repayments', 'Not stated', 'Not applicable'])

mortgage_2016 = mortgage_2016.rename(columns={'$1-$149': '$1_$99', '$150-$299': '$100_$149', '$300-$449': '$150_$249', '$450-$599': '$250_$399', '$600-$799': '$400_$549', '$800-$999': '$550_$649', '$1,000-$1,199': '$650_$749', '$1,200-$1,399': '$750_$849', '$1,400-$1,599': '$850_$949', '$1,600-$1,799': '$950_$1049', '$1,800-$1,999': '$1050_$1199', '$2,000-$2,199': '$1200_$1399', '$2,200-$2,399': '$1400_$1599', '$2,400-$2,599': '$1600_$1999', '$2,600-$2,999': '$2000_$2399', '$3,000-$3,999': '$2400_$2999', '$4,000-$4,999': '$3000_$3999','$5000 and over': '$4000_and_over'})

mortgage_2016

,lga,$1_$99,$100_$149,$150_$249,$250_$399,$400_$549,$550_$649,$650_$749,$750_$849,$850_$949,$950_$1049,$1050_$1199,$1200_$1399,$1400_$1599,$1600_$1999,$2000_$2399,$2400_$2999,$3000_$3999,$4000_and_over
0,Albury (C),58.0,72.0,170.0,146.0,328.0,530.0,639.0,856.0,669.0,707.0,416.0,537.0,182.0,77.0,239.0,221.0,55.0,44.0
1,Armidale Regional (A),15.0,42.0,79.0,77.0,145.0,214.0,294.0,313.0,275.0,260.0,136.0,208.0,55.0,29.0,111.0,129.0,39.0,43.0
2,Ballina (A),49.0,72.0,125.0,88.0,153.0,234.0,298.0,349.0,328.0,401.0,285.0,487.0,194.0,105.0,324.0,304.0,105.0,72.0
3,Balranald (A),3.0,3.0,13.0,16.0,28.0,27.0,24.0,23.0,3.0,10.0,6.0,4.0,0.0,0.0,0.0,0.0,3.0,4.0
4,Bathurst Regional (A),38.0,40.0,93.0,90.0,190.0,279.0,371.0,491.0,486.0,532.0,379.0,539.0,199.0,122.0,342.0,263.0,84.0,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,Migratory - Offshore - Shipping (ACT),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
552,Unincorp. Other Territories,0.0,5.0,7.0,11.0,11.0,21.0,39.0,30.0,26.0,34.0,14.0,26.0,9.0,3.0,14.0,13.0,8.0,4.0
553,Migratory - Offshore - Shipping (OT),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:

#CONCATENATE THEM TOGETHER
result4 = pd.concat([mortgage_2016, mortgage_2011], ignore_index=True, sort=False)
mortgage_stack = pd.concat([result4, mortgage_2006], ignore_index=True, sort=False)
#drop the columns with Nan values
mortgage_stack

,lga,$1_$99,$100_$149,$150_$249,$250_$399,$400_$549,$550_$649,$650_$749,$750_$849,$850_$949,$950_$1049,$1050_$1199,$1200_$1399,$1400_$1599,$1600_$1999,$2000_$2399,$2400_$2999,$3000_$3999,$4000_and_over
0,Albury (C),58.0,72.0,170.0,146.0,328.0,530.0,639.0,856.0,669.0,707.0,416.0,537.0,182.0,77.0,239.0,221.0,55.0,44.0
1,Armidale Regional (A),15.0,42.0,79.0,77.0,145.0,214.0,294.0,313.0,275.0,260.0,136.0,208.0,55.0,29.0,111.0,129.0,39.0,43.0
2,Ballina (A),49.0,72.0,125.0,88.0,153.0,234.0,298.0,349.0,328.0,401.0,285.0,487.0,194.0,105.0,324.0,304.0,105.0,72.0
3,Balranald (A),3.0,3.0,13.0,16.0,28.0,27.0,24.0,23.0,3.0,10.0,6.0,4.0,0.0,0.0,0.0,0.0,3.0,4.0
4,Bathurst Regional (A),38.0,40.0,93.0,90.0,190.0,279.0,371.0,491.0,486.0,532.0,379.0,539.0,199.0,122.0,342.0,263.0,84.0,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1799,Unincorporated NT,3.0,10.0,5.0,7.0,19.0,3.0,10.0,14.0,6.0,12.0,12.0,21.0,12.0,11.0,16.0,0.0,7.0,3.0
1800,Unincorporated ACT,419.0,217.0,601.0,891.0,1695.0,851.0,1533.0,1472.0,2044.0,2149.0,3103.0,4528.0,4204.0,7483.0,5592.0,2990.0,2024.0,1041.0
1801,Unincorporated OT,0.0,0.0,0.0,0.0,3.0,3.0,6.0,3.0,0.0,3.0,11.0,4.0,3.0,8.0,3.0,0.0,4.0,3.0
1802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
mortgage_stack = mortgage_stack.dropna(how={'any'},thresh = 1300, axis=1)

mortgage_stack = mortgage_stack[['lga'] + [x for x in mortgage_stack.columns if x not in ['lga']]]

# splitting dataframe by row index
mortgage_2016_prepro = mortgage_stack.iloc[:556,:]
mortgage_2011_prepro = mortgage_stack.iloc[556:1126,:]
mortgage_2006_prepro = mortgage_stack.iloc[1126:1804,:]
mortgage_2006_prepro

,lga,$1_$99,$100_$149,$150_$249,$250_$399,$400_$549,$550_$649,$650_$749,$750_$849,$850_$949,$950_$1049,$1050_$1199,$1200_$1399,$1400_$1599,$1600_$1999,$2000_$2399,$2400_$2999,$3000_$3999,$4000_and_over
1126,Albury (C),53.0,29.0,79.0,150.0,375.0,192.0,379.0,275.0,529.0,393.0,638.0,810.0,520.0,671.0,338.0,139.0,81.0,56.0
1127,Armidale Dumaresq (A),13.0,8.0,24.0,59.0,139.0,91.0,187.0,139.0,201.0,164.0,215.0,255.0,148.0,167.0,99.0,48.0,37.0,26.0
1128,Ashfield (A),24.0,8.0,31.0,60.0,109.0,53.0,84.0,76.0,129.0,109.0,151.0,267.0,286.0,544.0,523.0,358.0,393.0,223.0
1129,Auburn (A),35.0,9.0,37.0,73.0,185.0,67.0,141.0,135.0,199.0,229.0,302.0,482.0,391.0,809.0,715.0,524.0,460.0,207.0
1130,Ballina (A),29.0,22.0,45.0,104.0,200.0,93.0,189.0,163.0,258.0,223.0,302.0,431.0,312.0,494.0,359.0,156.0,122.0,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1799,Unincorporated NT,3.0,10.0,5.0,7.0,19.0,3.0,10.0,14.0,6.0,12.0,12.0,21.0,12.0,11.0,16.0,0.0,7.0,3.0
1800,Unincorporated ACT,419.0,217.0,601.0,891.0,1695.0,851.0,1533.0,1472.0,2044.0,2149.0,3103.0,4528.0,4204.0,7483.0,5592.0,2990.0,2024.0,1041.0
1801,Unincorporated OT,0.0,0.0,0.0,0.0,3.0,3.0,6.0,3.0,0.0,3.0,11.0,4.0,3.0,8.0,3.0,0.0,4.0,3.0
1802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Rent payments

In [28]:
rent_2006 = pd.read_csv('ABS_data/2006/rent_2006_clean.csv') 
rent_2011 = pd.read_csv('ABS_data/2011/rent_2011_clean.csv')
rent_2016 = pd.read_csv('ABS_data/2016/rent_2016_clean.csv')

print(rent_2006.shape)
print(rent_2011.shape)
print(rent_2016.shape)

(678, 21)
(568, 24)
(555, 26)

In [29]:
rent_2006 = rent_2006.drop(columns=['Rent (weekly) Ranges (RNTD01)', 'Not applicable', 'Not stated', 'Unnamed: 20'])
cleaned_column_names = (rent_2006.columns
                        .str.strip()
                        .str.replace('((?<=[a-z0-9])[A-Z]|(?!^)[A-Z](?=[a-z]))', r'_\1')
                        .str.lower()
                        .str.replace('[ _-]+', '_')
                        .str.replace('[}{)(><.!?\\\\:;,-]', ''))
rent_2006.columns = cleaned_column_names
rent_2006

,lga,$0_$49,$50_$74,$75_$99,$100_$119,$120_$139,$140_$159,$160_$179,$180_$199,$200_$224,$225_$249,$250_$274,$275_$299,$300_$349,$350_$449,$450_$549,$550_and_over
0,Albury (C),152.0,358.0,520.0,674.0,616.0,608.0,569.0,465.0,483.0,290.0,273.0,117.0,191.0,88.0,25.0,63.0
1,Armidale Dumaresq (A),181.0,168.0,190.0,237.0,293.0,375.0,367.0,325.0,356.0,145.0,112.0,36.0,59.0,33.0,3.0,30.0
2,Ashfield (A),144.0,136.0,85.0,89.0,102.0,142.0,221.0,371.0,899.0,890.0,1081.0,452.0,694.0,601.0,146.0,105.0
3,Auburn (A),179.0,291.0,148.0,192.0,169.0,279.0,559.0,737.0,877.0,666.0,1041.0,545.0,852.0,578.0,175.0,109.0
4,Ballina (A),206.0,256.0,151.0,190.0,204.0,289.0,304.0,312.0,574.0,353.0,510.0,266.0,428.0,261.0,44.0,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,Unincorporated NT,2934.0,485.0,373.0,146.0,146.0,131.0,64.0,24.0,62.0,33.0,21.0,17.0,22.0,30.0,18.0,75.0
674,Unincorporated ACT,1044.0,2746.0,1416.0,1280.0,1110.0,1052.0,1164.0,1251.0,1955.0,2185.0,3834.0,3254.0,5908.0,4295.0,942.0,641.0
675,Unincorporated OT,101.0,70.0,25.0,45.0,25.0,27.0,13.0,22.0,13.0,0.0,9.0,3.0,12.0,18.0,5.0,9.0
676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
rent_2011 = rent_2011.drop(columns=['Nil payments', 'Not stated', 'Not applicable', 'Unnamed: 23'])
rent_2011 = rent_2011.rename(columns={'$1-$74': '$0_$49', '$75-$99': '$50_$74', '$100-$124': '$75_$99', '$125-$149': '$100_$119', '$150-$174': '$120_$139', '$175-$199': '$140_$159', '$200-$224': '$160_$179', '$225-$249': '$180_$199', '$250-$274': '$200_$224', '$275-$299':'$225_$249' , '$300-$324': '$250_$274', '$325-$349': '$275_$299', '$350-$374': '$300_$349', '$375-$399': '$350_$449', '$400-$424': '$450_$549', '$425-$449': 'A', '$450-$549': 'A', '$550-$649': 'A','$650 and over': 'A'})
rent_2011.columns = ['lga', '$0_$49', '$50_$74', '$75_$99', '$100_$119', '$120_$139', '$140_$159', '$160_$179', '$180_$199', '$200_$224', '$225_$249', '$250_$274', '$275_$299', '$300_$349', '$350_$449', '$450_$549', 'A', 'A_2', 'A_3', 'A_4']
rent_2011

,lga,$0_$49,$50_$74,$75_$99,$100_$119,$120_$139,$140_$159,$160_$179,$180_$199,$200_$224,$225_$249,$250_$274,$275_$299,$300_$349,$350_$449,$450_$549,A,A_2,A_3,A_4
0,Albury (C),137,354,495,660,684,572,712,464,573,311,346,146,153,63,66,17,57,30,42
1,Armidale Dumaresq (A),86,134,163,200,305,348,371,224,305,164,206,82,117,67,62,23,31,4,18
2,Ashfield (A),41,107,56,90,103,102,179,115,260,252,588,426,818,591,669,249,744,287,242
3,Auburn (C),139,226,131,166,191,129,223,184,494,444,893,388,828,498,949,285,1421,407,214
4,Ballina (A),105,249,136,154,200,186,286,194,370,287,500,262,445,236,268,114,257,58,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,Wagait (S),0,0,0,0,0,0,3,0,3,0,3,0,0,0,0,0,0,0,0
564,West Arnhem (S),357,102,87,43,43,29,22,3,9,4,11,0,0,3,4,0,3,4,9
565,Unincorporated NT,643,189,86,39,119,27,34,13,14,9,11,3,17,3,9,0,22,33,74
566,Unincorporated ACT,1257,2346,1267,1071,1051,759,1225,776,1136,847,1893,1154,2935,2807,4240,2269,7241,2468,1653
567,Unincorp. Other Territories,96,31,14,31,28,14,18,8,18,10,13,0,6,0,0,0,8,3,16

In [31]:
SUM_tops = rent_2011['A'] + rent_2011['A_2'] + rent_2011['A_3']+rent_2011['A_4'] 
rent_2011['new_a'] = SUM_tops
rent_2011 = rent_2011.drop(columns=['A', 'A_2', 'A_3', 'A_4'])
rent_2011 = rent_2011.rename(columns={'new_a': '$550_and_over'})
rent_2011

,lga,$0_$49,$50_$74,$75_$99,$100_$119,$120_$139,$140_$159,$160_$179,$180_$199,$200_$224,$225_$249,$250_$274,$275_$299,$300_$349,$350_$449,$450_$549,$550_and_over
0,Albury (C),137,354,495,660,684,572,712,464,573,311,346,146,153,63,66,146
1,Armidale Dumaresq (A),86,134,163,200,305,348,371,224,305,164,206,82,117,67,62,76
2,Ashfield (A),41,107,56,90,103,102,179,115,260,252,588,426,818,591,669,1522
3,Auburn (C),139,226,131,166,191,129,223,184,494,444,893,388,828,498,949,2327
4,Ballina (A),105,249,136,154,200,186,286,194,370,287,500,262,445,236,268,495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,Wagait (S),0,0,0,0,0,0,3,0,3,0,3,0,0,0,0,0
564,West Arnhem (S),357,102,87,43,43,29,22,3,9,4,11,0,0,3,4,16
565,Unincorporated NT,643,189,86,39,119,27,34,13,14,9,11,3,17,3,9,129
566,Unincorporated ACT,1257,2346,1267,1071,1051,759,1225,776,1136,847,1893,1154,2935,2807,4240,13631
567,Unincorp. Other Territories,96,31,14,31,28,14,18,8,18,10,13,0,6,0,0,27

In [32]:
rent_2016 = rent_2016.drop(columns=['Nil payments', 'Not stated', 'Not applicable'])
rent_2016 = rent_2016.rename(columns={'$1-$74': '$0_$49', '$75-$99': '$50_$74', '$100-$124': '$75_$99', '$125-$149': '$100_$119', '$150-$174': '$120_$139', '$175-$199': '$140_$159', '$200-$224': '$160_$179', '$225-$249': '$180_$199', '$250-$274': '$200_$224', '$275-$299': '$225_$249', '$300-$324': '$250_$274', '$325-$349': '$275_$299', '$350-$374': '$300_$349', '$375-$399': '$350_$449', '$400-$424': '$450_$549', '$425-$449': 'A', '$450-$549': 'B', '$550-$649': 'C', '$650-$749': 'D', '$750-$849': 'E', '$850-$949': 'F', '$950 and over': 'G'})

In [33]:
SUM_tops = rent_2016['A'] + rent_2016['B'] + rent_2016['C']+rent_2016['D'] +rent_2016['E']+rent_2016['F']+rent_2016['G']
rent_2016['new_a'] = SUM_tops
rent_2016 = rent_2016.drop(columns=['A', 'B', 'C', 'D', 'E','F','G'])
rent_2016 = rent_2016.rename(columns={'new_a': '$550_and_over'})
rent_2016

,lga,$0_$49,$50_$74,$75_$99,$100_$119,$120_$139,$140_$159,$160_$179,$180_$199,$200_$224,$225_$249,$250_$274,$275_$299,$300_$349,$350_$449,$450_$549,$550_and_over
0,Albury (C),57.0,100.0,373.0,362.0,746.0,515.0,730.0,544.0,780.0,537.0,517.0,249.0,328.0,154.0,208.0,174.0
1,Armidale Regional (A),51.0,60.0,168.0,124.0,282.0,226.0,412.0,231.0,417.0,220.0,376.0,189.0,263.0,136.0,124.0,215.0
2,Ballina (A),24.0,31.0,299.0,93.0,137.0,84.0,209.0,124.0,276.0,239.0,430.0,255.0,418.0,268.0,381.0,1101.0
3,Balranald (A),19.0,7.0,16.0,25.0,40.0,28.0,32.0,8.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Bathurst Regional (A),61.0,46.0,219.0,108.0,234.0,203.0,367.0,213.0,516.0,399.0,544.0,271.0,378.0,201.0,225.0,190.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550,Unincorporated ACT,663.0,1386.0,1988.0,973.0,1168.0,781.0,1094.0,905.0,1311.0,1012.0,2827.0,2168.0,3876.0,3255.0,4692.0,15855.0
551,Migratory - Offshore - Shipping (ACT),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
552,Unincorp. Other Territories,71.0,33.0,46.0,31.0,63.0,31.0,48.0,17.0,17.0,10.0,28.0,5.0,13.0,8.0,10.0,32.0
553,Migratory - Offshore - Shipping (OT),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:

#CONCATENATE THEM TOGETHER
result8 = pd.concat([rent_2016, rent_2011], ignore_index=True, sort=False)
rent_stack = pd.concat([result8, rent_2006], ignore_index=True, sort=False)
#drop the columns with Nan values
rent_stack = rent_stack.dropna(how={'any'},thresh = 1300, axis=1)
#rent_stack = rent_stack[['lga'] + [x for x in cob_stack.columns if x not in ['lga']]]

# splitting dataframe by row index
rent_2016_prepro = rent_stack.iloc[:555,:]
rent_2011_prepro = rent_stack.iloc[555:1123,:]
rent_2006_prepro = rent_stack.iloc[1123:1801,:]
rent_2006_prepro

,lga,$0_$49,$50_$74,$75_$99,$100_$119,$120_$139,$140_$159,$160_$179,$180_$199,$200_$224,$225_$249,$250_$274,$275_$299,$300_$349,$350_$449,$450_$549,$550_and_over
1123,Albury (C),152.0,358.0,520.0,674.0,616.0,608.0,569.0,465.0,483.0,290.0,273.0,117.0,191.0,88.0,25.0,63.0
1124,Armidale Dumaresq (A),181.0,168.0,190.0,237.0,293.0,375.0,367.0,325.0,356.0,145.0,112.0,36.0,59.0,33.0,3.0,30.0
1125,Ashfield (A),144.0,136.0,85.0,89.0,102.0,142.0,221.0,371.0,899.0,890.0,1081.0,452.0,694.0,601.0,146.0,105.0
1126,Auburn (A),179.0,291.0,148.0,192.0,169.0,279.0,559.0,737.0,877.0,666.0,1041.0,545.0,852.0,578.0,175.0,109.0
1127,Ballina (A),206.0,256.0,151.0,190.0,204.0,289.0,304.0,312.0,574.0,353.0,510.0,266.0,428.0,261.0,44.0,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1796,Unincorporated NT,2934.0,485.0,373.0,146.0,146.0,131.0,64.0,24.0,62.0,33.0,21.0,17.0,22.0,30.0,18.0,75.0
1797,Unincorporated ACT,1044.0,2746.0,1416.0,1280.0,1110.0,1052.0,1164.0,1251.0,1955.0,2185.0,3834.0,3254.0,5908.0,4295.0,942.0,641.0
1798,Unincorporated OT,101.0,70.0,25.0,45.0,25.0,27.0,13.0,22.0,13.0,0.0,9.0,3.0,12.0,18.0,5.0,9.0
1799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Occupation

In [35]:
occupation_2006 = pd.read_csv('ABS_data/2006/occupation_2006_clean.csv') 
occupation_2011 = pd.read_csv('ABS_data/2011/occupations_2011_clean.csv')
occupation_2016 = pd.read_csv('ABS_data/2016/occupations_2016_clean.csv')

print(occupation_2006.shape)
print(occupation_2011.shape)
print(occupation_2016.shape)

(705, 15)
(579, 12)
(563, 12)

In [36]:
occupation_2016_sort = occupation_2016.sort_index(axis=1)
occupation_2011_sort = occupation_2011.sort_index(axis=1) 
occupation_2006_sort = occupation_2006.sort_index(axis=1) 


#CONCATENATE THEM TOGETHER
result5 = pd.concat([occupation_2016_sort, occupation_2011_sort], ignore_index=True, sort=False)
occupation_stack = pd.concat([result5, occupation_2006_sort], ignore_index=True, sort=False)
#drop the columns with Nan values
occupation_stack = occupation_stack.dropna(how={'any'},thresh = 10, axis=1)

occupation_stack[['Tradespersons and Related Workers', 'Labourers and Related Workers', 'Labourers', 'Technicians and Trades Workers']] = occupation_stack[['Tradespersons and Related Workers', 'Labourers and Related Workers', 'Labourers', 'Technicians and Trades Workers']].fillna(0)
occupation_stack[['Machinery Operators and Drivers']] = occupation_stack[['Machinery Operators and Drivers']].fillna(0)
occupation_stack["new_labourers"] = occupation_stack['Tradespersons and Related Workers'] + occupation_stack['Labourers'] + occupation_stack['Labourers and Related Workers'] + occupation_stack['Technicians and Trades Workers'] + occupation_stack['Machinery Operators and Drivers']
occupation_stack = occupation_stack.drop(columns=['Tradespersons and Related Workers', 'Technicians and Trades Workers', 'Labourers', 'Labourers and Related Workers', 'Machinery Operators and Drivers'])
occupation_stack

,Clerical and Administrative Workers,Community and Personal Service Workers,Inadequately described,Managers,Not applicable,Not stated,Professionals,Sales Workers,lga,Advanced Clerical and Service Workers,Associate Professionals,"Elementary Clerical, Sales and Service Workers","Intermediate Clerical, Sales and Service Workers",Intermediate Production and Transport Workers,Managers and Administrators,new_labourers
0,3004.0,2819.0,194.0,2508.0,28172.0,138.0,4500.0,2508.0,Albury (C),NaN,NaN,NaN,NaN,NaN,NaN,7223.0
1,1526.0,1431.0,86.0,1816.0,17131.0,76.0,2868.0,1187.0,Armidale Regional (A),NaN,NaN,NaN,NaN,NaN,NaN,3335.0
2,2031.0,2099.0,138.0,2295.0,24319.0,151.0,3895.0,1856.0,Ballina (A),NaN,NaN,NaN,NaN,NaN,NaN,5006.0
3,105.0,96.0,7.0,218.0,1301.0,17.0,83.0,39.0,Balranald (A),NaN,NaN,NaN,NaN,NaN,NaN,408.0
4,2180.0,2446.0,162.0,2167.0,23137.0,126.0,3435.0,1777.0,Bathurst Regional (A),NaN,NaN,NaN,NaN,NaN,NaN,5867.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1842,NaN,NaN,19.0,NaN,0.0,0.0,193.0,NaN,Unincorporated OT,19.0,181.0,60.0,164.0,110.0,157.0,364.0
1843,NaN,NaN,0.0,NaN,0.0,0.0,3.0,NaN,No fixed address,0.0,3.0,0.0,0.0,7.0,0.0,12.0
1844,NaN,NaN,0.0,NaN,10751106.0,0.0,0.0,NaN,Not applicable,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [37]:
occupation_stack[['Clerical and Administrative Workers', 'Advanced Clerical and Service Workers', 'Elementary Clerical, Sales and Service Workers', 'Intermediate Clerical, Sales and Service Workers', 'Managers', 'Managers and Administrators', 'Associate Professionals']] = occupation_stack[['Clerical and Administrative Workers', 'Advanced Clerical and Service Workers', 'Elementary Clerical, Sales and Service Workers', 'Intermediate Clerical, Sales and Service Workers', 'Managers', 'Managers and Administrators', 'Associate Professionals']].fillna(0)
occupation_stack["new_clerical"] = occupation_stack['Clerical and Administrative Workers'] + occupation_stack['Advanced Clerical and Service Workers'] + occupation_stack['Elementary Clerical, Sales and Service Workers'] + occupation_stack['Intermediate Clerical, Sales and Service Workers'] + occupation_stack['Associate Professionals']
occupation_stack = occupation_stack.drop(columns=['Clerical and Administrative Workers', 'Advanced Clerical and Service Workers', 'Elementary Clerical, Sales and Service Workers', 'Intermediate Clerical, Sales and Service Workers', 'Associate Professionals'])
occupation_stack["new_managers"] = occupation_stack['Managers'] + occupation_stack['Managers and Administrators']
occupation_stack = occupation_stack.drop(columns=['Managers', 'Managers and Administrators'])

In [38]:
occupation_stack = occupation_stack.dropna(how={'any'},thresh = 500, axis=1)
occupation_stack = occupation_stack[['lga'] + [x for x in occupation_stack.columns if x not in ['lga']]]
occupation_stack

,lga,Community and Personal Service Workers,Inadequately described,Not applicable,Not stated,Professionals,Sales Workers,Intermediate Production and Transport Workers,new_labourers,new_clerical,new_managers
0,Albury (C),2819.0,194.0,28172.0,138.0,4500.0,2508.0,NaN,7223.0,3004.0,2508.0
1,Armidale Regional (A),1431.0,86.0,17131.0,76.0,2868.0,1187.0,NaN,3335.0,1526.0,1816.0
2,Ballina (A),2099.0,138.0,24319.0,151.0,3895.0,1856.0,NaN,5006.0,2031.0,2295.0
3,Balranald (A),96.0,7.0,1301.0,17.0,83.0,39.0,NaN,408.0,105.0,218.0
4,Bathurst Regional (A),2446.0,162.0,23137.0,126.0,3435.0,1777.0,NaN,5867.0,2180.0,2167.0
...,...,...,...,...,...,...,...,...,...,...,...
1842,Unincorporated OT,NaN,19.0,0.0,0.0,193.0,NaN,110.0,364.0,424.0,157.0
1843,No fixed address,NaN,0.0,0.0,0.0,3.0,NaN,7.0,12.0,3.0,0.0
1844,Not applicable,NaN,0.0,10751106.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [39]:

# splitting dataframe by row index
occupation_2016_prepro = occupation_stack.iloc[:563,:]
occupation_2011_prepro = occupation_stack.iloc[563:1142,:]
occupation_2006_prepro = occupation_stack.iloc[1142:1847,:]
occupation_2006_prepro

,lga,Community and Personal Service Workers,Inadequately described,Not applicable,Not stated,Professionals,Sales Workers,Intermediate Production and Transport Workers,new_labourers,new_clerical,new_managers
1142,Not stated,NaN,16277.0,0.0,62805.0,41407.0,NaN,45432.0,127168.0,127332.0,21190.0
1143,Albury (C),NaN,139.0,0.0,29.0,3797.0,NaN,1969.0,4210.0,10441.0,1376.0
1144,Sydney Undefined,NaN,167.0,0.0,44.0,1277.0,NaN,444.0,1400.0,2389.0,387.0
1145,Armidale Dumaresq (A),NaN,67.0,0.0,9.0,2601.0,NaN,428.0,1660.0,4646.0,874.0
1146,Ashfield (A),NaN,68.0,0.0,18.0,2353.0,NaN,421.0,1297.0,4693.0,792.0
...,...,...,...,...,...,...,...,...,...,...,...
1842,Unincorporated OT,NaN,19.0,0.0,0.0,193.0,NaN,110.0,364.0,424.0,157.0
1843,No fixed address,NaN,0.0,0.0,0.0,3.0,NaN,7.0,12.0,3.0,0.0
1844,Not applicable,NaN,0.0,10751106.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

### Religion

In [40]:
religion_2006 = pd.read_csv('ABS_data/2006/religion_2006_lga_clean.csv') 
religion_2011 = pd.read_csv('ABS_data/2011/religions_2011_lga_clean.csv')
religion_2016 = pd.read_csv('ABS_data/2016/religions_2016_lga_clean.csv')

print(religion_2006.shape)
print(religion_2011.shape)
print(religion_2016.shape)

(685, 10)
(577, 10)
(563, 10)

In [41]:
religion_2016_sort = religion_2016.sort_index(axis=1)
religion_2011_sort = religion_2011.sort_index(axis=1) 
religion_2006_sort = religion_2006.sort_index(axis=1) 


#CONCATENATE THEM TOGETHER
result1 = pd.concat([religion_2016_sort, religion_2011_sort], ignore_index=True, sort=False)
religion_stack = pd.concat([result1, religion_2006_sort], ignore_index=True, sort=False)
#drop the columns with Nan values
religion_stack = religion_stack.dropna(how={'any'},thresh = 1300, axis=1)

religion_stack = religion_stack[['lga'] + [x for x in religion_stack.columns if x not in ['lga']]]


# splitting dataframe by row index
religion_2016_prepro = religion_stack.iloc[:563,:]
religion_2011_prepro = religion_stack.iloc[563:1140,:]
religion_2006_prepro = religion_stack.iloc[1140:1825,:]
religion_2011_prepro

,lga,Buddhism,Christianity,Hinduism,Islam,Judaism,Not stated,Other Religions
563,Albury (C),440,32861,450,237,26,3682,207
564,Armidale Dumaresq (A),292,15699,100,351,18,2129,140
565,Ashfield (A),2173,20857,2422,696,120,3703,282
566,Auburn (C),6732,25227,3771,18800,34,7349,803
567,Ballina (A),516,26731,49,39,52,2840,195
...,...,...,...,...,...,...,...,...
1135,No Usual Address (NT),31,880,5,13,3,363,10
1136,Unincorporated ACT,9328,196762,6039,7422,670,26924,2767
1137,No Usual Address (ACT),13,256,4,9,0,104,8
1138,Unincorp. Other Territories,353,589,7,729,4,911,59
1139,No Usual Address (OT),0,13,0,0,0,0,0

### Study level

In [42]:
study_level_2006 = pd.read_csv('ABS_data/2006/skill_level_clean_2006.csv') 
study_level_2011 = pd.read_csv('ABS_data/2011/skill_level_2011_lga_clean.csv')
study_level_2016 = pd.read_csv('ABS_data/2016/skill_level_2016_lga_clean.csv')

print(study_level_2006.shape)
print(study_level_2011.shape)
print(study_level_2016.shape)

(687, 10)
(586, 9)
(563, 9)

In [43]:
study_level_2016_sort = study_level_2016.sort_index(axis=1)
study_level_2011_sort = study_level_2011.sort_index(axis=1) 
study_level_2006_sort = study_level_2006.sort_index(axis=1) 


#CONCATENATE THEM TOGETHER
result1 = pd.concat([study_level_2016_sort, study_level_2011_sort], ignore_index=True, sort=False)
study_level_stack = pd.concat([result1, study_level_2006_sort], ignore_index=True, sort=False)
#drop the columns with Nan values
study_level_stack = study_level_stack.dropna(how={'any'},thresh = 1300, axis=1)

study_level_stack = study_level_stack[['lga'] + [x for x in study_level_stack.columns if x not in ['lga']]]

# splitting dataframe by row index
study_level_2016_prepro = study_level_stack.iloc[:563,:]
study_level_2011_prepro = study_level_stack.iloc[563:1149,:]
study_level_2006_prepro = study_level_stack.iloc[1149:1836,:]

study_level_2006_prepro

,lga,Advanced Diploma and Diploma Level,Bachelor Degree Level,Certificate Level,Graduate Diploma and Graduate Certificate Level,Level of education inadequately described,Level of education not stated,Not applicable,Postgraduate Degree Level
1149,Albury (C),2371.0,3351.0,7381.0,571.0,587.0,4048.0,27512.0,458.0
1150,Armidale Dumaresq (A),1284.0,2351.0,2976.0,351.0,312.0,1833.0,13225.0,1046.0
1151,Ashfield (A),2715.0,6604.0,3396.0,697.0,559.0,4598.0,18417.0,2675.0
1152,Auburn (A),3193.0,6042.0,4791.0,332.0,716.0,9349.0,38786.0,1759.0
1153,Ballina (A),2350.0,3207.0,6163.0,473.0,612.0,3202.0,21911.0,553.0
...,...,...,...,...,...,...,...,...,...
1831,No Usual Address,34.0,113.0,82.0,9.0,14.0,69.0,358.0,32.0
1832,Unincorporated OT,88.0,135.0,308.0,24.0,29.0,254.0,1439.0,22.0
1833,No Usual Address,3.0,3.0,0.0,0.0,0.0,11.0,7.0,0.0
1834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Merging all sources of data into years

In [44]:
#merge 2006 df
#cob_2006
df_2006 = pd.merge(cob_2006_prepro,income_2006_prepro , how='inner', on=['lga'])
df_2006 = pd.merge(df_2006,ancestry_2006_prepro, how='inner', on=['lga'])
df_2006 = pd.merge(df_2006, industry_2006_prepro, how='inner', on=['lga'])
df_2006 = pd.merge(df_2006, mortgage_2006_prepro, how='inner', on=['lga'])
df_2006 = pd.merge(df_2006, rent_2006_prepro, how='inner', on=['lga'])
df_2006 = pd.merge(df_2006, occupation_2006_prepro, how='inner', on=['lga'])
df_2006 = pd.merge(df_2006, religion_2006_prepro, how='inner', on=['lga'])
df_2006 = pd.merge(df_2006, study_level_2006_prepro, how='inner', on=['lga'])
df_2006 = df_2006.drop_duplicates(subset=['lga'], keep='first')

#df_2006 = df_2006.dropna(how={'any'},thresh = 5, axis=1)
df_2006.columns = ['lga', 'Adelie Land (France)', 'Afghanistan', 'Albania', 'Algeria', 'Americas, nfd', 'Andorra', 'Angola', 'Anguilla', 'Antarctica, nfd', 'Antigua and Barbuda', 'Argentina', 'Argentinian Antarctic Territory', 'Armenia', 'Aruba', 'At sea', 'Australia', 'Australia (includes External Territories), nfd', 'Australian Antarctic Territory', 'Australian External Territories, nec', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Antarctic Territory', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Caribbean, nfd', 'Cayman Islands', 'Central African Republic', 'Central America, nfd', 'Central Asia, nfd', 'Central and West Africa, nfd', 'Chad', 'Chile', 'Chilean Antarctic Territory', 'Chinese Asia (includes Mongolia), nfd', 'Colombia', 'Comoros', 'Congo, Democratic Republic of', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Eastern Europe, nfd', 'Ecuador', 'Egypt', 'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Falkland Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Gaza Strip and West Bank', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hong Kong (SAR of China)', 'Hungary', 'Iceland', 'Inadequately described_x', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Japan and the Koreas, nfd', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Democratic People's Republic of (North)", 'Korea, Republic of (South)', 'Kuwait', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg_x', 'Macau (SAR of China)', 'Madagascar', 'Mainland South-East Asia, nfd', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Maritime South-East Asia, nfd', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Melanesia, nfd', 'Mexico', 'Micronesia, Federated States of', 'Micronesia, nfd', 'Middle East, nfd', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'North Africa and the Middle East, nfd', 'North Africa, nfd', 'North-East Asia, nfd', 'North-West Europe, nfd', 'Northern America, nfd', 'Northern Europe, nfd', 'Northern Ireland', 'Northern Mariana Islands', 'Norway', 'Not stated_x', 'Oceania and Antarctica, nfd', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Polynesia (excludes Hawaii), nec', 'Polynesia (excludes Hawaii), nfd', 'Portugal', 'Puerto Rico', 'Qatar', 'Queen Maud Land (Norway)', 'Romania', 'Ross Dependency (New Zealand)', 'Russian Federation', 'Rwanda', 'Samoa', 'Samoa, American', 'San Marino', 'Saudi Arabia', 'Scotland', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South America, nec', 'South America, nfd', 'South Eastern Europe, nfd', 'South-East Asia, nfd', 'Southern Asia, nfd', 'Southern Europe, nfd', 'Southern and Central Asia, nfd', 'Southern and East Africa, nec', 'Southern and East Africa, nfd', 'Southern and Eastern Europe, nfd', 'Spain', 'Sri Lanka', 'St Helena', 'St Kitts and Nevis', 'St Lucia', 'St Pierre and Miquelon', 'St Vincent and the Grenadines', 'Sub-Saharan Africa, nfd', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Virgin Islands, British', 'Virgin Islands, United States', 'Wales', 'Wallis and Futuna', 'Western Europe, nfd', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe', '$1_$149', '$150_$249_x', '$250_$399_x', '$400_$599', '$600_$799', '$800_$999', '$1600_$1999_x', '$1000_$1299', '$2000_or_more', 'Acehnese', 'Afghan', 'African American', 'African, so described', 'Afrikaner', 'Akan', 'Albanian', 'Algerian', 'American', 'Amhara', 'Anglo-Burmese', 'Anglo-Indian', 'Angolan', 'Arab, nfd', 'Argentinian', 'Armenian', 'Asian, so described', 'Australian', 'Australian Aboriginal', 'Australian Peoples, nfd', 'Australian South Sea Islander', 'Austrian', 'Azeri', 'Balinese', 'Barbadian', 'Basque', 'Batswana', 'Belarusan', 'Belgian', 'Bengali', 'Berber', 'Bermudan', 'Bolivian', 'Bosnian', 'Brazilian', 'British, nfd', 'Bruneian', 'Bulgarian', 'Burgher', 'Burmese', 'Canadian', 'Caribbean Islander, nfd', 'Catalan', 'Caucasian, so described', 'Central American, nfd', 'Central Asian, nfd', 'Central and West African, nfd', 'Channel Islander', 'Chilean', 'Chinese', 'Chinese Asian, nfd', 'Colombian', 'Cook Islander', 'Coptic', 'Costa Rican', 'Creole, so described', 'Croatian', 'Cuban', 'Cypriot', 'Czech', 'Danish', 'Dinka', 'Dutch', 'Eastern European, nfd', 'Ecuadorian', 'Egyptian', 'English', 'Eritrean', 'Estonian', 'Ethiopian', 'Eurasian, so described', 'European, so described', 'Fijian', 'Filipino', 'Finnish', 'Flemish', 'French', 'French Canadian', 'Frisian', 'Georgian', 'German', 'Ghanaian', 'Gibraltarian', 'Greek', 'Guatemalan', 'Gujarati', 'Guyanese', 'Hawaiian', 'Hazara', 'Hmong', 'Hungarian', 'Hutu', 'I-Kiribati', 'Icelandic', 'Inadequately described_y', 'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Irish', 'Italian', 'Ivorean', 'Jamaican', 'Japanese', 'Javanese', 'Jewish', 'Jordanian', 'Kadazan', 'Karen', 'Kazakh', 'Kenyan', 'Korean', 'Kurdish', 'Kuwaiti', 'Lao', 'Latvian', 'Lebanese', 'Liberian', 'Libyan', 'Lithuanian', 'Luxembourg_y', 'Macedonian', 'Madurese', 'Mainland South-East Asian, nfd', 'Malawian', 'Malay', 'Malayali', 'Maldivian', 'Maltese', 'Manx', 'Maori', 'Maritime South-East Asian, nfd', 'Masai', 'Mauritian', 'Mayan', 'Melanesian and Papuan, nfd', 'Mexican', 'Micronesian, nfd', 'Moldovan', 'Mon', 'Mongolian', 'Montenegrin', 'Moroccan', 'Mozambican', 'Native North American Indian', 'Nauruan', 'Nepalese', 'New Caledonian', 'New Zealand Peoples, nfd', 'New Zealander', 'Ni-Vanuatu', 'Nicaraguan', 'Nigerian', 'Niuean', 'North African and Middle Eastern, nfd', 'North American, nfd', 'North-East Asian, nfd', 'North-West European, nfd', 'Northern European, nfd', 'Norwegian', 'Not stated_y', 'Nuer', 'Oceanian, nfd', 'Oromo', 'Other North African and Middle Eastern, nfd', 'Other North-East Asian, nfd', 'Pakistani', 'Palestinian', 'Papua New Guinean', 'Paraguayan', 'Pathan', 'Peruvian', 'Polish', 'Polynesian, nfd', 'Portuguese', 'Puerto Rican', 'Punjabi', 'Romanian', 'Russian', 'Salvadoran', 'Samoan', 'Saudi Arabian', 'Scottish', 'Serbian', 'Seychellois', 'Sierra Leonean', 'Sikh', 'Singaporean', 'Sinhalese', 'Slovak', 'Slovene', 'Solomon Islander', 'Somali', 'Sorb/Wend', 'South African', 'South American, nfd', 'South Eastern European, nfd', 'South-East Asian, nfd', 'Southern Asian, nfd', 'Southern European, nfd', 'Southern and Central Asian, nfd', 'Southern and East African, nfd', 'Southern and Eastern European, nfd', 'Spanish', 'Sub-Saharan African, nfd', 'Sudanese', 'Sundanese', 'Swedish', 'Swiss', 'Syrian', 'Tahitian', 'Taiwanese', 'Tajik', 'Tanzanian', 'Tatar', 'Temoq', 'Thai', 'Tibetan', 'Tigrayan', 'Tigre', 'Timorese', 'Tokelauan', 'Tongan', 'Torres Strait Islander', 'Tunisian', 'Turkish', 'Turkmen', 'Tuvaluan', 'Ugandan', 'Uighur', 'Ukrainian', 'Uruguayan', 'Uzbek', 'Venezuelan', 'Vietnamese', 'Vlach', 'Welsh', 'Western European, nfd', 'Yemeni', 'Yoruba', 'Zambian', 'Zimbabwean', 'Zulu', 'Air and Space Transport', 'Basic Material Wholesaling', 'Coal Mining', 'Defence', 'Forestry and Logging', 'Machinery and Equipment Manufacturing', 'Metal Ore Mining', 'Non-Metallic Mineral Product Manufacturing', 'Not applicable_x', 'Not stated_x_2', 'Oil and Gas Extraction', 'Other Transport', 'Rail Transport', 'Road Transport', 'Water Supply, Sewerage and Drainage Services', 'Water Transport', 'new_accomodation', 'new_admin', 'new_agriculture', 'new_construction', 'new_education', 'new_electricity', 'new_finance', 'new_food', 'new_property', 'new_personal_services', '$1_$99', '$100_$149', '$150_$249_y', '$250_$399_y', '$400_$549', '$550_$649', '$650_$749', '$750_$849', '$850_$949', '$950_$1049', '$1050_$1199', '$1200_$1399', '$1400_$1599', '$1600_$1999_y', '$2000_$2399', '$2400_$2999', '$3000_$3999', '$4000_and_over', '$0_$49', '$50_$74', '$75_$99', '$100_$119', '$120_$139', '$140_$159', '$160_$179', '$180_$199', '$200_$224', '$225_$249', '$250_$274', '$275_$299', '$300_$349', '$350_$449', '$450_$549', '$550_and_over', 'Community and Personal Service Workers', 'Inadequately described', 'Not applicable_y', 'Not stated_y_2', 'Professionals', 'Sales Workers', 'Intermediate Production and Transport Workers', 'new_labourers', 'new_clerical', 'new_managers', 'Buddhism', 'Christianity', 'Hinduism', 'Islam', 'Judaism', 'Not stated', 'Other Religions', 'Advanced Diploma and Diploma Level', 'Bachelor Degree Level', 'Certificate Level', 'Graduate Diploma and Graduate Certificate Level', 'Level of education inadequately described', 'Level of education not stated', 'Not applicable', 'Postgraduate Degree Level']
df_2006

,lga,Adelie Land (France),Afghanistan,Albania,Algeria,"Americas, nfd",Andorra,Angola,Anguilla,"Antarctica, nfd",...,Not stated,Other Religions,Advanced Diploma and Diploma Level,Bachelor Degree Level,Certificate Level,Graduate Diploma and Graduate Certificate Level,Level of education inadequately described,Level of education not stated,Not applicable,Postgraduate Degree Level
0,Albury (C),0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4284,138,2371.0,3351.0,7381.0,571.0,587.0,4048.0,27512.0,458.0
1,Armidale Dumaresq (A),0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2319,135,1284.0,2351.0,2976.0,351.0,312.0,1833.0,13225.0,1046.0
2,Ashfield (A),0.0,4.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,...,4696,281,2715.0,6604.0,3396.0,697.0,559.0,4598.0,18417.0,2675.0
3,Auburn (A),0.0,1681.0,5.0,41.0,0.0,0.0,5.0,0.0,0.0,...,9037,419,3193.0,6042.0,4791.0,332.0,716.0,9349.0,38786.0,1759.0
4,Ballina (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3515,164,2350.0,3207.0,6163.0,473.0,612.0,3202.0,21911.0,553.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,Yuendumu (CGC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,66,0,18.0,15.0,32.0,4.0,4.0,26.0,581.0,9.0
1182,Yugul Mangi (CGC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,178,4,23.0,28.0,52.0,6.0,11.0,163.0,1356.0,3.0
1183,Unincorporated NT,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,...,6468,2338,709.0,920.0,2598.0,142.0,159.0,4436.0,21427.0,131.0
1184,Unincorporated ACT,0.0,233.0,12.0,13.0,0.0,0.0,15.0,0.0,0.0,...,33012,2107,22011.0,51544.0,34489.0,9176.0,3963.0,21236.0,163088.0,17823.0
1185,Unincorporated OT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,217,24,88.0,135.0,308.0,24.0,29.0,254.0,1439.0,22.0

In [45]:
#df_2006.to_csv("merged_2006_data.csv")

In [46]:
df_2011 = pd.merge(cob_2011_prepro, income_2011_prepro, how='inner', on=['lga'])
df_2011 = pd.merge(df_2011, ancestry_2011_prepro, how='inner', on=['lga'])
df_2011 = pd.merge(df_2011, industry_2011_prepro, how='inner', on=['lga'])
df_2011 = pd.merge(df_2011, mortgage_2011_prepro, how='inner', on=['lga'])
df_2011 = pd.merge(df_2011, rent_2011_prepro, how='inner', on=['lga'])
df_2011 = pd.merge(df_2011, occupation_2011_prepro, how='inner', on=['lga'])
df_2011 = pd.merge(df_2011, religion_2011_prepro, how='inner', on=['lga'])
df_2011 = pd.merge(df_2011, study_level_2011_prepro, how='inner', on=['lga'])
df_2011 = df_2011.drop_duplicates(subset=['lga'], keep='first')

df_2011.columns = ['lga', 'Adelie Land (France)', 'Afghanistan', 'Albania', 'Algeria', 'Americas, nfd', 'Andorra', 'Angola', 'Anguilla', 'Antarctica, nfd', 'Antigua and Barbuda', 'Argentina', 'Argentinian Antarctic Territory', 'Armenia', 'Aruba', 'At sea', 'Australia', 'Australia (includes External Territories), nfd', 'Australian Antarctic Territory', 'Australian External Territories, nec', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Antarctic Territory', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Caribbean, nfd', 'Cayman Islands', 'Central African Republic', 'Central America, nfd', 'Central Asia, nfd', 'Central and West Africa, nfd', 'Chad', 'Chile', 'Chilean Antarctic Territory', 'Chinese Asia (includes Mongolia), nfd', 'Colombia', 'Comoros', 'Congo, Democratic Republic of', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Eastern Europe, nfd', 'Ecuador', 'Egypt', 'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Falkland Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Gaza Strip and West Bank', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hong Kong (SAR of China)', 'Hungary', 'Iceland', 'Inadequately described_x', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Japan and the Koreas, nfd', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Democratic People's Republic of (North)", 'Korea, Republic of (South)', 'Kuwait', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg_x', 'Macau (SAR of China)', 'Madagascar', 'Mainland South-East Asia, nfd', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Maritime South-East Asia, nfd', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Melanesia, nfd', 'Mexico', 'Micronesia, Federated States of', 'Micronesia, nfd', 'Middle East, nfd', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'North Africa and the Middle East, nfd', 'North Africa, nfd', 'North-East Asia, nfd', 'North-West Europe, nfd', 'Northern America, nfd', 'Northern Europe, nfd', 'Northern Ireland', 'Northern Mariana Islands', 'Norway', 'Not stated_x', 'Oceania and Antarctica, nfd', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Polynesia (excludes Hawaii), nec', 'Polynesia (excludes Hawaii), nfd', 'Portugal', 'Puerto Rico', 'Qatar', 'Queen Maud Land (Norway)', 'Romania', 'Ross Dependency (New Zealand)', 'Russian Federation', 'Rwanda', 'Samoa', 'Samoa, American', 'San Marino', 'Saudi Arabia', 'Scotland', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South America, nec', 'South America, nfd', 'South Eastern Europe, nfd', 'South-East Asia, nfd', 'Southern Asia, nfd', 'Southern Europe, nfd', 'Southern and Central Asia, nfd', 'Southern and East Africa, nec', 'Southern and East Africa, nfd', 'Southern and Eastern Europe, nfd', 'Spain', 'Sri Lanka', 'St Helena', 'St Kitts and Nevis', 'St Lucia', 'St Pierre and Miquelon', 'St Vincent and the Grenadines', 'Sub-Saharan Africa, nfd', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Virgin Islands, British', 'Virgin Islands, United States', 'Wales', 'Wallis and Futuna', 'Western Europe, nfd', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe', '$1_$149', '$150_$249_x', '$250_$399_x', '$400_$599', '$600_$799', '$800_$999', '$1600_$1999_x', '$1000_$1299', '$2000_or_more', 'Acehnese', 'Afghan', 'African American', 'African, so described', 'Afrikaner', 'Akan', 'Albanian', 'Algerian', 'American', 'Amhara', 'Anglo-Burmese', 'Anglo-Indian', 'Angolan', 'Arab, nfd', 'Argentinian', 'Armenian', 'Asian, so described', 'Australian', 'Australian Aboriginal', 'Australian Peoples, nfd', 'Australian South Sea Islander', 'Austrian', 'Azeri', 'Balinese', 'Barbadian', 'Basque', 'Batswana', 'Belarusan', 'Belgian', 'Bengali', 'Berber', 'Bermudan', 'Bolivian', 'Bosnian', 'Brazilian', 'British, nfd', 'Bruneian', 'Bulgarian', 'Burgher', 'Burmese', 'Canadian', 'Caribbean Islander, nfd', 'Catalan', 'Caucasian, so described', 'Central American, nfd', 'Central Asian, nfd', 'Central and West African, nfd', 'Channel Islander', 'Chilean', 'Chinese', 'Chinese Asian, nfd', 'Colombian', 'Cook Islander', 'Coptic', 'Costa Rican', 'Creole, so described', 'Croatian', 'Cuban', 'Cypriot', 'Czech', 'Danish', 'Dinka', 'Dutch', 'Eastern European, nfd', 'Ecuadorian', 'Egyptian', 'English', 'Eritrean', 'Estonian', 'Ethiopian', 'Eurasian, so described', 'European, so described', 'Fijian', 'Filipino', 'Finnish', 'Flemish', 'French', 'French Canadian', 'Frisian', 'Georgian', 'German', 'Ghanaian', 'Gibraltarian', 'Greek', 'Guatemalan', 'Gujarati', 'Guyanese', 'Hawaiian', 'Hazara', 'Hmong', 'Hungarian', 'Hutu', 'I-Kiribati', 'Icelandic', 'Inadequately described_y', 'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Irish', 'Italian', 'Ivorean', 'Jamaican', 'Japanese', 'Javanese', 'Jewish', 'Jordanian', 'Kadazan', 'Karen', 'Kazakh', 'Kenyan', 'Korean', 'Kurdish', 'Kuwaiti', 'Lao', 'Latvian', 'Lebanese', 'Liberian', 'Libyan', 'Lithuanian', 'Luxembourg_y', 'Macedonian', 'Madurese', 'Mainland South-East Asian, nfd', 'Malawian', 'Malay', 'Malayali', 'Maldivian', 'Maltese', 'Manx', 'Maori', 'Maritime South-East Asian, nfd', 'Masai', 'Mauritian', 'Mayan', 'Melanesian and Papuan, nfd', 'Mexican', 'Micronesian, nfd', 'Moldovan', 'Mon', 'Mongolian', 'Montenegrin', 'Moroccan', 'Mozambican', 'Native North American Indian', 'Nauruan', 'Nepalese', 'New Caledonian', 'New Zealand Peoples, nfd', 'New Zealander', 'Ni-Vanuatu', 'Nicaraguan', 'Nigerian', 'Niuean', 'North African and Middle Eastern, nfd', 'North American, nfd', 'North-East Asian, nfd', 'North-West European, nfd', 'Northern European, nfd', 'Norwegian', 'Not stated_y', 'Nuer', 'Oceanian, nfd', 'Oromo', 'Other North African and Middle Eastern, nfd', 'Other North-East Asian, nfd', 'Pakistani', 'Palestinian', 'Papua New Guinean', 'Paraguayan', 'Pathan', 'Peruvian', 'Polish', 'Polynesian, nfd', 'Portuguese', 'Puerto Rican', 'Punjabi', 'Romanian', 'Russian', 'Salvadoran', 'Samoan', 'Saudi Arabian', 'Scottish', 'Serbian', 'Seychellois', 'Sierra Leonean', 'Sikh', 'Singaporean', 'Sinhalese', 'Slovak', 'Slovene', 'Solomon Islander', 'Somali', 'Sorb/Wend', 'South African', 'South American, nfd', 'South Eastern European, nfd', 'South-East Asian, nfd', 'Southern Asian, nfd', 'Southern European, nfd', 'Southern and Central Asian, nfd', 'Southern and East African, nfd', 'Southern and Eastern European, nfd', 'Spanish', 'Sub-Saharan African, nfd', 'Sudanese', 'Sundanese', 'Swedish', 'Swiss', 'Syrian', 'Tahitian', 'Taiwanese', 'Tajik', 'Tanzanian', 'Tatar', 'Temoq', 'Thai', 'Tibetan', 'Tigrayan', 'Tigre', 'Timorese', 'Tokelauan', 'Tongan', 'Torres Strait Islander', 'Tunisian', 'Turkish', 'Turkmen', 'Tuvaluan', 'Ugandan', 'Uighur', 'Ukrainian', 'Uruguayan', 'Uzbek', 'Venezuelan', 'Vietnamese', 'Vlach', 'Welsh', 'Western European, nfd', 'Yemeni', 'Yoruba', 'Zambian', 'Zimbabwean', 'Zulu', 'Air and Space Transport', 'Basic Material Wholesaling', 'Coal Mining', 'Defence', 'Forestry and Logging', 'Machinery and Equipment Manufacturing', 'Metal Ore Mining', 'Non-Metallic Mineral Product Manufacturing', 'Not applicable_x', 'Not stated_x_2', 'Oil and Gas Extraction', 'Other Transport', 'Rail Transport', 'Road Transport', 'Water Supply, Sewerage and Drainage Services', 'Water Transport', 'new_accomodation', 'new_admin', 'new_agriculture', 'new_construction', 'new_education', 'new_electricity', 'new_finance', 'new_food', 'new_property', 'new_personal_services', '$1_$99', '$100_$149', '$150_$249_y', '$250_$399_y', '$400_$549', '$550_$649', '$650_$749', '$750_$849', '$850_$949', '$950_$1049', '$1050_$1199', '$1200_$1399', '$1400_$1599', '$1600_$1999_y', '$2000_$2399', '$2400_$2999', '$3000_$3999', '$4000_and_over', '$0_$49', '$50_$74', '$75_$99', '$100_$119', '$120_$139', '$140_$159', '$160_$179', '$180_$199', '$200_$224', '$225_$249', '$250_$274', '$275_$299', '$300_$349', '$350_$449', '$450_$549', '$550_and_over', 'Community and Personal Service Workers', 'Inadequately described', 'Not applicable_y', 'Not stated_y_2', 'Professionals', 'Sales Workers', 'Intermediate Production and Transport Workers', 'new_labourers', 'new_clerical', 'new_managers', 'Buddhism', 'Christianity', 'Hinduism', 'Islam', 'Judaism', 'Not stated', 'Other Religions', 'Advanced Diploma and Diploma Level', 'Bachelor Degree Level', 'Certificate Level', 'Graduate Diploma and Graduate Certificate Level', 'Level of education inadequately described', 'Level of education not stated', 'Not applicable', 'Postgraduate Degree Level']
df_2011

,lga,Adelie Land (France),Afghanistan,Albania,Algeria,"Americas, nfd",Andorra,Angola,Anguilla,"Antarctica, nfd",...,Not stated,Other Religions,Advanced Diploma and Diploma Level,Bachelor Degree Level,Certificate Level,Graduate Diploma and Graduate Certificate Level,Level of education inadequately described,Level of education not stated,Not applicable,Postgraduate Degree Level
0,Albury (C),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3682,207,2771.0,4052.0,8497.0,697.0,486.0,3819.0,26734.0,758
1,Armidale Dumaresq (A),0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2129,140,1334.0,2671.0,3353.0,453.0,248.0,1933.0,12834.0,1274
2,Ashfield (A),0.0,10.0,3.0,9.0,0.0,0.0,3.0,0.0,0.0,...,3703,282,3180.0,7730.0,3636.0,789.0,733.0,3608.0,18171.0,3365
3,Auburn (C),0.0,1622.0,0.0,30.0,0.0,0.0,4.0,0.0,0.0,...,7349,803,4821.0,9025.0,5590.0,526.0,1089.0,7508.0,42101.0,3071
4,Ballina (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2840,195,2716.0,3948.0,6824.0,551.0,565.0,2979.0,20972.0,715
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,Wagait (S),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,31,0,17.0,50.0,76.0,8.0,6.0,32.0,169.0,9
564,West Arnhem (S),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,949,951,134.0,217.0,616.0,37.0,23.0,448.0,4696.0,58
565,Unincorporated NT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1707,49,460.0,643.0,1501.0,111.0,71.0,1483.0,3668.0,155
566,Unincorporated ACT,0.0,345.0,20.0,32.0,0.0,0.0,17.0,0.0,0.0,...,26924,2767,26046.0,61827.0,39035.0,11142.0,4720.0,18708.0,169420.0,25686
567,Unincorp. Other Territories,0.0,112.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,911,59,128.0,159.0,332.0,32.0,22.0,987.0,1317.0,33

In [47]:
#df_2011.to_csv("merged_2011_data.csv")

In [48]:
df_2016 = pd.merge(cob_2016_prepro, income_2016_prepro, how='inner', on=['lga'])
df_2016 = pd.merge(df_2016, ancestry_2016_prepro, how='inner', on=['lga'])
df_2016 = pd.merge(df_2016, industry_2016_prepro, how='inner', on=['lga'])
df_2016 = pd.merge(df_2016, mortgage_2016_prepro, how='inner', on=['lga'])
df_2016 = pd.merge(df_2016, rent_2016_prepro, how='inner', on=['lga'])
df_2016 = pd.merge(df_2016, occupation_2016_prepro, how='inner', on=['lga'])
df_2016 = pd.merge(df_2016, religion_2016_prepro, how='inner', on=['lga'])
df_2016 = pd.merge(df_2016, study_level_2016_prepro, how='inner', on=['lga'])
df_2016 = df_2016.drop_duplicates(subset=['lga'], keep='first')
df_2016.columns = ['lga', 'Adelie Land (France)', 'Afghanistan', 'Albania', 'Algeria', 'Americas, nfd', 'Andorra', 'Angola', 'Anguilla', 'Antarctica, nfd', 'Antigua and Barbuda', 'Argentina', 'Argentinian Antarctic Territory', 'Armenia', 'Aruba', 'At sea', 'Australia', 'Australia (includes External Territories), nfd', 'Australian Antarctic Territory', 'Australian External Territories, nec', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Antarctic Territory', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Caribbean, nfd', 'Cayman Islands', 'Central African Republic', 'Central America, nfd', 'Central Asia, nfd', 'Central and West Africa, nfd', 'Chad', 'Chile', 'Chilean Antarctic Territory', 'Chinese Asia (includes Mongolia), nfd', 'Colombia', 'Comoros', 'Congo, Democratic Republic of', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Eastern Europe, nfd', 'Ecuador', 'Egypt', 'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Falkland Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Gaza Strip and West Bank', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hong Kong (SAR of China)', 'Hungary', 'Iceland', 'Inadequately described_x', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Japan and the Koreas, nfd', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Democratic People's Republic of (North)", 'Korea, Republic of (South)', 'Kuwait', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg_x', 'Macau (SAR of China)', 'Madagascar', 'Mainland South-East Asia, nfd', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Maritime South-East Asia, nfd', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Melanesia, nfd', 'Mexico', 'Micronesia, Federated States of', 'Micronesia, nfd', 'Middle East, nfd', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'North Africa and the Middle East, nfd', 'North Africa, nfd', 'North-East Asia, nfd', 'North-West Europe, nfd', 'Northern America, nfd', 'Northern Europe, nfd', 'Northern Ireland', 'Northern Mariana Islands', 'Norway', 'Not stated_x', 'Oceania and Antarctica, nfd', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Polynesia (excludes Hawaii), nec', 'Polynesia (excludes Hawaii), nfd', 'Portugal', 'Puerto Rico', 'Qatar', 'Queen Maud Land (Norway)', 'Romania', 'Ross Dependency (New Zealand)', 'Russian Federation', 'Rwanda', 'Samoa', 'Samoa, American', 'San Marino', 'Saudi Arabia', 'Scotland', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South America, nec', 'South America, nfd', 'South Eastern Europe, nfd', 'South-East Asia, nfd', 'Southern Asia, nfd', 'Southern Europe, nfd', 'Southern and Central Asia, nfd', 'Southern and East Africa, nec', 'Southern and East Africa, nfd', 'Southern and Eastern Europe, nfd', 'Spain', 'Sri Lanka', 'St Helena', 'St Kitts and Nevis', 'St Lucia', 'St Pierre and Miquelon', 'St Vincent and the Grenadines', 'Sub-Saharan Africa, nfd', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Virgin Islands, British', 'Virgin Islands, United States', 'Wales', 'Wallis and Futuna', 'Western Europe, nfd', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe', '$1_$149', '$150_$249_x', '$250_$399_x', '$400_$599', '$600_$799', '$800_$999', '$1600_$1999_x', '$1000_$1299', '$2000_or_more', 'Acehnese', 'Afghan', 'African American', 'African, so described', 'Afrikaner', 'Akan', 'Albanian', 'Algerian', 'American', 'Amhara', 'Anglo-Burmese', 'Anglo-Indian', 'Angolan', 'Arab, nfd', 'Argentinian', 'Armenian', 'Asian, so described', 'Australian', 'Australian Aboriginal', 'Australian Peoples, nfd', 'Australian South Sea Islander', 'Austrian', 'Azeri', 'Balinese', 'Barbadian', 'Basque', 'Batswana', 'Belarusan', 'Belgian', 'Bengali', 'Berber', 'Bermudan', 'Bolivian', 'Bosnian', 'Brazilian', 'British, nfd', 'Bruneian', 'Bulgarian', 'Burgher', 'Burmese', 'Canadian', 'Caribbean Islander, nfd', 'Catalan', 'Caucasian, so described', 'Central American, nfd', 'Central Asian, nfd', 'Central and West African, nfd', 'Channel Islander', 'Chilean', 'Chinese', 'Chinese Asian, nfd', 'Colombian', 'Cook Islander', 'Coptic', 'Costa Rican', 'Creole, so described', 'Croatian', 'Cuban', 'Cypriot', 'Czech', 'Danish', 'Dinka', 'Dutch', 'Eastern European, nfd', 'Ecuadorian', 'Egyptian', 'English', 'Eritrean', 'Estonian', 'Ethiopian', 'Eurasian, so described', 'European, so described', 'Fijian', 'Filipino', 'Finnish', 'Flemish', 'French', 'French Canadian', 'Frisian', 'Georgian', 'German', 'Ghanaian', 'Gibraltarian', 'Greek', 'Guatemalan', 'Gujarati', 'Guyanese', 'Hawaiian', 'Hazara', 'Hmong', 'Hungarian', 'Hutu', 'I-Kiribati', 'Icelandic', 'Inadequately described_y', 'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Irish', 'Italian', 'Ivorean', 'Jamaican', 'Japanese', 'Javanese', 'Jewish', 'Jordanian', 'Kadazan', 'Karen', 'Kazakh', 'Kenyan', 'Korean', 'Kurdish', 'Kuwaiti', 'Lao', 'Latvian', 'Lebanese', 'Liberian', 'Libyan', 'Lithuanian', 'Luxembourg_y', 'Macedonian', 'Madurese', 'Mainland South-East Asian, nfd', 'Malawian', 'Malay', 'Malayali', 'Maldivian', 'Maltese', 'Manx', 'Maori', 'Maritime South-East Asian, nfd', 'Masai', 'Mauritian', 'Mayan', 'Melanesian and Papuan, nfd', 'Mexican', 'Micronesian, nfd', 'Moldovan', 'Mon', 'Mongolian', 'Montenegrin', 'Moroccan', 'Mozambican', 'Native North American Indian', 'Nauruan', 'Nepalese', 'New Caledonian', 'New Zealand Peoples, nfd', 'New Zealander', 'Ni-Vanuatu', 'Nicaraguan', 'Nigerian', 'Niuean', 'North African and Middle Eastern, nfd', 'North American, nfd', 'North-East Asian, nfd', 'North-West European, nfd', 'Northern European, nfd', 'Norwegian', 'Not stated_y', 'Nuer', 'Oceanian, nfd', 'Oromo', 'Other North African and Middle Eastern, nfd', 'Other North-East Asian, nfd', 'Pakistani', 'Palestinian', 'Papua New Guinean', 'Paraguayan', 'Pathan', 'Peruvian', 'Polish', 'Polynesian, nfd', 'Portuguese', 'Puerto Rican', 'Punjabi', 'Romanian', 'Russian', 'Salvadoran', 'Samoan', 'Saudi Arabian', 'Scottish', 'Serbian', 'Seychellois', 'Sierra Leonean', 'Sikh', 'Singaporean', 'Sinhalese', 'Slovak', 'Slovene', 'Solomon Islander', 'Somali', 'Sorb/Wend', 'South African', 'South American, nfd', 'South Eastern European, nfd', 'South-East Asian, nfd', 'Southern Asian, nfd', 'Southern European, nfd', 'Southern and Central Asian, nfd', 'Southern and East African, nfd', 'Southern and Eastern European, nfd', 'Spanish', 'Sub-Saharan African, nfd', 'Sudanese', 'Sundanese', 'Swedish', 'Swiss', 'Syrian', 'Tahitian', 'Taiwanese', 'Tajik', 'Tanzanian', 'Tatar', 'Temoq', 'Thai', 'Tibetan', 'Tigrayan', 'Tigre', 'Timorese', 'Tokelauan', 'Tongan', 'Torres Strait Islander', 'Tunisian', 'Turkish', 'Turkmen', 'Tuvaluan', 'Ugandan', 'Uighur', 'Ukrainian', 'Uruguayan', 'Uzbek', 'Venezuelan', 'Vietnamese', 'Vlach', 'Welsh', 'Western European, nfd', 'Yemeni', 'Yoruba', 'Zambian', 'Zimbabwean', 'Zulu', 'Air and Space Transport', 'Basic Material Wholesaling', 'Coal Mining', 'Defence', 'Forestry and Logging', 'Machinery and Equipment Manufacturing', 'Metal Ore Mining', 'Non-Metallic Mineral Product Manufacturing', 'Not applicable_x', 'Not stated_x_2', 'Oil and Gas Extraction', 'Other Transport', 'Rail Transport', 'Road Transport', 'Water Supply, Sewerage and Drainage Services', 'Water Transport', 'new_accomodation', 'new_admin', 'new_agriculture', 'new_construction', 'new_education', 'new_electricity', 'new_finance', 'new_food', 'new_property', 'new_personal_services', '$1_$99', '$100_$149', '$150_$249_y', '$250_$399_y', '$400_$549', '$550_$649', '$650_$749', '$750_$849', '$850_$949', '$950_$1049', '$1050_$1199', '$1200_$1399', '$1400_$1599', '$1600_$1999_y', '$2000_$2399', '$2400_$2999', '$3000_$3999', '$4000_and_over', '$0_$49', '$50_$74', '$75_$99', '$100_$119', '$120_$139', '$140_$159', '$160_$179', '$180_$199', '$200_$224', '$225_$249', '$250_$274', '$275_$299', '$300_$349', '$350_$449', '$450_$549', '$550_and_over', 'Community and Personal Service Workers', 'Inadequately described', 'Not applicable_y', 'Not stated_y_2', 'Professionals', 'Sales Workers', 'Intermediate Production and Transport Workers', 'new_labourers', 'new_clerical', 'new_managers', 'Buddhism', 'Christianity', 'Hinduism', 'Islam', 'Judaism', 'Not stated', 'Other Religions', 'Advanced Diploma and Diploma Level', 'Bachelor Degree Level', 'Certificate Level', 'Graduate Diploma and Graduate Certificate Level', 'Level of education inadequately described', 'Level of education not stated', 'Not applicable', 'Postgraduate Degree Level']
df_2016

,lga,Adelie Land (France),Afghanistan,Albania,Algeria,"Americas, nfd",Andorra,Angola,Anguilla,"Antarctica, nfd",...,Not stated,Other Religions,Advanced Diploma and Diploma Level,Bachelor Degree Level,Certificate Level,Graduate Diploma and Graduate Certificate Level,Level of education inadequately described,Level of education not stated,Not applicable,Postgraduate Degree Level
0,Albury (C),0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4496,397,3530.0,4704.0,9864.0,843.0,307.0,4257.0,26523.0,1043
1,Armidale Regional (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2875,175,1729.0,3285.0,4317.0,575.0,186.0,2629.0,14984.0,1740
2,Ballina (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4035,205,3327.0,4736.0,7752.0,745.0,333.0,3806.0,20021.0,1068
3,Balranald (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,287,4,83.0,94.0,297.0,17.0,6.0,290.0,1481.0,24
4,Bathurst Regional (A),0.0,10.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,4453,180,2672.0,3753.0,7859.0,652.0,253.0,4257.0,20911.0,951
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,Migratory - Offshore - Shipping (NT),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,0,5.0,15.0,20.0,0.0,4.0,12.0,11.0,0
550,Unincorporated ACT,0.0,472.0,19.0,45.0,0.0,0.0,13.0,0.0,0.0,...,33883,3700,29723.0,71606.0,43558.0,13404.0,2539.0,23685.0,177549.0,34785
551,Migratory - Offshore - Shipping (ACT),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
552,Unincorp. Other Territories,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,786,47,270.0,324.0,759.0,55.0,28.0,835.0,2184.0,78
553,Migratory - Offshore - Shipping (OT),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0

In [49]:
#df_2016.to_csv("merged_2016_data.csv")

## Merging dataframes accross years to match rows with LGA name and get rid off LGAs not present across three years

In [50]:
df_all_years = pd.merge(df_2006, df_2011, how='inner', on=['lga'])
df_all_years = pd.merge(df_all_years,df_2016,how='inner',on=['lga'])
df_all_years = df_all_years.drop_duplicates(subset=['lga'], keep='first')
df_all_years.columns = ['lga', 'Adelie Land (France)_x', 'Afghanistan_x', 'Albania_x', 'Algeria_x', 'Americas, nfd_x', 'Andorra_x', 'Angola_x', 'Anguilla_x', 'Antarctica, nfd_x', 'Antigua and Barbuda_x', 'Argentina_x', 'Argentinian Antarctic Territory_x', 'Armenia_x', 'Aruba_x', 'At sea_x', 'Australia_x', 'Australia (includes External Territories), nfd_x', 'Australian Antarctic Territory_x', 'Australian External Territories, nec_x', 'Austria_x', 'Azerbaijan_x', 'Bahamas_x', 'Bahrain_x', 'Bangladesh_x', 'Barbados_x', 'Belarus_x', 'Belgium_x', 'Belize_x', 'Benin_x', 'Bermuda_x', 'Bhutan_x', 'Bosnia and Herzegovina_x', 'Botswana_x', 'Brazil_x', 'British Antarctic Territory_x', 'Brunei Darussalam_x', 'Bulgaria_x', 'Burkina Faso_x', 'Burundi_x', 'Cambodia_x', 'Cameroon_x', 'Canada_x', 'Caribbean, nfd_x', 'Cayman Islands_x', 'Central African Republic_x', 'Central America, nfd_x', 'Central Asia, nfd_x', 'Central and West Africa, nfd_x', 'Chad_x', 'Chile_x', 'Chilean Antarctic Territory_x', 'Chinese Asia (includes Mongolia), nfd_x', 'Colombia_x', 'Comoros_x', 'Congo, Democratic Republic of_x', 'Cook Islands_x', 'Costa Rica_x', 'Croatia_x', 'Cuba_x', 'Cyprus_x', 'Czech Republic_x', 'Denmark_x', 'Djibouti_x', 'Dominica_x', 'Dominican Republic_x', 'Eastern Europe, nfd_x', 'Ecuador_x', 'Egypt_x', 'El Salvador_x', 'England_x', 'Equatorial Guinea_x', 'Eritrea_x', 'Estonia_x', 'Ethiopia_x', 'Falkland Islands_x', 'Fiji_x', 'Finland_x', 'France_x', 'French Guiana_x', 'French Polynesia_x', 'Gabon_x', 'Gambia_x', 'Gaza Strip and West Bank_x', 'Georgia_x', 'Germany_x', 'Ghana_x', 'Gibraltar_x', 'Greece_x', 'Greenland_x', 'Grenada_x', 'Guadeloupe_x', 'Guam_x', 'Guatemala_x', 'Guinea_x', 'Guinea-Bissau_x', 'Guyana_x', 'Haiti_x', 'Holy See_x', 'Honduras_x', 'Hong Kong (SAR of China)_x', 'Hungary_x', 'Iceland_x', 'Inadequately described_x_x', 'India_x', 'Indonesia_x', 'Iran_x', 'Iraq_x', 'Ireland_x', 'Isle of Man_x', 'Israel_x', 'Italy_x', 'Jamaica_x', 'Japan_x', 'Japan and the Koreas, nfd_x', 'Jordan_x', 'Kazakhstan_x', 'Kenya_x', 'Kiribati_x', "Korea, Democratic People's Republic of (North)_x", 'Korea, Republic of (South)_x', 'Kuwait_x', 'Laos_x', 'Latvia_x', 'Lebanon_x', 'Lesotho_x', 'Liberia_x', 'Libya_x', 'Liechtenstein_x', 'Lithuania_x', 'Luxembourg_x_x', 'Macau (SAR of China)_x', 'Madagascar_x', 'Mainland South-East Asia, nfd_x', 'Malawi_x', 'Malaysia_x', 'Maldives_x', 'Mali_x', 'Malta_x', 'Maritime South-East Asia, nfd_x', 'Marshall Islands_x', 'Martinique_x', 'Mauritania_x', 'Mauritius_x', 'Mayotte_x', 'Melanesia, nfd_x', 'Mexico_x', 'Micronesia, Federated States of_x', 'Micronesia, nfd_x', 'Middle East, nfd_x', 'Moldova_x', 'Monaco_x', 'Mongolia_x', 'Montenegro_x', 'Montserrat_x', 'Morocco_x', 'Mozambique_x', 'Namibia_x', 'Nauru_x', 'Nepal_x', 'Netherlands_x', 'New Caledonia_x', 'New Zealand_x', 'Nicaragua_x', 'Niger_x', 'Nigeria_x', 'Niue_x', 'Norfolk Island_x', 'North Africa and the Middle East, nfd_x', 'North Africa, nfd_x', 'North-East Asia, nfd_x', 'North-West Europe, nfd_x', 'Northern America, nfd_x', 'Northern Europe, nfd_x', 'Northern Ireland_x', 'Northern Mariana Islands_x', 'Norway_x', 'Not stated_x_x', 'Oceania and Antarctica, nfd_x', 'Oman_x', 'Pakistan_x', 'Palau_x', 'Panama_x', 'Papua New Guinea_x', 'Paraguay_x', 'Peru_x', 'Philippines_x', 'Poland_x', 'Polynesia (excludes Hawaii), nec_x', 'Polynesia (excludes Hawaii), nfd_x', 'Portugal_x', 'Puerto Rico_x', 'Qatar_x', 'Queen Maud Land (Norway)_x', 'Romania_x', 'Ross Dependency (New Zealand)_x', 'Russian Federation_x', 'Rwanda_x', 'Samoa_x', 'Samoa, American_x', 'San Marino_x', 'Saudi Arabia_x', 'Scotland_x', 'Senegal_x', 'Serbia_x', 'Seychelles_x', 'Sierra Leone_x', 'Singapore_x', 'Slovakia_x', 'Slovenia_x', 'Solomon Islands_x', 'Somalia_x', 'South Africa_x', 'South America, nec_x', 'South America, nfd_x', 'South Eastern Europe, nfd_x', 'South-East Asia, nfd_x', 'Southern Asia, nfd_x', 'Southern Europe, nfd_x', 'Southern and Central Asia, nfd_x', 'Southern and East Africa, nec_x', 'Southern and East Africa, nfd_x', 'Southern and Eastern Europe, nfd_x', 'Spain_x', 'Sri Lanka_x', 'St Helena_x', 'St Kitts and Nevis_x', 'St Lucia_x', 'St Pierre and Miquelon_x', 'St Vincent and the Grenadines_x', 'Sub-Saharan Africa, nfd_x', 'Sudan_x', 'Suriname_x', 'Swaziland_x', 'Sweden_x', 'Switzerland_x', 'Syria_x', 'Taiwan_x', 'Tajikistan_x', 'Tanzania_x', 'Thailand_x', 'Togo_x', 'Tokelau_x', 'Tonga_x', 'Trinidad and Tobago_x', 'Tunisia_x', 'Turkey_x', 'Turkmenistan_x', 'Turks and Caicos Islands_x', 'Tuvalu_x', 'Uganda_x', 'Ukraine_x', 'United Arab Emirates_x', 'United States of America_x', 'Uruguay_x', 'Uzbekistan_x', 'Vanuatu_x', 'Virgin Islands, British_x', 'Virgin Islands, United States_x', 'Wales_x', 'Wallis and Futuna_x', 'Western Europe, nfd_x', 'Western Sahara_x', 'Yemen_x', 'Zambia_x', 'Zimbabwe_x', '$1_$149_x', '$150_$249_x_x', '$250_$399_x_x', '$400_$599_x', '$600_$799_x', '$800_$999_x', '$1600_$1999_x_x', '$1000_$1299_x', '$2000_or_more_x', 'Acehnese_x', 'Afghan_x', 'African American_x', 'African, so described_x', 'Afrikaner_x', 'Akan_x', 'Albanian_x', 'Algerian_x', 'American_x', 'Amhara_x', 'Anglo-Burmese_x', 'Anglo-Indian_x', 'Angolan_x', 'Arab, nfd_x', 'Argentinian_x', 'Armenian_x', 'Asian, so described_x', 'Australian_x', 'Australian Aboriginal_x', 'Australian Peoples, nfd_x', 'Australian South Sea Islander_x', 'Austrian_x', 'Azeri_x', 'Balinese_x', 'Barbadian_x', 'Basque_x', 'Batswana_x', 'Belarusan_x', 'Belgian_x', 'Bengali_x', 'Berber_x', 'Bermudan_x', 'Bolivian_x', 'Bosnian_x', 'Brazilian_x', 'British, nfd_x', 'Bruneian_x', 'Bulgarian_x', 'Burgher_x', 'Burmese_x', 'Canadian_x', 'Caribbean Islander, nfd_x', 'Catalan_x', 'Caucasian, so described_x', 'Central American, nfd_x', 'Central Asian, nfd_x', 'Central and West African, nfd_x', 'Channel Islander_x', 'Chilean_x', 'Chinese_x', 'Chinese Asian, nfd_x', 'Colombian_x', 'Cook Islander_x', 'Coptic_x', 'Costa Rican_x', 'Creole, so described_x', 'Croatian_x', 'Cuban_x', 'Cypriot_x', 'Czech_x', 'Danish_x', 'Dinka_x', 'Dutch_x', 'Eastern European, nfd_x', 'Ecuadorian_x', 'Egyptian_x', 'English_x', 'Eritrean_x', 'Estonian_x', 'Ethiopian_x', 'Eurasian, so described_x', 'European, so described_x', 'Fijian_x', 'Filipino_x', 'Finnish_x', 'Flemish_x', 'French_x', 'French Canadian_x', 'Frisian_x', 'Georgian_x', 'German_x', 'Ghanaian_x', 'Gibraltarian_x', 'Greek_x', 'Guatemalan_x', 'Gujarati_x', 'Guyanese_x', 'Hawaiian_x', 'Hazara_x', 'Hmong_x', 'Hungarian_x', 'Hutu_x', 'I-Kiribati_x', 'Icelandic_x', 'Inadequately described_y_x', 'Indian_x', 'Indonesian_x', 'Iranian_x', 'Iraqi_x', 'Irish_x', 'Italian_x', 'Ivorean_x', 'Jamaican_x', 'Japanese_x', 'Javanese_x', 'Jewish_x', 'Jordanian_x', 'Kadazan_x', 'Karen_x', 'Kazakh_x', 'Kenyan_x', 'Korean_x', 'Kurdish_x', 'Kuwaiti_x', 'Lao_x', 'Latvian_x', 'Lebanese_x', 'Liberian_x', 'Libyan_x', 'Lithuanian_x', 'Luxembourg_y_x', 'Macedonian_x', 'Madurese_x', 'Mainland South-East Asian, nfd_x', 'Malawian_x', 'Malay_x', 'Malayali_x', 'Maldivian_x', 'Maltese_x', 'Manx_x', 'Maori_x', 'Maritime South-East Asian, nfd_x', 'Masai_x', 'Mauritian_x', 'Mayan_x', 'Melanesian and Papuan, nfd_x', 'Mexican_x', 'Micronesian, nfd_x', 'Moldovan_x', 'Mon_x', 'Mongolian_x', 'Montenegrin_x', 'Moroccan_x', 'Mozambican_x', 'Native North American Indian_x', 'Nauruan_x', 'Nepalese_x', 'New Caledonian_x', 'New Zealand Peoples, nfd_x', 'New Zealander_x', 'Ni-Vanuatu_x', 'Nicaraguan_x', 'Nigerian_x', 'Niuean_x', 'North African and Middle Eastern, nfd_x', 'North American, nfd_x', 'North-East Asian, nfd_x', 'North-West European, nfd_x', 'Northern European, nfd_x', 'Norwegian_x', 'Not stated_y_x', 'Nuer_x', 'Oceanian, nfd_x', 'Oromo_x', 'Other North African and Middle Eastern, nfd_x', 'Other North-East Asian, nfd_x', 'Pakistani_x', 'Palestinian_x', 'Papua New Guinean_x', 'Paraguayan_x', 'Pathan_x', 'Peruvian_x', 'Polish_x', 'Polynesian, nfd_x', 'Portuguese_x', 'Puerto Rican_x', 'Punjabi_x', 'Romanian_x', 'Russian_x', 'Salvadoran_x', 'Samoan_x', 'Saudi Arabian_x', 'Scottish_x', 'Serbian_x', 'Seychellois_x', 'Sierra Leonean_x', 'Sikh_x', 'Singaporean_x', 'Sinhalese_x', 'Slovak_x', 'Slovene_x', 'Solomon Islander_x', 'Somali_x', 'Sorb/Wend_x', 'South African_x', 'South American, nfd_x', 'South Eastern European, nfd_x', 'South-East Asian, nfd_x', 'Southern Asian, nfd_x', 'Southern European, nfd_x', 'Southern and Central Asian, nfd_x', 'Southern and East African, nfd_x', 'Southern and Eastern European, nfd_x', 'Spanish_x', 'Sub-Saharan African, nfd_x', 'Sudanese_x', 'Sundanese_x', 'Swedish_x', 'Swiss_x', 'Syrian_x', 'Tahitian_x', 'Taiwanese_x', 'Tajik_x', 'Tanzanian_x', 'Tatar_x', 'Temoq_x', 'Thai_x', 'Tibetan_x', 'Tigrayan_x', 'Tigre_x', 'Timorese_x', 'Tokelauan_x', 'Tongan_x', 'Torres Strait Islander_x', 'Tunisian_x', 'Turkish_x', 'Turkmen_x', 'Tuvaluan_x', 'Ugandan_x', 'Uighur_x', 'Ukrainian_x', 'Uruguayan_x', 'Uzbek_x', 'Venezuelan_x', 'Vietnamese_x', 'Vlach_x', 'Welsh_x', 'Western European, nfd_x', 'Yemeni_x', 'Yoruba_x', 'Zambian_x', 'Zimbabwean_x', 'Zulu_x', 'Air and Space Transport_x', 'Basic Material Wholesaling_x', 'Coal Mining_x', 'Defence_x', 'Forestry and Logging_x', 'Machinery and Equipment Manufacturing_x', 'Metal Ore Mining_x', 'Non-Metallic Mineral Product Manufacturing_x', 'Not applicable_x_x', 'Not stated_x_x_2', 'Oil and Gas Extraction_x', 'Other Transport_x', 'Rail Transport_x', 'Road Transport_x', 'Water Supply, Sewerage and Drainage Services_x', 'Water Transport_x', 'new_accomodation_x', 'new_admin_x', 'new_agriculture_x', 'new_construction_x', 'new_education_x', 'new_electricity_x', 'new_finance_x', 'new_food_x', 'new_property_x', 'new_personal_services_x', '$1_$99_x', '$100_$149_x', '$150_$249_y_x', '$250_$399_y_x', '$400_$549_x', '$550_$649_x', '$650_$749_x', '$750_$849_x', '$850_$949_x', '$950_$1049_x', '$1050_$1199_x', '$1200_$1399_x', '$1400_$1599_x', '$1600_$1999_y_x', '$2000_$2399_x', '$2400_$2999_x', '$3000_$3999_x', '$4000_and_over_x', '$0_$49_x', '$50_$74_x', '$75_$99_x', '$100_$119_x', '$120_$139_x', '$140_$159_x', '$160_$179_x', '$180_$199_x', '$200_$224_x', '$225_$249_x', '$250_$274_x', '$275_$299_x', '$300_$349_x', '$350_$449_x', '$450_$549_x', '$550_and_over_x', 'Community and Personal Service Workers_x', 'Inadequately described_x_x_2', 'Not applicable_y_x', 'Not stated_y_x_2', 'Professionals_x', 'Sales Workers_x', 'Intermediate Production and Transport Workers_x', 'new_labourers_x', 'new_clerical_x', 'new_managers_x', 'Buddhism_x', 'Christianity_x', 'Hinduism_x', 'Islam_x', 'Judaism_x', 'Not stated_x_x_3', 'Other Religions_x', 'Advanced Diploma and Diploma Level_x', 'Bachelor Degree Level_x', 'Certificate Level_x', 'Graduate Diploma and Graduate Certificate Level_x', 'Level of education inadequately described_x', 'Level of education not stated_x', 'Not applicable_x_x_2', 'Postgraduate Degree Level_x', 'Adelie Land (France)_y', 'Afghanistan_y', 'Albania_y', 'Algeria_y', 'Americas, nfd_y', 'Andorra_y', 'Angola_y', 'Anguilla_y', 'Antarctica, nfd_y', 'Antigua and Barbuda_y', 'Argentina_y', 'Argentinian Antarctic Territory_y', 'Armenia_y', 'Aruba_y', 'At sea_y', 'Australia_y', 'Australia (includes External Territories), nfd_y', 'Australian Antarctic Territory_y', 'Australian External Territories, nec_y', 'Austria_y', 'Azerbaijan_y', 'Bahamas_y', 'Bahrain_y', 'Bangladesh_y', 'Barbados_y', 'Belarus_y', 'Belgium_y', 'Belize_y', 'Benin_y', 'Bermuda_y', 'Bhutan_y', 'Bosnia and Herzegovina_y', 'Botswana_y', 'Brazil_y', 'British Antarctic Territory_y', 'Brunei Darussalam_y', 'Bulgaria_y', 'Burkina Faso_y', 'Burundi_y', 'Cambodia_y', 'Cameroon_y', 'Canada_y', 'Caribbean, nfd_y', 'Cayman Islands_y', 'Central African Republic_y', 'Central America, nfd_y', 'Central Asia, nfd_y', 'Central and West Africa, nfd_y', 'Chad_y', 'Chile_y', 'Chilean Antarctic Territory_y', 'Chinese Asia (includes Mongolia), nfd_y', 'Colombia_y', 'Comoros_y', 'Congo, Democratic Republic of_y', 'Cook Islands_y', 'Costa Rica_y', 'Croatia_y', 'Cuba_y', 'Cyprus_y', 'Czech Republic_y', 'Denmark_y', 'Djibouti_y', 'Dominica_y', 'Dominican Republic_y', 'Eastern Europe, nfd_y', 'Ecuador_y', 'Egypt_y', 'El Salvador_y', 'England_y', 'Equatorial Guinea_y', 'Eritrea_y', 'Estonia_y', 'Ethiopia_y', 'Falkland Islands_y', 'Fiji_y', 'Finland_y', 'France_y', 'French Guiana_y', 'French Polynesia_y', 'Gabon_y', 'Gambia_y', 'Gaza Strip and West Bank_y', 'Georgia_y', 'Germany_y', 'Ghana_y', 'Gibraltar_y', 'Greece_y', 'Greenland_y', 'Grenada_y', 'Guadeloupe_y', 'Guam_y', 'Guatemala_y', 'Guinea_y', 'Guinea-Bissau_y', 'Guyana_y', 'Haiti_y', 'Holy See_y', 'Honduras_y', 'Hong Kong (SAR of China)_y', 'Hungary_y', 'Iceland_y', 'Inadequately described_x_y', 'India_y', 'Indonesia_y', 'Iran_y', 'Iraq_y', 'Ireland_y', 'Isle of Man_y', 'Israel_y', 'Italy_y', 'Jamaica_y', 'Japan_y', 'Japan and the Koreas, nfd_y', 'Jordan_y', 'Kazakhstan_y', 'Kenya_y', 'Kiribati_y', "Korea, Democratic People's Republic of (North)_y", 'Korea, Republic of (South)_y', 'Kuwait_y', 'Laos_y', 'Latvia_y', 'Lebanon_y', 'Lesotho_y', 'Liberia_y', 'Libya_y', 'Liechtenstein_y', 'Lithuania_y', 'Luxembourg_x_y', 'Macau (SAR of China)_y', 'Madagascar_y', 'Mainland South-East Asia, nfd_y', 'Malawi_y', 'Malaysia_y', 'Maldives_y', 'Mali_y', 'Malta_y', 'Maritime South-East Asia, nfd_y', 'Marshall Islands_y', 'Martinique_y', 'Mauritania_y', 'Mauritius_y', 'Mayotte_y', 'Melanesia, nfd_y', 'Mexico_y', 'Micronesia, Federated States of_y', 'Micronesia, nfd_y', 'Middle East, nfd_y', 'Moldova_y', 'Monaco_y', 'Mongolia_y', 'Montenegro_y', 'Montserrat_y', 'Morocco_y', 'Mozambique_y', 'Namibia_y', 'Nauru_y', 'Nepal_y', 'Netherlands_y', 'New Caledonia_y', 'New Zealand_y', 'Nicaragua_y', 'Niger_y', 'Nigeria_y', 'Niue_y', 'Norfolk Island_y', 'North Africa and the Middle East, nfd_y', 'North Africa, nfd_y', 'North-East Asia, nfd_y', 'North-West Europe, nfd_y', 'Northern America, nfd_y', 'Northern Europe, nfd_y', 'Northern Ireland_y', 'Northern Mariana Islands_y', 'Norway_y', 'Not stated_x_y', 'Oceania and Antarctica, nfd_y', 'Oman_y', 'Pakistan_y', 'Palau_y', 'Panama_y', 'Papua New Guinea_y', 'Paraguay_y', 'Peru_y', 'Philippines_y', 'Poland_y', 'Polynesia (excludes Hawaii), nec_y', 'Polynesia (excludes Hawaii), nfd_y', 'Portugal_y', 'Puerto Rico_y', 'Qatar_y', 'Queen Maud Land (Norway)_y', 'Romania_y', 'Ross Dependency (New Zealand)_y', 'Russian Federation_y', 'Rwanda_y', 'Samoa_y', 'Samoa, American_y', 'San Marino_y', 'Saudi Arabia_y', 'Scotland_y', 'Senegal_y', 'Serbia_y', 'Seychelles_y', 'Sierra Leone_y', 'Singapore_y', 'Slovakia_y', 'Slovenia_y', 'Solomon Islands_y', 'Somalia_y', 'South Africa_y', 'South America, nec_y', 'South America, nfd_y', 'South Eastern Europe, nfd_y', 'South-East Asia, nfd_y', 'Southern Asia, nfd_y', 'Southern Europe, nfd_y', 'Southern and Central Asia, nfd_y', 'Southern and East Africa, nec_y', 'Southern and East Africa, nfd_y', 'Southern and Eastern Europe, nfd_y', 'Spain_y', 'Sri Lanka_y', 'St Helena_y', 'St Kitts and Nevis_y', 'St Lucia_y', 'St Pierre and Miquelon_y', 'St Vincent and the Grenadines_y', 'Sub-Saharan Africa, nfd_y', 'Sudan_y', 'Suriname_y', 'Swaziland_y', 'Sweden_y', 'Switzerland_y', 'Syria_y', 'Taiwan_y', 'Tajikistan_y', 'Tanzania_y', 'Thailand_y', 'Togo_y', 'Tokelau_y', 'Tonga_y', 'Trinidad and Tobago_y', 'Tunisia_y', 'Turkey_y', 'Turkmenistan_y', 'Turks and Caicos Islands_y', 'Tuvalu_y', 'Uganda_y', 'Ukraine_y', 'United Arab Emirates_y', 'United States of America_y', 'Uruguay_y', 'Uzbekistan_y', 'Vanuatu_y', 'Virgin Islands, British_y', 'Virgin Islands, United States_y', 'Wales_y', 'Wallis and Futuna_y', 'Western Europe, nfd_y', 'Western Sahara_y', 'Yemen_y', 'Zambia_y', 'Zimbabwe_y', '$1_$149_y', '$150_$249_x_y', '$250_$399_x_y', '$400_$599_y', '$600_$799_y', '$800_$999_y', '$1600_$1999_x_y', '$1000_$1299_y', '$2000_or_more_y', 'Acehnese_y', 'Afghan_y', 'African American_y', 'African, so described_y', 'Afrikaner_y', 'Akan_y', 'Albanian_y', 'Algerian_y', 'American_y', 'Amhara_y', 'Anglo-Burmese_y', 'Anglo-Indian_y', 'Angolan_y', 'Arab, nfd_y', 'Argentinian_y', 'Armenian_y', 'Asian, so described_y', 'Australian_y', 'Australian Aboriginal_y', 'Australian Peoples, nfd_y', 'Australian South Sea Islander_y', 'Austrian_y', 'Azeri_y', 'Balinese_y', 'Barbadian_y', 'Basque_y', 'Batswana_y', 'Belarusan_y', 'Belgian_y', 'Bengali_y', 'Berber_y', 'Bermudan_y', 'Bolivian_y', 'Bosnian_y', 'Brazilian_y', 'British, nfd_y', 'Bruneian_y', 'Bulgarian_y', 'Burgher_y', 'Burmese_y', 'Canadian_y', 'Caribbean Islander, nfd_y', 'Catalan_y', 'Caucasian, so described_y', 'Central American, nfd_y', 'Central Asian, nfd_y', 'Central and West African, nfd_y', 'Channel Islander_y', 'Chilean_y', 'Chinese_y', 'Chinese Asian, nfd_y', 'Colombian_y', 'Cook Islander_y', 'Coptic_y', 'Costa Rican_y', 'Creole, so described_y', 'Croatian_y', 'Cuban_y', 'Cypriot_y', 'Czech_y', 'Danish_y', 'Dinka_y', 'Dutch_y', 'Eastern European, nfd_y', 'Ecuadorian_y', 'Egyptian_y', 'English_y', 'Eritrean_y', 'Estonian_y', 'Ethiopian_y', 'Eurasian, so described_y', 'European, so described_y', 'Fijian_y', 'Filipino_y', 'Finnish_y', 'Flemish_y', 'French_y', 'French Canadian_y', 'Frisian_y', 'Georgian_y', 'German_y', 'Ghanaian_y', 'Gibraltarian_y', 'Greek_y', 'Guatemalan_y', 'Gujarati_y', 'Guyanese_y', 'Hawaiian_y', 'Hazara_y', 'Hmong_y', 'Hungarian_y', 'Hutu_y', 'I-Kiribati_y', 'Icelandic_y', 'Inadequately described_y_y', 'Indian_y', 'Indonesian_y', 'Iranian_y', 'Iraqi_y', 'Irish_y', 'Italian_y', 'Ivorean_y', 'Jamaican_y', 'Japanese_y', 'Javanese_y', 'Jewish_y', 'Jordanian_y', 'Kadazan_y', 'Karen_y', 'Kazakh_y', 'Kenyan_y', 'Korean_y', 'Kurdish_y', 'Kuwaiti_y', 'Lao_y', 'Latvian_y', 'Lebanese_y', 'Liberian_y', 'Libyan_y', 'Lithuanian_y', 'Luxembourg_y_y', 'Macedonian_y', 'Madurese_y', 'Mainland South-East Asian, nfd_y', 'Malawian_y', 'Malay_y', 'Malayali_y', 'Maldivian_y', 'Maltese_y', 'Manx_y', 'Maori_y', 'Maritime South-East Asian, nfd_y', 'Masai_y', 'Mauritian_y', 'Mayan_y', 'Melanesian and Papuan, nfd_y', 'Mexican_y', 'Micronesian, nfd_y', 'Moldovan_y', 'Mon_y', 'Mongolian_y', 'Montenegrin_y', 'Moroccan_y', 'Mozambican_y', 'Native North American Indian_y', 'Nauruan_y', 'Nepalese_y', 'New Caledonian_y', 'New Zealand Peoples, nfd_y', 'New Zealander_y', 'Ni-Vanuatu_y', 'Nicaraguan_y', 'Nigerian_y', 'Niuean_y', 'North African and Middle Eastern, nfd_y', 'North American, nfd_y', 'North-East Asian, nfd_y', 'North-West European, nfd_y', 'Northern European, nfd_y', 'Norwegian_y', 'Not stated_y_y', 'Nuer_y', 'Oceanian, nfd_y', 'Oromo_y', 'Other North African and Middle Eastern, nfd_y', 'Other North-East Asian, nfd_y', 'Pakistani_y', 'Palestinian_y', 'Papua New Guinean_y', 'Paraguayan_y', 'Pathan_y', 'Peruvian_y', 'Polish_y', 'Polynesian, nfd_y', 'Portuguese_y', 'Puerto Rican_y', 'Punjabi_y', 'Romanian_y', 'Russian_y', 'Salvadoran_y', 'Samoan_y', 'Saudi Arabian_y', 'Scottish_y', 'Serbian_y', 'Seychellois_y', 'Sierra Leonean_y', 'Sikh_y', 'Singaporean_y', 'Sinhalese_y', 'Slovak_y', 'Slovene_y', 'Solomon Islander_y', 'Somali_y', 'Sorb/Wend_y', 'South African_y', 'South American, nfd_y', 'South Eastern European, nfd_y', 'South-East Asian, nfd_y', 'Southern Asian, nfd_y', 'Southern European, nfd_y', 'Southern and Central Asian, nfd_y', 'Southern and East African, nfd_y', 'Southern and Eastern European, nfd_y', 'Spanish_y', 'Sub-Saharan African, nfd_y', 'Sudanese_y', 'Sundanese_y', 'Swedish_y', 'Swiss_y', 'Syrian_y', 'Tahitian_y', 'Taiwanese_y', 'Tajik_y', 'Tanzanian_y', 'Tatar_y', 'Temoq_y', 'Thai_y', 'Tibetan_y', 'Tigrayan_y', 'Tigre_y', 'Timorese_y', 'Tokelauan_y', 'Tongan_y', 'Torres Strait Islander_y', 'Tunisian_y', 'Turkish_y', 'Turkmen_y', 'Tuvaluan_y', 'Ugandan_y', 'Uighur_y', 'Ukrainian_y', 'Uruguayan_y', 'Uzbek_y', 'Venezuelan_y', 'Vietnamese_y', 'Vlach_y', 'Welsh_y', 'Western European, nfd_y', 'Yemeni_y', 'Yoruba_y', 'Zambian_y', 'Zimbabwean_y', 'Zulu_y', 'Air and Space Transport_y', 'Basic Material Wholesaling_y', 'Coal Mining_y', 'Defence_y', 'Forestry and Logging_y', 'Machinery and Equipment Manufacturing_y', 'Metal Ore Mining_y', 'Non-Metallic Mineral Product Manufacturing_y', 'Not applicable_x_y', 'Not stated_x_y_2', 'Oil and Gas Extraction_y', 'Other Transport_y', 'Rail Transport_y', 'Road Transport_y', 'Water Supply, Sewerage and Drainage Services_y', 'Water Transport_y', 'new_accomodation_y', 'new_admin_y', 'new_agriculture_y', 'new_construction_y', 'new_education_y', 'new_electricity_y', 'new_finance_y', 'new_food_y', 'new_property_y', 'new_personal_services_y', '$1_$99_y', '$100_$149_y', '$150_$249_y_y', '$250_$399_y_y', '$400_$549_y', '$550_$649_y', '$650_$749_y', '$750_$849_y', '$850_$949_y', '$950_$1049_y', '$1050_$1199_y', '$1200_$1399_y', '$1400_$1599_y', '$1600_$1999_y_y', '$2000_$2399_y', '$2400_$2999_y', '$3000_$3999_y', '$4000_and_over_y', '$0_$49_y', '$50_$74_y', '$75_$99_y', '$100_$119_y', '$120_$139_y', '$140_$159_y', '$160_$179_y', '$180_$199_y', '$200_$224_y', '$225_$249_y', '$250_$274_y', '$275_$299_y', '$300_$349_y', '$350_$449_y', '$450_$549_y', '$550_and_over_y', 'Community and Personal Service Workers_y', 'Inadequately described_y_x_2', 'Not applicable_y_y', 'Not stated_y_y_2', 'Professionals_y', 'Sales Workers_y', 'Intermediate Production and Transport Workers_y', 'new_labourers_y', 'new_clerical_y', 'new_managers_y', 'Buddhism_y', 'Christianity_y', 'Hinduism_y', 'Islam_y', 'Judaism_y', 'Not stated_y_x_3', 'Other Religions_y', 'Advanced Diploma and Diploma Level_y', 'Bachelor Degree Level_y', 'Certificate Level_y', 'Graduate Diploma and Graduate Certificate Level_y', 'Level of education inadequately described_y', 'Level of education not stated_y', 'Not applicable_y_x_2', 'Postgraduate Degree Level_y', 'Adelie Land (France)', 'Afghanistan', 'Albania', 'Algeria', 'Americas, nfd', 'Andorra', 'Angola', 'Anguilla', 'Antarctica, nfd', 'Antigua and Barbuda', 'Argentina', 'Argentinian Antarctic Territory', 'Armenia', 'Aruba', 'At sea', 'Australia', 'Australia (includes External Territories), nfd', 'Australian Antarctic Territory', 'Australian External Territories, nec', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Antarctic Territory', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Caribbean, nfd', 'Cayman Islands', 'Central African Republic', 'Central America, nfd', 'Central Asia, nfd', 'Central and West Africa, nfd', 'Chad', 'Chile', 'Chilean Antarctic Territory', 'Chinese Asia (includes Mongolia), nfd', 'Colombia', 'Comoros', 'Congo, Democratic Republic of', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Eastern Europe, nfd', 'Ecuador', 'Egypt', 'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Falkland Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Gaza Strip and West Bank', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hong Kong (SAR of China)', 'Hungary', 'Iceland', 'Inadequately described_x_y_2', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Japan and the Koreas, nfd', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Democratic People's Republic of (North)", 'Korea, Republic of (South)', 'Kuwait', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg_x', 'Macau (SAR of China)', 'Madagascar', 'Mainland South-East Asia, nfd', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Maritime South-East Asia, nfd', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Melanesia, nfd', 'Mexico', 'Micronesia, Federated States of', 'Micronesia, nfd', 'Middle East, nfd', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'North Africa and the Middle East, nfd', 'North Africa, nfd', 'North-East Asia, nfd', 'North-West Europe, nfd', 'Northern America, nfd', 'Northern Europe, nfd', 'Northern Ireland', 'Northern Mariana Islands', 'Norway', 'Not stated_x_y_3', 'Oceania and Antarctica, nfd', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Polynesia (excludes Hawaii), nec', 'Polynesia (excludes Hawaii), nfd', 'Portugal', 'Puerto Rico', 'Qatar', 'Queen Maud Land (Norway)', 'Romania', 'Ross Dependency (New Zealand)', 'Russian Federation', 'Rwanda', 'Samoa', 'Samoa, American', 'San Marino', 'Saudi Arabia', 'Scotland', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South America, nec', 'South America, nfd', 'South Eastern Europe, nfd', 'South-East Asia, nfd', 'Southern Asia, nfd', 'Southern Europe, nfd', 'Southern and Central Asia, nfd', 'Southern and East Africa, nec', 'Southern and East Africa, nfd', 'Southern and Eastern Europe, nfd', 'Spain', 'Sri Lanka', 'St Helena', 'St Kitts and Nevis', 'St Lucia', 'St Pierre and Miquelon', 'St Vincent and the Grenadines', 'Sub-Saharan Africa, nfd', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Virgin Islands, British', 'Virgin Islands, United States', 'Wales', 'Wallis and Futuna', 'Western Europe, nfd', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe', '$1_$149', '$150_$249_x', '$250_$399_x', '$400_$599', '$600_$799', '$800_$999', '$1600_$1999_x', '$1000_$1299', '$2000_or_more', 'Acehnese', 'Afghan', 'African American', 'African, so described', 'Afrikaner', 'Akan', 'Albanian', 'Algerian', 'American', 'Amhara', 'Anglo-Burmese', 'Anglo-Indian', 'Angolan', 'Arab, nfd', 'Argentinian', 'Armenian', 'Asian, so described', 'Australian', 'Australian Aboriginal', 'Australian Peoples, nfd', 'Australian South Sea Islander', 'Austrian', 'Azeri', 'Balinese', 'Barbadian', 'Basque', 'Batswana', 'Belarusan', 'Belgian', 'Bengali', 'Berber', 'Bermudan', 'Bolivian', 'Bosnian', 'Brazilian', 'British, nfd', 'Bruneian', 'Bulgarian', 'Burgher', 'Burmese', 'Canadian', 'Caribbean Islander, nfd', 'Catalan', 'Caucasian, so described', 'Central American, nfd', 'Central Asian, nfd', 'Central and West African, nfd', 'Channel Islander', 'Chilean', 'Chinese', 'Chinese Asian, nfd', 'Colombian', 'Cook Islander', 'Coptic', 'Costa Rican', 'Creole, so described', 'Croatian', 'Cuban', 'Cypriot', 'Czech', 'Danish', 'Dinka', 'Dutch', 'Eastern European, nfd', 'Ecuadorian', 'Egyptian', 'English', 'Eritrean', 'Estonian', 'Ethiopian', 'Eurasian, so described', 'European, so described', 'Fijian', 'Filipino', 'Finnish', 'Flemish', 'French', 'French Canadian', 'Frisian', 'Georgian', 'German', 'Ghanaian', 'Gibraltarian', 'Greek', 'Guatemalan', 'Gujarati', 'Guyanese', 'Hawaiian', 'Hazara', 'Hmong', 'Hungarian', 'Hutu', 'I-Kiribati', 'Icelandic', 'Inadequately described_y_y_2', 'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Irish', 'Italian', 'Ivorean', 'Jamaican', 'Japanese', 'Javanese', 'Jewish', 'Jordanian', 'Kadazan', 'Karen', 'Kazakh', 'Kenyan', 'Korean', 'Kurdish', 'Kuwaiti', 'Lao', 'Latvian', 'Lebanese', 'Liberian', 'Libyan', 'Lithuanian', 'Luxembourg_y', 'Macedonian', 'Madurese', 'Mainland South-East Asian, nfd', 'Malawian', 'Malay', 'Malayali', 'Maldivian', 'Maltese', 'Manx', 'Maori', 'Maritime South-East Asian, nfd', 'Masai', 'Mauritian', 'Mayan', 'Melanesian and Papuan, nfd', 'Mexican', 'Micronesian, nfd', 'Moldovan', 'Mon', 'Mongolian', 'Montenegrin', 'Moroccan', 'Mozambican', 'Native North American Indian', 'Nauruan', 'Nepalese', 'New Caledonian', 'New Zealand Peoples, nfd', 'New Zealander', 'Ni-Vanuatu', 'Nicaraguan', 'Nigerian', 'Niuean', 'North African and Middle Eastern, nfd', 'North American, nfd', 'North-East Asian, nfd', 'North-West European, nfd', 'Northern European, nfd', 'Norwegian', 'Not stated_y_y_3', 'Nuer', 'Oceanian, nfd', 'Oromo', 'Other North African and Middle Eastern, nfd', 'Other North-East Asian, nfd', 'Pakistani', 'Palestinian', 'Papua New Guinean', 'Paraguayan', 'Pathan', 'Peruvian', 'Polish', 'Polynesian, nfd', 'Portuguese', 'Puerto Rican', 'Punjabi', 'Romanian', 'Russian', 'Salvadoran', 'Samoan', 'Saudi Arabian', 'Scottish', 'Serbian', 'Seychellois', 'Sierra Leonean', 'Sikh', 'Singaporean', 'Sinhalese', 'Slovak', 'Slovene', 'Solomon Islander', 'Somali', 'Sorb/Wend', 'South African', 'South American, nfd', 'South Eastern European, nfd', 'South-East Asian, nfd', 'Southern Asian, nfd', 'Southern European, nfd', 'Southern and Central Asian, nfd', 'Southern and East African, nfd', 'Southern and Eastern European, nfd', 'Spanish', 'Sub-Saharan African, nfd', 'Sudanese', 'Sundanese', 'Swedish', 'Swiss', 'Syrian', 'Tahitian', 'Taiwanese', 'Tajik', 'Tanzanian', 'Tatar', 'Temoq', 'Thai', 'Tibetan', 'Tigrayan', 'Tigre', 'Timorese', 'Tokelauan', 'Tongan', 'Torres Strait Islander', 'Tunisian', 'Turkish', 'Turkmen', 'Tuvaluan', 'Ugandan', 'Uighur', 'Ukrainian', 'Uruguayan', 'Uzbek', 'Venezuelan', 'Vietnamese', 'Vlach', 'Welsh', 'Western European, nfd', 'Yemeni', 'Yoruba', 'Zambian', 'Zimbabwean', 'Zulu', 'Air and Space Transport', 'Basic Material Wholesaling', 'Coal Mining', 'Defence', 'Forestry and Logging', 'Machinery and Equipment Manufacturing', 'Metal Ore Mining', 'Non-Metallic Mineral Product Manufacturing', 'Not applicable_x_y_2', 'Not stated_x_y_4', 'Oil and Gas Extraction', 'Other Transport', 'Rail Transport', 'Road Transport', 'Water Supply, Sewerage and Drainage Services', 'Water Transport', 'new_accomodation', 'new_admin', 'new_agriculture', 'new_construction', 'new_education', 'new_electricity', 'new_finance', 'new_food', 'new_property', 'new_personal_services', '$1_$99', '$100_$149', '$150_$249_y', '$250_$399_y', '$400_$549', '$550_$649', '$650_$749', '$750_$849', '$850_$949', '$950_$1049', '$1050_$1199', '$1200_$1399', '$1400_$1599', '$1600_$1999_y', '$2000_$2399', '$2400_$2999', '$3000_$3999', '$4000_and_over', '$0_$49', '$50_$74', '$75_$99', '$100_$119', '$120_$139', '$140_$159', '$160_$179', '$180_$199', '$200_$224', '$225_$249', '$250_$274', '$275_$299', '$300_$349', '$350_$449', '$450_$549', '$550_and_over', 'Community and Personal Service Workers', 'Inadequately described', 'Not applicable_y_y_2', 'Not stated_y_y_4', 'Professionals', 'Sales Workers', 'Intermediate Production and Transport Workers', 'new_labourers', 'new_clerical', 'new_managers', 'Buddhism', 'Christianity', 'Hinduism', 'Islam', 'Judaism', 'Not stated', 'Other Religions', 'Advanced Diploma and Diploma Level', 'Bachelor Degree Level', 'Certificate Level', 'Graduate Diploma and Graduate Certificate Level', 'Level of education inadequately described', 'Level of education not stated', 'Not applicable', 'Postgraduate Degree Level']
df_all_years

,lga,Adelie Land (France)_x,Afghanistan_x,Albania_x,Algeria_x,"Americas, nfd_x",Andorra_x,Angola_x,Anguilla_x,"Antarctica, nfd_x",...,Not stated,Other Religions,Advanced Diploma and Diploma Level,Bachelor Degree Level,Certificate Level,Graduate Diploma and Graduate Certificate Level,Level of education inadequately described,Level of education not stated,Not applicable,Postgraduate Degree Level
0,Albury (C),0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4496,397,3530.0,4704.0,9864.0,843.0,307.0,4257.0,26523.0,1043
1,Ballina (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4035,205,3327.0,4736.0,7752.0,745.0,333.0,3806.0,20021.0,1068
2,Balranald (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,287,4,83.0,94.0,297.0,17.0,6.0,290.0,1481.0,24
3,Bathurst Regional (A),0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4453,180,2672.0,3753.0,7859.0,652.0,253.0,4257.0,20911.0,951
4,Bega Valley (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3309,142,2332.0,2942.0,6671.0,596.0,235.0,3458.0,16364.0,649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Darwin (C),0.0,0.0,0.0,3.0,0.0,0.0,4.0,0.0,0.0,...,10340,709,5497.0,11253.0,11796.0,1731.0,478.0,8731.0,35516.0,3797
461,Katherine (T),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2244,83,593.0,731.0,1510.0,129.0,32.0,1933.0,4639.0,144
462,Palmerston (C),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3742,211,2276.0,2523.0,6973.0,434.0,168.0,2896.0,17963.0,553
463,Unincorporated NT,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,...,1270,36,433.0,696.0,1301.0,116.0,22.0,1067.0,3076.0,193
464,Unincorporated ACT,0.0,233.0,12.0,13.0,0.0,0.0,15.0,0.0,0.0,...,33883,3700,29723.0,71606.0,43558.0,13404.0,2539.0,23685.0,177549.0,34785

### Concatenate the three years to get consistent columns across all years

In [70]:
print(df_2006.shape)
print(df_2011.shape)
print(df_2016.shape)

(675, 603)
(568, 603)
(554, 603)

In [76]:
#study_level_2016_sort = study_level_2016.sort_index(axis=1)
#study_level_2011_sort = study_level_2011.sort_index(axis=1) 
#study_level_2006_sort = study_level_2006.sort_index(axis=1) 


#CONCATENATE THEM TOGETHER
result_x = pd.concat([df_2006, df_2011], ignore_index=True, sort=False)
x_df_stacked = pd.concat([result_x, df_2016], ignore_index=True, sort=False)
#drop the columns with Nan values
x_df_stacked = x_df_stacked.dropna(how={'any'},thresh = 1700, axis=1)

# splitting dataframe by row index
x_df_2006 = x_df_stacked.iloc[:675,:]
x_df_2011 = x_df_stacked.iloc[675:1243,:]
x_df_2016 = x_df_stacked.iloc[1243:1797,:]
print(x_df_2006.shape)
print(x_df_2011.shape)
print(x_df_2016.shape)

(675, 600)
(568, 600)
(554, 600)

## Merge 2006 with 2011 COB (y labels) and repeat the opertation with 2011 data and COB 2016 (y labels) , and not lose data unecesarily

In [77]:
df_2006_and_2011ylabels = pd.merge(x_df_2006, cob_2011_prepro, how='inner', on=['lga'])
#df_all_years = df_all_years.drop_duplicates(subset=['lga'], keep='first')
df_2006_and_2011ylabels
df_2006_and_2011ylabels.columns = ['lga', 'Adelie Land (France)_x', 'Afghanistan_x', 'Albania_x', 'Algeria_x', 'Americas, nfd_x', 'Andorra_x', 'Angola_x', 'Anguilla_x', 'Antarctica, nfd_x', 'Antigua and Barbuda_x', 'Argentina_x', 'Argentinian Antarctic Territory_x', 'Armenia_x', 'Aruba_x', 'At sea_x', 'Australia_x', 'Australia (includes External Territories), nfd_x', 'Australian Antarctic Territory_x', 'Australian External Territories, nec_x', 'Austria_x', 'Azerbaijan_x', 'Bahamas_x', 'Bahrain_x', 'Bangladesh_x', 'Barbados_x', 'Belarus_x', 'Belgium_x', 'Belize_x', 'Benin_x', 'Bermuda_x', 'Bhutan_x', 'Bosnia and Herzegovina_x', 'Botswana_x', 'Brazil_x', 'British Antarctic Territory_x', 'Brunei Darussalam_x', 'Bulgaria_x', 'Burkina Faso_x', 'Burundi_x', 'Cambodia_x', 'Cameroon_x', 'Canada_x', 'Caribbean, nfd_x', 'Cayman Islands_x', 'Central African Republic_x', 'Central America, nfd_x', 'Central Asia, nfd_x', 'Central and West Africa, nfd_x', 'Chad_x', 'Chile_x', 'Chilean Antarctic Territory_x', 'Chinese Asia (includes Mongolia), nfd_x', 'Colombia_x', 'Comoros_x', 'Congo, Democratic Republic of_x', 'Cook Islands_x', 'Costa Rica_x', 'Croatia_x', 'Cuba_x', 'Cyprus_x', 'Czech Republic_x', 'Denmark_x', 'Djibouti_x', 'Dominica_x', 'Dominican Republic_x', 'Eastern Europe, nfd_x', 'Ecuador_x', 'Egypt_x', 'El Salvador_x', 'England_x', 'Equatorial Guinea_x', 'Eritrea_x', 'Estonia_x', 'Ethiopia_x', 'Falkland Islands_x', 'Fiji_x', 'Finland_x', 'France_x', 'French Guiana_x', 'French Polynesia_x', 'Gabon_x', 'Gambia_x', 'Gaza Strip and West Bank_x', 'Georgia_x', 'Germany_x', 'Ghana_x', 'Gibraltar_x', 'Greece_x', 'Greenland_x', 'Grenada_x', 'Guadeloupe_x', 'Guam_x', 'Guatemala_x', 'Guinea_x', 'Guinea-Bissau_x', 'Guyana_x', 'Haiti_x', 'Holy See_x', 'Honduras_x', 'Hong Kong (SAR of China)_x', 'Hungary_x', 'Iceland_x', 'Inadequately described_x', 'India_x', 'Indonesia_x', 'Iran_x', 'Iraq_x', 'Ireland_x', 'Isle of Man_x', 'Israel_x', 'Italy_x', 'Jamaica_x', 'Japan_x', 'Japan and the Koreas, nfd_x', 'Jordan_x', 'Kazakhstan_x', 'Kenya_x', 'Kiribati_x', "Korea, Democratic People's Republic of (North)_x", 'Korea, Republic of (South)_x', 'Kuwait_x', 'Laos_x', 'Latvia_x', 'Lebanon_x', 'Lesotho_x', 'Liberia_x', 'Libya_x', 'Liechtenstein_x', 'Lithuania_x', 'Luxembourg_x', 'Macau (SAR of China)_x', 'Madagascar_x', 'Mainland South-East Asia, nfd_x', 'Malawi_x', 'Malaysia_x', 'Maldives_x', 'Mali_x', 'Malta_x', 'Maritime South-East Asia, nfd_x', 'Marshall Islands_x', 'Martinique_x', 'Mauritania_x', 'Mauritius_x', 'Mayotte_x', 'Melanesia, nfd_x', 'Mexico_x', 'Micronesia, Federated States of_x', 'Micronesia, nfd_x', 'Middle East, nfd_x', 'Moldova_x', 'Monaco_x', 'Mongolia_x', 'Montenegro_x', 'Montserrat_x', 'Morocco_x', 'Mozambique_x', 'Namibia_x', 'Nauru_x', 'Nepal_x', 'Netherlands_x', 'New Caledonia_x', 'New Zealand_x', 'Nicaragua_x', 'Niger_x', 'Nigeria_x', 'Niue_x', 'Norfolk Island_x', 'North Africa and the Middle East, nfd_x', 'North Africa, nfd_x', 'North-East Asia, nfd_x', 'North-West Europe, nfd_x', 'Northern America, nfd_x', 'Northern Europe, nfd_x', 'Northern Ireland_x', 'Northern Mariana Islands_x', 'Norway_x', 'Not stated_x', 'Oceania and Antarctica, nfd_x', 'Oman_x', 'Pakistan_x', 'Palau_x', 'Panama_x', 'Papua New Guinea_x', 'Paraguay_x', 'Peru_x', 'Philippines_x', 'Poland_x', 'Polynesia (excludes Hawaii), nec_x', 'Polynesia (excludes Hawaii), nfd_x', 'Portugal_x', 'Puerto Rico_x', 'Qatar_x', 'Queen Maud Land (Norway)_x', 'Romania_x', 'Ross Dependency (New Zealand)_x', 'Russian Federation_x', 'Rwanda_x', 'Samoa_x', 'Samoa, American_x', 'San Marino_x', 'Saudi Arabia_x', 'Scotland_x', 'Senegal_x', 'Serbia_x', 'Seychelles_x', 'Sierra Leone_x', 'Singapore_x', 'Slovakia_x', 'Slovenia_x', 'Solomon Islands_x', 'Somalia_x', 'South Africa_x', 'South America, nec_x', 'South America, nfd_x', 'South Eastern Europe, nfd_x', 'South-East Asia, nfd_x', 'Southern Asia, nfd_x', 'Southern Europe, nfd_x', 'Southern and Central Asia, nfd_x', 'Southern and East Africa, nec_x', 'Southern and East Africa, nfd_x', 'Southern and Eastern Europe, nfd_x', 'Spain_x', 'Sri Lanka_x', 'St Helena_x', 'St Kitts and Nevis_x', 'St Lucia_x', 'St Pierre and Miquelon_x', 'St Vincent and the Grenadines_x', 'Sub-Saharan Africa, nfd_x', 'Sudan_x', 'Suriname_x', 'Swaziland_x', 'Sweden_x', 'Switzerland_x', 'Syria_x', 'Taiwan_x', 'Tajikistan_x', 'Tanzania_x', 'Thailand_x', 'Togo_x', 'Tokelau_x', 'Tonga_x', 'Trinidad and Tobago_x', 'Tunisia_x', 'Turkey_x', 'Turkmenistan_x', 'Turks and Caicos Islands_x', 'Tuvalu_x', 'Uganda_x', 'Ukraine_x', 'United Arab Emirates_x', 'United States of America_x', 'Uruguay_x', 'Uzbekistan_x', 'Vanuatu_x', 'Virgin Islands, British_x', 'Virgin Islands, United States_x', 'Wales_x', 'Wallis and Futuna_x', 'Western Europe, nfd_x', 'Western Sahara_x', 'Yemen_x', 'Zambia_x', 'Zimbabwe_x', '$1_$149', '$150_$249_x', '$250_$399_x', '$400_$599', '$600_$799', '$800_$999', '$1600_$1999_x', '$1000_$1299', '$2000_or_more', 'Acehnese', 'Afghan', 'African American', 'African, so described', 'Afrikaner', 'Akan', 'Albanian', 'Algerian', 'American', 'Amhara', 'Anglo-Burmese', 'Anglo-Indian', 'Angolan', 'Arab, nfd', 'Argentinian', 'Armenian', 'Asian, so described', 'Australian', 'Australian Aboriginal', 'Australian Peoples, nfd', 'Australian South Sea Islander', 'Austrian', 'Azeri', 'Balinese', 'Barbadian', 'Basque', 'Batswana', 'Belarusan', 'Belgian', 'Bengali', 'Berber', 'Bermudan', 'Bolivian', 'Bosnian', 'Brazilian', 'British, nfd', 'Bruneian', 'Bulgarian', 'Burgher', 'Burmese', 'Canadian', 'Caribbean Islander, nfd', 'Catalan', 'Caucasian, so described', 'Central American, nfd', 'Central Asian, nfd', 'Central and West African, nfd', 'Channel Islander', 'Chilean', 'Chinese', 'Chinese Asian, nfd', 'Colombian', 'Cook Islander', 'Coptic', 'Costa Rican', 'Creole, so described', 'Croatian', 'Cuban', 'Cypriot', 'Czech', 'Danish', 'Dinka', 'Dutch', 'Eastern European, nfd', 'Ecuadorian', 'Egyptian', 'English', 'Eritrean', 'Estonian', 'Ethiopian', 'Eurasian, so described', 'European, so described', 'Fijian', 'Filipino', 'Finnish', 'Flemish', 'French', 'French Canadian', 'Frisian', 'Georgian', 'German', 'Ghanaian', 'Gibraltarian', 'Greek', 'Guatemalan', 'Gujarati', 'Guyanese', 'Hawaiian', 'Hazara', 'Hmong', 'Hungarian', 'Hutu', 'I-Kiribati', 'Icelandic', 'Inadequately described_y', 'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Irish', 'Italian', 'Ivorean', 'Jamaican', 'Japanese', 'Javanese', 'Jewish', 'Jordanian', 'Kadazan', 'Karen', 'Kazakh', 'Kenyan', 'Korean', 'Kurdish', 'Kuwaiti', 'Lao', 'Latvian', 'Lebanese', 'Liberian', 'Libyan', 'Lithuanian', 'Luxembourg_y', 'Macedonian', 'Madurese', 'Mainland South-East Asian, nfd', 'Malawian', 'Malay', 'Malayali', 'Maldivian', 'Maltese', 'Manx', 'Maori', 'Maritime South-East Asian, nfd', 'Masai', 'Mauritian', 'Mayan', 'Melanesian and Papuan, nfd', 'Mexican', 'Micronesian, nfd', 'Moldovan', 'Mon', 'Mongolian', 'Montenegrin', 'Moroccan', 'Mozambican', 'Native North American Indian', 'Nauruan', 'Nepalese', 'New Caledonian', 'New Zealand Peoples, nfd', 'New Zealander', 'Ni-Vanuatu', 'Nicaraguan', 'Nigerian', 'Niuean', 'North African and Middle Eastern, nfd', 'North American, nfd', 'North-East Asian, nfd', 'North-West European, nfd', 'Northern European, nfd', 'Norwegian', 'Not stated_y', 'Nuer', 'Oceanian, nfd', 'Oromo', 'Other North African and Middle Eastern, nfd', 'Other North-East Asian, nfd', 'Pakistani', 'Palestinian', 'Papua New Guinean', 'Paraguayan', 'Pathan', 'Peruvian', 'Polish', 'Polynesian, nfd', 'Portuguese', 'Puerto Rican', 'Punjabi', 'Romanian', 'Russian', 'Salvadoran', 'Samoan', 'Saudi Arabian', 'Scottish', 'Serbian', 'Seychellois', 'Sierra Leonean', 'Sikh', 'Singaporean', 'Sinhalese', 'Slovak', 'Slovene', 'Solomon Islander', 'Somali', 'Sorb/Wend', 'South African', 'South American, nfd', 'South Eastern European, nfd', 'South-East Asian, nfd', 'Southern Asian, nfd', 'Southern European, nfd', 'Southern and Central Asian, nfd', 'Southern and East African, nfd', 'Southern and Eastern European, nfd', 'Spanish', 'Sub-Saharan African, nfd', 'Sudanese', 'Sundanese', 'Swedish', 'Swiss', 'Syrian', 'Tahitian', 'Taiwanese', 'Tajik', 'Tanzanian', 'Tatar', 'Temoq', 'Thai', 'Tibetan', 'Tigrayan', 'Tigre', 'Timorese', 'Tokelauan', 'Tongan', 'Torres Strait Islander', 'Tunisian', 'Turkish', 'Turkmen', 'Tuvaluan', 'Ugandan', 'Uighur', 'Ukrainian', 'Uruguayan', 'Uzbek', 'Venezuelan', 'Vietnamese', 'Vlach', 'Welsh', 'Western European, nfd', 'Yemeni', 'Yoruba', 'Zambian', 'Zimbabwean', 'Zulu', 'Air and Space Transport', 'Basic Material Wholesaling', 'Coal Mining', 'Defence', 'Forestry and Logging', 'Machinery and Equipment Manufacturing', 'Metal Ore Mining', 'Non-Metallic Mineral Product Manufacturing', 'Not applicable_x', 'Not stated_x_2', 'Oil and Gas Extraction', 'Other Transport', 'Rail Transport', 'Road Transport', 'Water Supply, Sewerage and Drainage Services', 'Water Transport', 'new_accomodation', 'new_admin', 'new_agriculture', 'new_construction', 'new_education', 'new_electricity', 'new_finance', 'new_food', 'new_property', 'new_personal_services', '$1_$99', '$100_$149', '$150_$249_y', '$250_$399_y', '$400_$549', '$550_$649', '$650_$749', '$750_$849', '$850_$949', '$950_$1049', '$1050_$1199', '$1200_$1399', '$1400_$1599', '$1600_$1999_y', '$2000_$2399', '$2400_$2999', '$3000_$3999', '$4000_and_over', '$0_$49', '$50_$74', '$75_$99', '$100_$119', '$120_$139', '$140_$159', '$160_$179', '$180_$199', '$200_$224', '$225_$249', '$250_$274', '$275_$299', '$300_$349', '$350_$449', '$450_$549', '$550_and_over', 'Inadequately described_x_2', 'Not applicable_y', 'Not stated_y_2', 'Professionals', 'new_labourers', 'new_clerical', 'new_managers', 'Buddhism', 'Christianity', 'Hinduism', 'Islam', 'Judaism', 'Not stated_x_3', 'Other Religions', 'Advanced Diploma and Diploma Level', 'Bachelor Degree Level', 'Certificate Level', 'Graduate Diploma and Graduate Certificate Level', 'Level of education inadequately described', 'Level of education not stated', 'Not applicable', 'Postgraduate Degree Level', 'Adelie Land (France)_y', 'Afghanistan_y', 'Albania_y', 'Algeria_y', 'Americas, nfd_y', 'Andorra_y', 'Angola_y', 'Anguilla_y', 'Antarctica, nfd_y', 'Antigua and Barbuda_y', 'Argentina_y', 'Argentinian Antarctic Territory_y', 'Armenia_y', 'Aruba_y', 'At sea_y', 'Australia_y', 'Australia (includes External Territories), nfd_y', 'Australian Antarctic Territory_y', 'Australian External Territories, nec_y', 'Austria_y', 'Azerbaijan_y', 'Bahamas_y', 'Bahrain_y', 'Bangladesh_y', 'Barbados_y', 'Belarus_y', 'Belgium_y', 'Belize_y', 'Benin_y', 'Bermuda_y', 'Bhutan_y', 'Bosnia and Herzegovina_y', 'Botswana_y', 'Brazil_y', 'British Antarctic Territory_y', 'Brunei Darussalam_y', 'Bulgaria_y', 'Burkina Faso_y', 'Burundi_y', 'Cambodia_y', 'Cameroon_y', 'Canada_y', 'Caribbean, nfd_y', 'Cayman Islands_y', 'Central African Republic_y', 'Central America, nfd_y', 'Central Asia, nfd_y', 'Central and West Africa, nfd_y', 'Chad_y', 'Chile_y', 'Chilean Antarctic Territory_y', 'Chinese Asia (includes Mongolia), nfd_y', 'Colombia_y', 'Comoros_y', 'Congo, Democratic Republic of_y', 'Cook Islands_y', 'Costa Rica_y', 'Croatia_y', 'Cuba_y', 'Cyprus_y', 'Czech Republic_y', 'Denmark_y', 'Djibouti_y', 'Dominica_y', 'Dominican Republic_y', 'Eastern Europe, nfd_y', 'Ecuador_y', 'Egypt_y', 'El Salvador_y', 'England_y', 'Equatorial Guinea_y', 'Eritrea_y', 'Estonia_y', 'Ethiopia_y', 'Falkland Islands_y', 'Fiji_y', 'Finland_y', 'France_y', 'French Guiana_y', 'French Polynesia_y', 'Gabon_y', 'Gambia_y', 'Gaza Strip and West Bank_y', 'Georgia_y', 'Germany_y', 'Ghana_y', 'Gibraltar_y', 'Greece_y', 'Greenland_y', 'Grenada_y', 'Guadeloupe_y', 'Guam_y', 'Guatemala_y', 'Guinea_y', 'Guinea-Bissau_y', 'Guyana_y', 'Haiti_y', 'Holy See_y', 'Honduras_y', 'Hong Kong (SAR of China)_y', 'Hungary_y', 'Iceland_y', 'Inadequately described_y_2', 'India_y', 'Indonesia_y', 'Iran_y', 'Iraq_y', 'Ireland_y', 'Isle of Man_y', 'Israel_y', 'Italy_y', 'Jamaica_y', 'Japan_y', 'Japan and the Koreas, nfd_y', 'Jordan_y', 'Kazakhstan_y', 'Kenya_y', 'Kiribati_y', "Korea, Democratic People's Republic of (North)_y", 'Korea, Republic of (South)_y', 'Kuwait_y', 'Laos_y', 'Latvia_y', 'Lebanon_y', 'Lesotho_y', 'Liberia_y', 'Libya_y', 'Liechtenstein_y', 'Lithuania_y', 'Luxembourg', 'Macau (SAR of China)_y', 'Madagascar_y', 'Mainland South-East Asia, nfd_y', 'Malawi_y', 'Malaysia_y', 'Maldives_y', 'Mali_y', 'Malta_y', 'Maritime South-East Asia, nfd_y', 'Marshall Islands_y', 'Martinique_y', 'Mauritania_y', 'Mauritius_y', 'Mayotte_y', 'Melanesia, nfd_y', 'Mexico_y', 'Micronesia, Federated States of_y', 'Micronesia, nfd_y', 'Middle East, nfd_y', 'Moldova_y', 'Monaco_y', 'Mongolia_y', 'Montenegro_y', 'Montserrat_y', 'Morocco_y', 'Mozambique_y', 'Namibia_y', 'Nauru_y', 'Nepal_y', 'Netherlands_y', 'New Caledonia_y', 'New Zealand_y', 'Nicaragua_y', 'Niger_y', 'Nigeria_y', 'Niue_y', 'Norfolk Island_y', 'North Africa and the Middle East, nfd_y', 'North Africa, nfd_y', 'North-East Asia, nfd_y', 'North-West Europe, nfd_y', 'Northern America, nfd_y', 'Northern Europe, nfd_y', 'Northern Ireland_y', 'Northern Mariana Islands_y', 'Norway_y', 'Not stated_y_3', 'Oceania and Antarctica, nfd_y', 'Oman_y', 'Pakistan_y', 'Palau_y', 'Panama_y', 'Papua New Guinea_y', 'Paraguay_y', 'Peru_y', 'Philippines_y', 'Poland_y', 'Polynesia (excludes Hawaii), nec_y', 'Polynesia (excludes Hawaii), nfd_y', 'Portugal_y', 'Puerto Rico_y', 'Qatar_y', 'Queen Maud Land (Norway)_y', 'Romania_y', 'Ross Dependency (New Zealand)_y', 'Russian Federation_y', 'Rwanda_y', 'Samoa_y', 'Samoa, American_y', 'San Marino_y', 'Saudi Arabia_y', 'Scotland_y', 'Senegal_y', 'Serbia_y', 'Seychelles_y', 'Sierra Leone_y', 'Singapore_y', 'Slovakia_y', 'Slovenia_y', 'Solomon Islands_y', 'Somalia_y', 'South Africa_y', 'South America, nec_y', 'South America, nfd_y', 'South Eastern Europe, nfd_y', 'South-East Asia, nfd_y', 'Southern Asia, nfd_y', 'Southern Europe, nfd_y', 'Southern and Central Asia, nfd_y', 'Southern and East Africa, nec_y', 'Southern and East Africa, nfd_y', 'Southern and Eastern Europe, nfd_y', 'Spain_y', 'Sri Lanka_y', 'St Helena_y', 'St Kitts and Nevis_y', 'St Lucia_y', 'St Pierre and Miquelon_y', 'St Vincent and the Grenadines_y', 'Sub-Saharan Africa, nfd_y', 'Sudan_y', 'Suriname_y', 'Swaziland_y', 'Sweden_y', 'Switzerland_y', 'Syria_y', 'Taiwan_y', 'Tajikistan_y', 'Tanzania_y', 'Thailand_y', 'Togo_y', 'Tokelau_y', 'Tonga_y', 'Trinidad and Tobago_y', 'Tunisia_y', 'Turkey_y', 'Turkmenistan_y', 'Turks and Caicos Islands_y', 'Tuvalu_y', 'Uganda_y', 'Ukraine_y', 'United Arab Emirates_y', 'United States of America_y', 'Uruguay_y', 'Uzbekistan_y', 'Vanuatu_y', 'Virgin Islands, British_y', 'Virgin Islands, United States_y', 'Wales_y', 'Wallis and Futuna_y', 'Western Europe, nfd_y', 'Western Sahara_y', 'Yemen_y', 'Zambia_y', 'Zimbabwe_y']
df_2006_and_2011ylabels

,lga,Adelie Land (France)_x,Afghanistan_x,Albania_x,Algeria_x,"Americas, nfd_x",Andorra_x,Angola_x,Anguilla_x,"Antarctica, nfd_x",...,Vanuatu_y,"Virgin Islands, British_y","Virgin Islands, United States_y",Wales_y,Wallis and Futuna_y,"Western Europe, nfd_y",Western Sahara_y,Yemen_y,Zambia_y,Zimbabwe_y
0,Albury (C),0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,44.0,0.0,0.0,0.0,0.0,10.0,30.0
1,Armidale Dumaresq (A),0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,15.0
2,Ashfield (A),0.0,4.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,3.0,22.0
3,Ballina (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,63.0,0.0,0.0,0.0,0.0,4.0,24.0
4,Balranald (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,Darwin (C),0.0,0.0,0.0,3.0,0.0,0.0,4.0,0.0,0.0,...,20.0,0.0,0.0,77.0,0.0,0.0,0.0,4.0,29.0,253.0
509,Katherine (T),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,38.0
510,Palmerston (C),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,30.0,0.0,0.0,0.0,0.0,3.0,33.0
511,Unincorporated NT,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,21.0
512,Unincorporated ACT,0.0,233.0,12.0,13.0,0.0,0.0,15.0,0.0,0.0,...,23.0,0.0,0.0,441.0,0.0,0.0,0.0,26.0,100.0,538.0

In [85]:
x_df_2006 = df_2006_and_2011ylabels.iloc[:, 0:600]

y_df_2006 = df_2006_and_2011ylabels.iloc[:, 600:]
x_df_2006.columns = ['lga', 'Adelie Land (France)_x', 'Afghanistan_x', 'Albania_x', 'Algeria_x', 'Americas, nfd_x', 'Andorra_x', 'Angola_x', 'Anguilla_x', 'Antarctica, nfd_x', 'Antigua and Barbuda_x', 'Argentina_x', 'Argentinian Antarctic Territory_x', 'Armenia_x', 'Aruba_x', 'At sea_x', 'Australia_x', 'Australia (includes External Territories), nfd_x', 'Australian Antarctic Territory_x', 'Australian External Territories, nec_x', 'Austria_x', 'Azerbaijan_x', 'Bahamas_x', 'Bahrain_x', 'Bangladesh_x', 'Barbados_x', 'Belarus_x', 'Belgium_x', 'Belize_x', 'Benin_x', 'Bermuda_x', 'Bhutan_x', 'Bosnia and Herzegovina_x', 'Botswana_x', 'Brazil_x', 'British Antarctic Territory_x', 'Brunei Darussalam_x', 'Bulgaria_x', 'Burkina Faso_x', 'Burundi_x', 'Cambodia_x', 'Cameroon_x', 'Canada_x', 'Caribbean, nfd_x', 'Cayman Islands_x', 'Central African Republic_x', 'Central America, nfd_x', 'Central Asia, nfd_x', 'Central and West Africa, nfd_x', 'Chad_x', 'Chile_x', 'Chilean Antarctic Territory_x', 'Chinese Asia (includes Mongolia), nfd_x', 'Colombia_x', 'Comoros_x', 'Congo, Democratic Republic of_x', 'Cook Islands_x', 'Costa Rica_x', 'Croatia_x', 'Cuba_x', 'Cyprus_x', 'Czech Republic_x', 'Denmark_x', 'Djibouti_x', 'Dominica_x', 'Dominican Republic_x', 'Eastern Europe, nfd_x', 'Ecuador_x', 'Egypt_x', 'El Salvador_x', 'England_x', 'Equatorial Guinea_x', 'Eritrea_x', 'Estonia_x', 'Ethiopia_x', 'Falkland Islands_x', 'Fiji_x', 'Finland_x', 'France_x', 'French Guiana_x', 'French Polynesia_x', 'Gabon_x', 'Gambia_x', 'Gaza Strip and West Bank_x', 'Georgia_x', 'Germany_x', 'Ghana_x', 'Gibraltar_x', 'Greece_x', 'Greenland_x', 'Grenada_x', 'Guadeloupe_x', 'Guam_x', 'Guatemala_x', 'Guinea_x', 'Guinea-Bissau_x', 'Guyana_x', 'Haiti_x', 'Holy See_x', 'Honduras_x', 'Hong Kong (SAR of China)_x', 'Hungary_x', 'Iceland_x', 'Inadequately described_x', 'India_x', 'Indonesia_x', 'Iran_x', 'Iraq_x', 'Ireland_x', 'Isle of Man_x', 'Israel_x', 'Italy_x', 'Jamaica_x', 'Japan_x', 'Japan and the Koreas, nfd_x', 'Jordan_x', 'Kazakhstan_x', 'Kenya_x', 'Kiribati_x', "Korea, Democratic People's Republic of (North)_x", 'Korea, Republic of (South)_x', 'Kuwait_x', 'Laos_x', 'Latvia_x', 'Lebanon_x', 'Lesotho_x', 'Liberia_x', 'Libya_x', 'Liechtenstein_x', 'Lithuania_x', 'Luxembourg_x', 'Macau (SAR of China)_x', 'Madagascar_x', 'Mainland South-East Asia, nfd_x', 'Malawi_x', 'Malaysia_x', 'Maldives_x', 'Mali_x', 'Malta_x', 'Maritime South-East Asia, nfd_x', 'Marshall Islands_x', 'Martinique_x', 'Mauritania_x', 'Mauritius_x', 'Mayotte_x', 'Melanesia, nfd_x', 'Mexico_x', 'Micronesia, Federated States of_x', 'Micronesia, nfd_x', 'Middle East, nfd_x', 'Moldova_x', 'Monaco_x', 'Mongolia_x', 'Montenegro_x', 'Montserrat_x', 'Morocco_x', 'Mozambique_x', 'Namibia_x', 'Nauru_x', 'Nepal_x', 'Netherlands_x', 'New Caledonia_x', 'New Zealand_x', 'Nicaragua_x', 'Niger_x', 'Nigeria_x', 'Niue_x', 'Norfolk Island_x', 'North Africa and the Middle East, nfd_x', 'North Africa, nfd_x', 'North-East Asia, nfd_x', 'North-West Europe, nfd_x', 'Northern America, nfd_x', 'Northern Europe, nfd_x', 'Northern Ireland_x', 'Northern Mariana Islands_x', 'Norway_x', 'Not stated_x', 'Oceania and Antarctica, nfd_x', 'Oman_x', 'Pakistan_x', 'Palau_x', 'Panama_x', 'Papua New Guinea_x', 'Paraguay_x', 'Peru_x', 'Philippines_x', 'Poland_x', 'Polynesia (excludes Hawaii), nec_x', 'Polynesia (excludes Hawaii), nfd_x', 'Portugal_x', 'Puerto Rico_x', 'Qatar_x', 'Queen Maud Land (Norway)_x', 'Romania_x', 'Ross Dependency (New Zealand)_x', 'Russian Federation_x', 'Rwanda_x', 'Samoa_x', 'Samoa, American_x', 'San Marino_x', 'Saudi Arabia_x', 'Scotland_x', 'Senegal_x', 'Serbia_x', 'Seychelles_x', 'Sierra Leone_x', 'Singapore_x', 'Slovakia_x', 'Slovenia_x', 'Solomon Islands_x', 'Somalia_x', 'South Africa_x', 'South America, nec_x', 'South America, nfd_x', 'South Eastern Europe, nfd_x', 'South-East Asia, nfd_x', 'Southern Asia, nfd_x', 'Southern Europe, nfd_x', 'Southern and Central Asia, nfd_x', 'Southern and East Africa, nec_x', 'Southern and East Africa, nfd_x', 'Southern and Eastern Europe, nfd_x', 'Spain_x', 'Sri Lanka_x', 'St Helena_x', 'St Kitts and Nevis_x', 'St Lucia_x', 'St Pierre and Miquelon_x', 'St Vincent and the Grenadines_x', 'Sub-Saharan Africa, nfd_x', 'Sudan_x', 'Suriname_x', 'Swaziland_x', 'Sweden_x', 'Switzerland_x', 'Syria_x', 'Taiwan_x', 'Tajikistan_x', 'Tanzania_x', 'Thailand_x', 'Togo_x', 'Tokelau_x', 'Tonga_x', 'Trinidad and Tobago_x', 'Tunisia_x', 'Turkey_x', 'Turkmenistan_x', 'Turks and Caicos Islands_x', 'Tuvalu_x', 'Uganda_x', 'Ukraine_x', 'United Arab Emirates_x', 'United States of America_x', 'Uruguay_x', 'Uzbekistan_x', 'Vanuatu_x', 'Virgin Islands, British_x', 'Virgin Islands, United States_x', 'Wales_x', 'Wallis and Futuna_x', 'Western Europe, nfd_x', 'Western Sahara_x', 'Yemen_x', 'Zambia_x', 'Zimbabwe_x', '$1_$149', '$150_$249_x', '$250_$399_x', '$400_$599', '$600_$799', '$800_$999', '$1600_$1999_x', '$1000_$1299', '$2000_or_more', 'Acehnese', 'Afghan', 'African American', 'African, so described', 'Afrikaner', 'Akan', 'Albanian', 'Algerian', 'American', 'Amhara', 'Anglo-Burmese', 'Anglo-Indian', 'Angolan', 'Arab, nfd', 'Argentinian', 'Armenian', 'Asian, so described', 'Australian', 'Australian Aboriginal', 'Australian Peoples, nfd', 'Australian South Sea Islander', 'Austrian', 'Azeri', 'Balinese', 'Barbadian', 'Basque', 'Batswana', 'Belarusan', 'Belgian', 'Bengali', 'Berber', 'Bermudan', 'Bolivian', 'Bosnian', 'Brazilian', 'British, nfd', 'Bruneian', 'Bulgarian', 'Burgher', 'Burmese', 'Canadian', 'Caribbean Islander, nfd', 'Catalan', 'Caucasian, so described', 'Central American, nfd', 'Central Asian, nfd', 'Central and West African, nfd', 'Channel Islander', 'Chilean', 'Chinese', 'Chinese Asian, nfd', 'Colombian', 'Cook Islander', 'Coptic', 'Costa Rican', 'Creole, so described', 'Croatian', 'Cuban', 'Cypriot', 'Czech', 'Danish', 'Dinka', 'Dutch', 'Eastern European, nfd', 'Ecuadorian', 'Egyptian', 'English', 'Eritrean', 'Estonian', 'Ethiopian', 'Eurasian, so described', 'European, so described', 'Fijian', 'Filipino', 'Finnish', 'Flemish', 'French', 'French Canadian', 'Frisian', 'Georgian', 'German', 'Ghanaian', 'Gibraltarian', 'Greek', 'Guatemalan', 'Gujarati', 'Guyanese', 'Hawaiian', 'Hazara', 'Hmong', 'Hungarian', 'Hutu', 'I-Kiribati', 'Icelandic', 'Inadequately described_y', 'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Irish', 'Italian', 'Ivorean', 'Jamaican', 'Japanese', 'Javanese', 'Jewish', 'Jordanian', 'Kadazan', 'Karen', 'Kazakh', 'Kenyan', 'Korean', 'Kurdish', 'Kuwaiti', 'Lao', 'Latvian', 'Lebanese', 'Liberian', 'Libyan', 'Lithuanian', 'Luxembourg_y', 'Macedonian', 'Madurese', 'Mainland South-East Asian, nfd', 'Malawian', 'Malay', 'Malayali', 'Maldivian', 'Maltese', 'Manx', 'Maori', 'Maritime South-East Asian, nfd', 'Masai', 'Mauritian', 'Mayan', 'Melanesian and Papuan, nfd', 'Mexican', 'Micronesian, nfd', 'Moldovan', 'Mon', 'Mongolian', 'Montenegrin', 'Moroccan', 'Mozambican', 'Native North American Indian', 'Nauruan', 'Nepalese', 'New Caledonian', 'New Zealand Peoples, nfd', 'New Zealander', 'Ni-Vanuatu', 'Nicaraguan', 'Nigerian', 'Niuean', 'North African and Middle Eastern, nfd', 'North American, nfd', 'North-East Asian, nfd', 'North-West European, nfd', 'Northern European, nfd', 'Norwegian', 'Not stated_y', 'Nuer', 'Oceanian, nfd', 'Oromo', 'Other North African and Middle Eastern, nfd', 'Other North-East Asian, nfd', 'Pakistani', 'Palestinian', 'Papua New Guinean', 'Paraguayan', 'Pathan', 'Peruvian', 'Polish', 'Polynesian, nfd', 'Portuguese', 'Puerto Rican', 'Punjabi', 'Romanian', 'Russian', 'Salvadoran', 'Samoan', 'Saudi Arabian', 'Scottish', 'Serbian', 'Seychellois', 'Sierra Leonean', 'Sikh', 'Singaporean', 'Sinhalese', 'Slovak', 'Slovene', 'Solomon Islander', 'Somali', 'Sorb/Wend', 'South African', 'South American, nfd', 'South Eastern European, nfd', 'South-East Asian, nfd', 'Southern Asian, nfd', 'Southern European, nfd', 'Southern and Central Asian, nfd', 'Southern and East African, nfd', 'Southern and Eastern European, nfd', 'Spanish', 'Sub-Saharan African, nfd', 'Sudanese', 'Sundanese', 'Swedish', 'Swiss', 'Syrian', 'Tahitian', 'Taiwanese', 'Tajik', 'Tanzanian', 'Tatar', 'Temoq', 'Thai', 'Tibetan', 'Tigrayan', 'Tigre', 'Timorese', 'Tokelauan', 'Tongan', 'Torres Strait Islander', 'Tunisian', 'Turkish', 'Turkmen', 'Tuvaluan', 'Ugandan', 'Uighur', 'Ukrainian', 'Uruguayan', 'Uzbek', 'Venezuelan', 'Vietnamese', 'Vlach', 'Welsh', 'Western European, nfd', 'Yemeni', 'Yoruba', 'Zambian', 'Zimbabwean', 'Zulu', 'Air and Space Transport', 'Basic Material Wholesaling', 'Coal Mining', 'Defence', 'Forestry and Logging', 'Machinery and Equipment Manufacturing', 'Metal Ore Mining', 'Non-Metallic Mineral Product Manufacturing', 'Not applicable_x', 'Not stated_x_2', 'Oil and Gas Extraction', 'Other Transport', 'Rail Transport', 'Road Transport', 'Water Supply, Sewerage and Drainage Services', 'Water Transport', 'new_accomodation', 'new_admin', 'new_agriculture', 'new_construction', 'new_education', 'new_electricity', 'new_finance', 'new_food', 'new_property', 'new_personal_services', '$1_$99', '$100_$149', '$150_$249_y', '$250_$399_y', '$400_$549', '$550_$649', '$650_$749', '$750_$849', '$850_$949', '$950_$1049', '$1050_$1199', '$1200_$1399', '$1400_$1599', '$1600_$1999_y', '$2000_$2399', '$2400_$2999', '$3000_$3999', '$4000_and_over', '$0_$49', '$50_$74', '$75_$99', '$100_$119', '$120_$139', '$140_$159', '$160_$179', '$180_$199', '$200_$224', '$225_$249', '$250_$274', '$275_$299', '$300_$349', '$350_$449', '$450_$549', '$550_and_over', 'Inadequately described_x_2', 'Not applicable_y', 'Not stated_y_2', 'Professionals', 'new_labourers', 'new_clerical', 'new_managers', 'Buddhism', 'Christianity', 'Hinduism', 'Islam', 'Judaism', 'Not stated_x_3', 'Other Religions', 'Advanced Diploma and Diploma Level', 'Bachelor Degree Level', 'Certificate Level', 'Graduate Diploma and Graduate Certificate Level', 'Level of education inadequately described', 'Level of education not stated', 'Not applicable', 'Postgraduate Degree Level']
print(x_df_2006.shape)
print(y_df_2006.shape)

(513, 600)
(513, 265)

In [86]:

x_df_2006.to_csv("x_df_2006_data.csv")
y_df_2006.to_csv("y_for_2006_data2011.csv")

In [87]:

df_2011_and_2016ylabels = pd.merge(x_df_2011, cob_2016_prepro, how='inner', on=['lga'])
df_2011_and_2016ylabels.columns = ['lga', 'Adelie Land (France)_x', 'Afghanistan_x', 'Albania_x', 'Algeria_x', 'Americas, nfd_x', 'Andorra_x', 'Angola_x', 'Anguilla_x', 'Antarctica, nfd_x', 'Antigua and Barbuda_x', 'Argentina_x', 'Argentinian Antarctic Territory_x', 'Armenia_x', 'Aruba_x', 'At sea_x', 'Australia_x', 'Australia (includes External Territories), nfd_x', 'Australian Antarctic Territory_x', 'Australian External Territories, nec_x', 'Austria_x', 'Azerbaijan_x', 'Bahamas_x', 'Bahrain_x', 'Bangladesh_x', 'Barbados_x', 'Belarus_x', 'Belgium_x', 'Belize_x', 'Benin_x', 'Bermuda_x', 'Bhutan_x', 'Bosnia and Herzegovina_x', 'Botswana_x', 'Brazil_x', 'British Antarctic Territory_x', 'Brunei Darussalam_x', 'Bulgaria_x', 'Burkina Faso_x', 'Burundi_x', 'Cambodia_x', 'Cameroon_x', 'Canada_x', 'Caribbean, nfd_x', 'Cayman Islands_x', 'Central African Republic_x', 'Central America, nfd_x', 'Central Asia, nfd_x', 'Central and West Africa, nfd_x', 'Chad_x', 'Chile_x', 'Chilean Antarctic Territory_x', 'Chinese Asia (includes Mongolia), nfd_x', 'Colombia_x', 'Comoros_x', 'Congo, Democratic Republic of_x', 'Cook Islands_x', 'Costa Rica_x', 'Croatia_x', 'Cuba_x', 'Cyprus_x', 'Czech Republic_x', 'Denmark_x', 'Djibouti_x', 'Dominica_x', 'Dominican Republic_x', 'Eastern Europe, nfd_x', 'Ecuador_x', 'Egypt_x', 'El Salvador_x', 'England_x', 'Equatorial Guinea_x', 'Eritrea_x', 'Estonia_x', 'Ethiopia_x', 'Falkland Islands_x', 'Fiji_x', 'Finland_x', 'France_x', 'French Guiana_x', 'French Polynesia_x', 'Gabon_x', 'Gambia_x', 'Gaza Strip and West Bank_x', 'Georgia_x', 'Germany_x', 'Ghana_x', 'Gibraltar_x', 'Greece_x', 'Greenland_x', 'Grenada_x', 'Guadeloupe_x', 'Guam_x', 'Guatemala_x', 'Guinea_x', 'Guinea-Bissau_x', 'Guyana_x', 'Haiti_x', 'Holy See_x', 'Honduras_x', 'Hong Kong (SAR of China)_x', 'Hungary_x', 'Iceland_x', 'Inadequately described_x', 'India_x', 'Indonesia_x', 'Iran_x', 'Iraq_x', 'Ireland_x', 'Isle of Man_x', 'Israel_x', 'Italy_x', 'Jamaica_x', 'Japan_x', 'Japan and the Koreas, nfd_x', 'Jordan_x', 'Kazakhstan_x', 'Kenya_x', 'Kiribati_x', "Korea, Democratic People's Republic of (North)_x", 'Korea, Republic of (South)_x', 'Kuwait_x', 'Laos_x', 'Latvia_x', 'Lebanon_x', 'Lesotho_x', 'Liberia_x', 'Libya_x', 'Liechtenstein_x', 'Lithuania_x', 'Luxembourg_x', 'Macau (SAR of China)_x', 'Madagascar_x', 'Mainland South-East Asia, nfd_x', 'Malawi_x', 'Malaysia_x', 'Maldives_x', 'Mali_x', 'Malta_x', 'Maritime South-East Asia, nfd_x', 'Marshall Islands_x', 'Martinique_x', 'Mauritania_x', 'Mauritius_x', 'Mayotte_x', 'Melanesia, nfd_x', 'Mexico_x', 'Micronesia, Federated States of_x', 'Micronesia, nfd_x', 'Middle East, nfd_x', 'Moldova_x', 'Monaco_x', 'Mongolia_x', 'Montenegro_x', 'Montserrat_x', 'Morocco_x', 'Mozambique_x', 'Namibia_x', 'Nauru_x', 'Nepal_x', 'Netherlands_x', 'New Caledonia_x', 'New Zealand_x', 'Nicaragua_x', 'Niger_x', 'Nigeria_x', 'Niue_x', 'Norfolk Island_x', 'North Africa and the Middle East, nfd_x', 'North Africa, nfd_x', 'North-East Asia, nfd_x', 'North-West Europe, nfd_x', 'Northern America, nfd_x', 'Northern Europe, nfd_x', 'Northern Ireland_x', 'Northern Mariana Islands_x', 'Norway_x', 'Not stated_x', 'Oceania and Antarctica, nfd_x', 'Oman_x', 'Pakistan_x', 'Palau_x', 'Panama_x', 'Papua New Guinea_x', 'Paraguay_x', 'Peru_x', 'Philippines_x', 'Poland_x', 'Polynesia (excludes Hawaii), nec_x', 'Polynesia (excludes Hawaii), nfd_x', 'Portugal_x', 'Puerto Rico_x', 'Qatar_x', 'Queen Maud Land (Norway)_x', 'Romania_x', 'Ross Dependency (New Zealand)_x', 'Russian Federation_x', 'Rwanda_x', 'Samoa_x', 'Samoa, American_x', 'San Marino_x', 'Saudi Arabia_x', 'Scotland_x', 'Senegal_x', 'Serbia_x', 'Seychelles_x', 'Sierra Leone_x', 'Singapore_x', 'Slovakia_x', 'Slovenia_x', 'Solomon Islands_x', 'Somalia_x', 'South Africa_x', 'South America, nec_x', 'South America, nfd_x', 'South Eastern Europe, nfd_x', 'South-East Asia, nfd_x', 'Southern Asia, nfd_x', 'Southern Europe, nfd_x', 'Southern and Central Asia, nfd_x', 'Southern and East Africa, nec_x', 'Southern and East Africa, nfd_x', 'Southern and Eastern Europe, nfd_x', 'Spain_x', 'Sri Lanka_x', 'St Helena_x', 'St Kitts and Nevis_x', 'St Lucia_x', 'St Pierre and Miquelon_x', 'St Vincent and the Grenadines_x', 'Sub-Saharan Africa, nfd_x', 'Sudan_x', 'Suriname_x', 'Swaziland_x', 'Sweden_x', 'Switzerland_x', 'Syria_x', 'Taiwan_x', 'Tajikistan_x', 'Tanzania_x', 'Thailand_x', 'Togo_x', 'Tokelau_x', 'Tonga_x', 'Trinidad and Tobago_x', 'Tunisia_x', 'Turkey_x', 'Turkmenistan_x', 'Turks and Caicos Islands_x', 'Tuvalu_x', 'Uganda_x', 'Ukraine_x', 'United Arab Emirates_x', 'United States of America_x', 'Uruguay_x', 'Uzbekistan_x', 'Vanuatu_x', 'Virgin Islands, British_x', 'Virgin Islands, United States_x', 'Wales_x', 'Wallis and Futuna_x', 'Western Europe, nfd_x', 'Western Sahara_x', 'Yemen_x', 'Zambia_x', 'Zimbabwe_x', '$1_$149', '$150_$249_x', '$250_$399_x', '$400_$599', '$600_$799', '$800_$999', '$1600_$1999_x', '$1000_$1299', '$2000_or_more', 'Acehnese', 'Afghan', 'African American', 'African, so described', 'Afrikaner', 'Akan', 'Albanian', 'Algerian', 'American', 'Amhara', 'Anglo-Burmese', 'Anglo-Indian', 'Angolan', 'Arab, nfd', 'Argentinian', 'Armenian', 'Asian, so described', 'Australian', 'Australian Aboriginal', 'Australian Peoples, nfd', 'Australian South Sea Islander', 'Austrian', 'Azeri', 'Balinese', 'Barbadian', 'Basque', 'Batswana', 'Belarusan', 'Belgian', 'Bengali', 'Berber', 'Bermudan', 'Bolivian', 'Bosnian', 'Brazilian', 'British, nfd', 'Bruneian', 'Bulgarian', 'Burgher', 'Burmese', 'Canadian', 'Caribbean Islander, nfd', 'Catalan', 'Caucasian, so described', 'Central American, nfd', 'Central Asian, nfd', 'Central and West African, nfd', 'Channel Islander', 'Chilean', 'Chinese', 'Chinese Asian, nfd', 'Colombian', 'Cook Islander', 'Coptic', 'Costa Rican', 'Creole, so described', 'Croatian', 'Cuban', 'Cypriot', 'Czech', 'Danish', 'Dinka', 'Dutch', 'Eastern European, nfd', 'Ecuadorian', 'Egyptian', 'English', 'Eritrean', 'Estonian', 'Ethiopian', 'Eurasian, so described', 'European, so described', 'Fijian', 'Filipino', 'Finnish', 'Flemish', 'French', 'French Canadian', 'Frisian', 'Georgian', 'German', 'Ghanaian', 'Gibraltarian', 'Greek', 'Guatemalan', 'Gujarati', 'Guyanese', 'Hawaiian', 'Hazara', 'Hmong', 'Hungarian', 'Hutu', 'I-Kiribati', 'Icelandic', 'Inadequately described_y', 'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Irish', 'Italian', 'Ivorean', 'Jamaican', 'Japanese', 'Javanese', 'Jewish', 'Jordanian', 'Kadazan', 'Karen', 'Kazakh', 'Kenyan', 'Korean', 'Kurdish', 'Kuwaiti', 'Lao', 'Latvian', 'Lebanese', 'Liberian', 'Libyan', 'Lithuanian', 'Luxembourg_y', 'Macedonian', 'Madurese', 'Mainland South-East Asian, nfd', 'Malawian', 'Malay', 'Malayali', 'Maldivian', 'Maltese', 'Manx', 'Maori', 'Maritime South-East Asian, nfd', 'Masai', 'Mauritian', 'Mayan', 'Melanesian and Papuan, nfd', 'Mexican', 'Micronesian, nfd', 'Moldovan', 'Mon', 'Mongolian', 'Montenegrin', 'Moroccan', 'Mozambican', 'Native North American Indian', 'Nauruan', 'Nepalese', 'New Caledonian', 'New Zealand Peoples, nfd', 'New Zealander', 'Ni-Vanuatu', 'Nicaraguan', 'Nigerian', 'Niuean', 'North African and Middle Eastern, nfd', 'North American, nfd', 'North-East Asian, nfd', 'North-West European, nfd', 'Northern European, nfd', 'Norwegian', 'Not stated_y', 'Nuer', 'Oceanian, nfd', 'Oromo', 'Other North African and Middle Eastern, nfd', 'Other North-East Asian, nfd', 'Pakistani', 'Palestinian', 'Papua New Guinean', 'Paraguayan', 'Pathan', 'Peruvian', 'Polish', 'Polynesian, nfd', 'Portuguese', 'Puerto Rican', 'Punjabi', 'Romanian', 'Russian', 'Salvadoran', 'Samoan', 'Saudi Arabian', 'Scottish', 'Serbian', 'Seychellois', 'Sierra Leonean', 'Sikh', 'Singaporean', 'Sinhalese', 'Slovak', 'Slovene', 'Solomon Islander', 'Somali', 'Sorb/Wend', 'South African', 'South American, nfd', 'South Eastern European, nfd', 'South-East Asian, nfd', 'Southern Asian, nfd', 'Southern European, nfd', 'Southern and Central Asian, nfd', 'Southern and East African, nfd', 'Southern and Eastern European, nfd', 'Spanish', 'Sub-Saharan African, nfd', 'Sudanese', 'Sundanese', 'Swedish', 'Swiss', 'Syrian', 'Tahitian', 'Taiwanese', 'Tajik', 'Tanzanian', 'Tatar', 'Temoq', 'Thai', 'Tibetan', 'Tigrayan', 'Tigre', 'Timorese', 'Tokelauan', 'Tongan', 'Torres Strait Islander', 'Tunisian', 'Turkish', 'Turkmen', 'Tuvaluan', 'Ugandan', 'Uighur', 'Ukrainian', 'Uruguayan', 'Uzbek', 'Venezuelan', 'Vietnamese', 'Vlach', 'Welsh', 'Western European, nfd', 'Yemeni', 'Yoruba', 'Zambian', 'Zimbabwean', 'Zulu', 'Air and Space Transport', 'Basic Material Wholesaling', 'Coal Mining', 'Defence', 'Forestry and Logging', 'Machinery and Equipment Manufacturing', 'Metal Ore Mining', 'Non-Metallic Mineral Product Manufacturing', 'Not applicable_x', 'Not stated_x_2', 'Oil and Gas Extraction', 'Other Transport', 'Rail Transport', 'Road Transport', 'Water Supply, Sewerage and Drainage Services', 'Water Transport', 'new_accomodation', 'new_admin', 'new_agriculture', 'new_construction', 'new_education', 'new_electricity', 'new_finance', 'new_food', 'new_property', 'new_personal_services', '$1_$99', '$100_$149', '$150_$249_y', '$250_$399_y', '$400_$549', '$550_$649', '$650_$749', '$750_$849', '$850_$949', '$950_$1049', '$1050_$1199', '$1200_$1399', '$1400_$1599', '$1600_$1999_y', '$2000_$2399', '$2400_$2999', '$3000_$3999', '$4000_and_over', '$0_$49', '$50_$74', '$75_$99', '$100_$119', '$120_$139', '$140_$159', '$160_$179', '$180_$199', '$200_$224', '$225_$249', '$250_$274', '$275_$299', '$300_$349', '$350_$449', '$450_$549', '$550_and_over', 'Inadequately described_x_2', 'Not applicable_y', 'Not stated_y_2', 'Professionals', 'new_labourers', 'new_clerical', 'new_managers', 'Buddhism', 'Christianity', 'Hinduism', 'Islam', 'Judaism', 'Not stated_x_3', 'Other Religions', 'Advanced Diploma and Diploma Level', 'Bachelor Degree Level', 'Certificate Level', 'Graduate Diploma and Graduate Certificate Level', 'Level of education inadequately described', 'Level of education not stated', 'Not applicable', 'Postgraduate Degree Level', 'Adelie Land (France)_y', 'Afghanistan_y', 'Albania_y', 'Algeria_y', 'Americas, nfd_y', 'Andorra_y', 'Angola_y', 'Anguilla_y', 'Antarctica, nfd_y', 'Antigua and Barbuda_y', 'Argentina_y', 'Argentinian Antarctic Territory_y', 'Armenia_y', 'Aruba_y', 'At sea_y', 'Australia_y', 'Australia (includes External Territories), nfd_y', 'Australian Antarctic Territory_y', 'Australian External Territories, nec_y', 'Austria_y', 'Azerbaijan_y', 'Bahamas_y', 'Bahrain_y', 'Bangladesh_y', 'Barbados_y', 'Belarus_y', 'Belgium_y', 'Belize_y', 'Benin_y', 'Bermuda_y', 'Bhutan_y', 'Bosnia and Herzegovina_y', 'Botswana_y', 'Brazil_y', 'British Antarctic Territory_y', 'Brunei Darussalam_y', 'Bulgaria_y', 'Burkina Faso_y', 'Burundi_y', 'Cambodia_y', 'Cameroon_y', 'Canada_y', 'Caribbean, nfd_y', 'Cayman Islands_y', 'Central African Republic_y', 'Central America, nfd_y', 'Central Asia, nfd_y', 'Central and West Africa, nfd_y', 'Chad_y', 'Chile_y', 'Chilean Antarctic Territory_y', 'Chinese Asia (includes Mongolia), nfd_y', 'Colombia_y', 'Comoros_y', 'Congo, Democratic Republic of_y', 'Cook Islands_y', 'Costa Rica_y', 'Croatia_y', 'Cuba_y', 'Cyprus_y', 'Czech Republic_y', 'Denmark_y', 'Djibouti_y', 'Dominica_y', 'Dominican Republic_y', 'Eastern Europe, nfd_y', 'Ecuador_y', 'Egypt_y', 'El Salvador_y', 'England_y', 'Equatorial Guinea_y', 'Eritrea_y', 'Estonia_y', 'Ethiopia_y', 'Falkland Islands_y', 'Fiji_y', 'Finland_y', 'France_y', 'French Guiana_y', 'French Polynesia_y', 'Gabon_y', 'Gambia_y', 'Gaza Strip and West Bank_y', 'Georgia_y', 'Germany_y', 'Ghana_y', 'Gibraltar_y', 'Greece_y', 'Greenland_y', 'Grenada_y', 'Guadeloupe_y', 'Guam_y', 'Guatemala_y', 'Guinea_y', 'Guinea-Bissau_y', 'Guyana_y', 'Haiti_y', 'Holy See_y', 'Honduras_y', 'Hong Kong (SAR of China)_y', 'Hungary_y', 'Iceland_y', 'Inadequately described_y_2', 'India_y', 'Indonesia_y', 'Iran_y', 'Iraq_y', 'Ireland_y', 'Isle of Man_y', 'Israel_y', 'Italy_y', 'Jamaica_y', 'Japan_y', 'Japan and the Koreas, nfd_y', 'Jordan_y', 'Kazakhstan_y', 'Kenya_y', 'Kiribati_y', "Korea, Democratic People's Republic of (North)_y", 'Korea, Republic of (South)_y', 'Kuwait_y', 'Laos_y', 'Latvia_y', 'Lebanon_y', 'Lesotho_y', 'Liberia_y', 'Libya_y', 'Liechtenstein_y', 'Lithuania_y', 'Luxembourg', 'Macau (SAR of China)_y', 'Madagascar_y', 'Mainland South-East Asia, nfd_y', 'Malawi_y', 'Malaysia_y', 'Maldives_y', 'Mali_y', 'Malta_y', 'Maritime South-East Asia, nfd_y', 'Marshall Islands_y', 'Martinique_y', 'Mauritania_y', 'Mauritius_y', 'Mayotte_y', 'Melanesia, nfd_y', 'Mexico_y', 'Micronesia, Federated States of_y', 'Micronesia, nfd_y', 'Middle East, nfd_y', 'Moldova_y', 'Monaco_y', 'Mongolia_y', 'Montenegro_y', 'Montserrat_y', 'Morocco_y', 'Mozambique_y', 'Namibia_y', 'Nauru_y', 'Nepal_y', 'Netherlands_y', 'New Caledonia_y', 'New Zealand_y', 'Nicaragua_y', 'Niger_y', 'Nigeria_y', 'Niue_y', 'Norfolk Island_y', 'North Africa and the Middle East, nfd_y', 'North Africa, nfd_y', 'North-East Asia, nfd_y', 'North-West Europe, nfd_y', 'Northern America, nfd_y', 'Northern Europe, nfd_y', 'Northern Ireland_y', 'Northern Mariana Islands_y', 'Norway_y', 'Not stated_y_3', 'Oceania and Antarctica, nfd_y', 'Oman_y', 'Pakistan_y', 'Palau_y', 'Panama_y', 'Papua New Guinea_y', 'Paraguay_y', 'Peru_y', 'Philippines_y', 'Poland_y', 'Polynesia (excludes Hawaii), nec_y', 'Polynesia (excludes Hawaii), nfd_y', 'Portugal_y', 'Puerto Rico_y', 'Qatar_y', 'Queen Maud Land (Norway)_y', 'Romania_y', 'Ross Dependency (New Zealand)_y', 'Russian Federation_y', 'Rwanda_y', 'Samoa_y', 'Samoa, American_y', 'San Marino_y', 'Saudi Arabia_y', 'Scotland_y', 'Senegal_y', 'Serbia_y', 'Seychelles_y', 'Sierra Leone_y', 'Singapore_y', 'Slovakia_y', 'Slovenia_y', 'Solomon Islands_y', 'Somalia_y', 'South Africa_y', 'South America, nec_y', 'South America, nfd_y', 'South Eastern Europe, nfd_y', 'South-East Asia, nfd_y', 'Southern Asia, nfd_y', 'Southern Europe, nfd_y', 'Southern and Central Asia, nfd_y', 'Southern and East Africa, nec_y', 'Southern and East Africa, nfd_y', 'Southern and Eastern Europe, nfd_y', 'Spain_y', 'Sri Lanka_y', 'St Helena_y', 'St Kitts and Nevis_y', 'St Lucia_y', 'St Pierre and Miquelon_y', 'St Vincent and the Grenadines_y', 'Sub-Saharan Africa, nfd_y', 'Sudan_y', 'Suriname_y', 'Swaziland_y', 'Sweden_y', 'Switzerland_y', 'Syria_y', 'Taiwan_y', 'Tajikistan_y', 'Tanzania_y', 'Thailand_y', 'Togo_y', 'Tokelau_y', 'Tonga_y', 'Trinidad and Tobago_y', 'Tunisia_y', 'Turkey_y', 'Turkmenistan_y', 'Turks and Caicos Islands_y', 'Tuvalu_y', 'Uganda_y', 'Ukraine_y', 'United Arab Emirates_y', 'United States of America_y', 'Uruguay_y', 'Uzbekistan_y', 'Vanuatu_y', 'Virgin Islands, British_y', 'Virgin Islands, United States_y', 'Wales_y', 'Wallis and Futuna_y', 'Western Europe, nfd_y', 'Western Sahara_y', 'Yemen_y', 'Zambia_y', 'Zimbabwe_y']
df_2011_and_2016ylabels

,lga,Adelie Land (France)_x,Afghanistan_x,Albania_x,Algeria_x,"Americas, nfd_x",Andorra_x,Angola_x,Anguilla_x,"Antarctica, nfd_x",...,Vanuatu_y,"Virgin Islands, British_y","Virgin Islands, United States_y",Wales_y,Wallis and Futuna_y,"Western Europe, nfd_y",Western Sahara_y,Yemen_y,Zambia_y,Zimbabwe_y
0,Albury (C),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,43.0,0.0,0.0,0.0,0.0,18.0,30.0
1,Ballina (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,53.0,0.0,0.0,0.0,0.0,0.0,33.0
2,Balranald (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Bathurst Regional (A),0.0,3.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,22.0
4,Bega Valley (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,38.0,0.0,0.0,0.0,0.0,3.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,Palmerston (C),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,33.0,0.0,0.0,0.0,0.0,17.0,134.0
503,Wagait (S),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
504,Unincorporated NT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,6.0,17.0
505,Unincorporated ACT,0.0,345.0,20.0,32.0,0.0,0.0,17.0,0.0,0.0,...,35.0,0.0,0.0,450.0,0.0,0.0,0.0,32.0,112.0,625.0
506,Unincorp. Other Territories,0.0,112.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [90]:
x_df_2011 = df_2011_and_2016ylabels.iloc[:, 0:600]

y_df_2011 = df_2011_and_2016ylabels.iloc[:, 600:]
x_df_2011.columns = ['lga', 'Adelie Land (France)_x', 'Afghanistan_x', 'Albania_x', 'Algeria_x', 'Americas, nfd_x', 'Andorra_x', 'Angola_x', 'Anguilla_x', 'Antarctica, nfd_x', 'Antigua and Barbuda_x', 'Argentina_x', 'Argentinian Antarctic Territory_x', 'Armenia_x', 'Aruba_x', 'At sea_x', 'Australia_x', 'Australia (includes External Territories), nfd_x', 'Australian Antarctic Territory_x', 'Australian External Territories, nec_x', 'Austria_x', 'Azerbaijan_x', 'Bahamas_x', 'Bahrain_x', 'Bangladesh_x', 'Barbados_x', 'Belarus_x', 'Belgium_x', 'Belize_x', 'Benin_x', 'Bermuda_x', 'Bhutan_x', 'Bosnia and Herzegovina_x', 'Botswana_x', 'Brazil_x', 'British Antarctic Territory_x', 'Brunei Darussalam_x', 'Bulgaria_x', 'Burkina Faso_x', 'Burundi_x', 'Cambodia_x', 'Cameroon_x', 'Canada_x', 'Caribbean, nfd_x', 'Cayman Islands_x', 'Central African Republic_x', 'Central America, nfd_x', 'Central Asia, nfd_x', 'Central and West Africa, nfd_x', 'Chad_x', 'Chile_x', 'Chilean Antarctic Territory_x', 'Chinese Asia (includes Mongolia), nfd_x', 'Colombia_x', 'Comoros_x', 'Congo, Democratic Republic of_x', 'Cook Islands_x', 'Costa Rica_x', 'Croatia_x', 'Cuba_x', 'Cyprus_x', 'Czech Republic_x', 'Denmark_x', 'Djibouti_x', 'Dominica_x', 'Dominican Republic_x', 'Eastern Europe, nfd_x', 'Ecuador_x', 'Egypt_x', 'El Salvador_x', 'England_x', 'Equatorial Guinea_x', 'Eritrea_x', 'Estonia_x', 'Ethiopia_x', 'Falkland Islands_x', 'Fiji_x', 'Finland_x', 'France_x', 'French Guiana_x', 'French Polynesia_x', 'Gabon_x', 'Gambia_x', 'Gaza Strip and West Bank_x', 'Georgia_x', 'Germany_x', 'Ghana_x', 'Gibraltar_x', 'Greece_x', 'Greenland_x', 'Grenada_x', 'Guadeloupe_x', 'Guam_x', 'Guatemala_x', 'Guinea_x', 'Guinea-Bissau_x', 'Guyana_x', 'Haiti_x', 'Holy See_x', 'Honduras_x', 'Hong Kong (SAR of China)_x', 'Hungary_x', 'Iceland_x', 'Inadequately described_x', 'India_x', 'Indonesia_x', 'Iran_x', 'Iraq_x', 'Ireland_x', 'Isle of Man_x', 'Israel_x', 'Italy_x', 'Jamaica_x', 'Japan_x', 'Japan and the Koreas, nfd_x', 'Jordan_x', 'Kazakhstan_x', 'Kenya_x', 'Kiribati_x', "Korea, Democratic People's Republic of (North)_x", 'Korea, Republic of (South)_x', 'Kuwait_x', 'Laos_x', 'Latvia_x', 'Lebanon_x', 'Lesotho_x', 'Liberia_x', 'Libya_x', 'Liechtenstein_x', 'Lithuania_x', 'Luxembourg_x', 'Macau (SAR of China)_x', 'Madagascar_x', 'Mainland South-East Asia, nfd_x', 'Malawi_x', 'Malaysia_x', 'Maldives_x', 'Mali_x', 'Malta_x', 'Maritime South-East Asia, nfd_x', 'Marshall Islands_x', 'Martinique_x', 'Mauritania_x', 'Mauritius_x', 'Mayotte_x', 'Melanesia, nfd_x', 'Mexico_x', 'Micronesia, Federated States of_x', 'Micronesia, nfd_x', 'Middle East, nfd_x', 'Moldova_x', 'Monaco_x', 'Mongolia_x', 'Montenegro_x', 'Montserrat_x', 'Morocco_x', 'Mozambique_x', 'Namibia_x', 'Nauru_x', 'Nepal_x', 'Netherlands_x', 'New Caledonia_x', 'New Zealand_x', 'Nicaragua_x', 'Niger_x', 'Nigeria_x', 'Niue_x', 'Norfolk Island_x', 'North Africa and the Middle East, nfd_x', 'North Africa, nfd_x', 'North-East Asia, nfd_x', 'North-West Europe, nfd_x', 'Northern America, nfd_x', 'Northern Europe, nfd_x', 'Northern Ireland_x', 'Northern Mariana Islands_x', 'Norway_x', 'Not stated_x', 'Oceania and Antarctica, nfd_x', 'Oman_x', 'Pakistan_x', 'Palau_x', 'Panama_x', 'Papua New Guinea_x', 'Paraguay_x', 'Peru_x', 'Philippines_x', 'Poland_x', 'Polynesia (excludes Hawaii), nec_x', 'Polynesia (excludes Hawaii), nfd_x', 'Portugal_x', 'Puerto Rico_x', 'Qatar_x', 'Queen Maud Land (Norway)_x', 'Romania_x', 'Ross Dependency (New Zealand)_x', 'Russian Federation_x', 'Rwanda_x', 'Samoa_x', 'Samoa, American_x', 'San Marino_x', 'Saudi Arabia_x', 'Scotland_x', 'Senegal_x', 'Serbia_x', 'Seychelles_x', 'Sierra Leone_x', 'Singapore_x', 'Slovakia_x', 'Slovenia_x', 'Solomon Islands_x', 'Somalia_x', 'South Africa_x', 'South America, nec_x', 'South America, nfd_x', 'South Eastern Europe, nfd_x', 'South-East Asia, nfd_x', 'Southern Asia, nfd_x', 'Southern Europe, nfd_x', 'Southern and Central Asia, nfd_x', 'Southern and East Africa, nec_x', 'Southern and East Africa, nfd_x', 'Southern and Eastern Europe, nfd_x', 'Spain_x', 'Sri Lanka_x', 'St Helena_x', 'St Kitts and Nevis_x', 'St Lucia_x', 'St Pierre and Miquelon_x', 'St Vincent and the Grenadines_x', 'Sub-Saharan Africa, nfd_x', 'Sudan_x', 'Suriname_x', 'Swaziland_x', 'Sweden_x', 'Switzerland_x', 'Syria_x', 'Taiwan_x', 'Tajikistan_x', 'Tanzania_x', 'Thailand_x', 'Togo_x', 'Tokelau_x', 'Tonga_x', 'Trinidad and Tobago_x', 'Tunisia_x', 'Turkey_x', 'Turkmenistan_x', 'Turks and Caicos Islands_x', 'Tuvalu_x', 'Uganda_x', 'Ukraine_x', 'United Arab Emirates_x', 'United States of America_x', 'Uruguay_x', 'Uzbekistan_x', 'Vanuatu_x', 'Virgin Islands, British_x', 'Virgin Islands, United States_x', 'Wales_x', 'Wallis and Futuna_x', 'Western Europe, nfd_x', 'Western Sahara_x', 'Yemen_x', 'Zambia_x', 'Zimbabwe_x', '$1_$149', '$150_$249_x', '$250_$399_x', '$400_$599', '$600_$799', '$800_$999', '$1600_$1999_x', '$1000_$1299', '$2000_or_more', 'Acehnese', 'Afghan', 'African American', 'African, so described', 'Afrikaner', 'Akan', 'Albanian', 'Algerian', 'American', 'Amhara', 'Anglo-Burmese', 'Anglo-Indian', 'Angolan', 'Arab, nfd', 'Argentinian', 'Armenian', 'Asian, so described', 'Australian', 'Australian Aboriginal', 'Australian Peoples, nfd', 'Australian South Sea Islander', 'Austrian', 'Azeri', 'Balinese', 'Barbadian', 'Basque', 'Batswana', 'Belarusan', 'Belgian', 'Bengali', 'Berber', 'Bermudan', 'Bolivian', 'Bosnian', 'Brazilian', 'British, nfd', 'Bruneian', 'Bulgarian', 'Burgher', 'Burmese', 'Canadian', 'Caribbean Islander, nfd', 'Catalan', 'Caucasian, so described', 'Central American, nfd', 'Central Asian, nfd', 'Central and West African, nfd', 'Channel Islander', 'Chilean', 'Chinese', 'Chinese Asian, nfd', 'Colombian', 'Cook Islander', 'Coptic', 'Costa Rican', 'Creole, so described', 'Croatian', 'Cuban', 'Cypriot', 'Czech', 'Danish', 'Dinka', 'Dutch', 'Eastern European, nfd', 'Ecuadorian', 'Egyptian', 'English', 'Eritrean', 'Estonian', 'Ethiopian', 'Eurasian, so described', 'European, so described', 'Fijian', 'Filipino', 'Finnish', 'Flemish', 'French', 'French Canadian', 'Frisian', 'Georgian', 'German', 'Ghanaian', 'Gibraltarian', 'Greek', 'Guatemalan', 'Gujarati', 'Guyanese', 'Hawaiian', 'Hazara', 'Hmong', 'Hungarian', 'Hutu', 'I-Kiribati', 'Icelandic', 'Inadequately described_y', 'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Irish', 'Italian', 'Ivorean', 'Jamaican', 'Japanese', 'Javanese', 'Jewish', 'Jordanian', 'Kadazan', 'Karen', 'Kazakh', 'Kenyan', 'Korean', 'Kurdish', 'Kuwaiti', 'Lao', 'Latvian', 'Lebanese', 'Liberian', 'Libyan', 'Lithuanian', 'Luxembourg_y', 'Macedonian', 'Madurese', 'Mainland South-East Asian, nfd', 'Malawian', 'Malay', 'Malayali', 'Maldivian', 'Maltese', 'Manx', 'Maori', 'Maritime South-East Asian, nfd', 'Masai', 'Mauritian', 'Mayan', 'Melanesian and Papuan, nfd', 'Mexican', 'Micronesian, nfd', 'Moldovan', 'Mon', 'Mongolian', 'Montenegrin', 'Moroccan', 'Mozambican', 'Native North American Indian', 'Nauruan', 'Nepalese', 'New Caledonian', 'New Zealand Peoples, nfd', 'New Zealander', 'Ni-Vanuatu', 'Nicaraguan', 'Nigerian', 'Niuean', 'North African and Middle Eastern, nfd', 'North American, nfd', 'North-East Asian, nfd', 'North-West European, nfd', 'Northern European, nfd', 'Norwegian', 'Not stated_y', 'Nuer', 'Oceanian, nfd', 'Oromo', 'Other North African and Middle Eastern, nfd', 'Other North-East Asian, nfd', 'Pakistani', 'Palestinian', 'Papua New Guinean', 'Paraguayan', 'Pathan', 'Peruvian', 'Polish', 'Polynesian, nfd', 'Portuguese', 'Puerto Rican', 'Punjabi', 'Romanian', 'Russian', 'Salvadoran', 'Samoan', 'Saudi Arabian', 'Scottish', 'Serbian', 'Seychellois', 'Sierra Leonean', 'Sikh', 'Singaporean', 'Sinhalese', 'Slovak', 'Slovene', 'Solomon Islander', 'Somali', 'Sorb/Wend', 'South African', 'South American, nfd', 'South Eastern European, nfd', 'South-East Asian, nfd', 'Southern Asian, nfd', 'Southern European, nfd', 'Southern and Central Asian, nfd', 'Southern and East African, nfd', 'Southern and Eastern European, nfd', 'Spanish', 'Sub-Saharan African, nfd', 'Sudanese', 'Sundanese', 'Swedish', 'Swiss', 'Syrian', 'Tahitian', 'Taiwanese', 'Tajik', 'Tanzanian', 'Tatar', 'Temoq', 'Thai', 'Tibetan', 'Tigrayan', 'Tigre', 'Timorese', 'Tokelauan', 'Tongan', 'Torres Strait Islander', 'Tunisian', 'Turkish', 'Turkmen', 'Tuvaluan', 'Ugandan', 'Uighur', 'Ukrainian', 'Uruguayan', 'Uzbek', 'Venezuelan', 'Vietnamese', 'Vlach', 'Welsh', 'Western European, nfd', 'Yemeni', 'Yoruba', 'Zambian', 'Zimbabwean', 'Zulu', 'Air and Space Transport', 'Basic Material Wholesaling', 'Coal Mining', 'Defence', 'Forestry and Logging', 'Machinery and Equipment Manufacturing', 'Metal Ore Mining', 'Non-Metallic Mineral Product Manufacturing', 'Not applicable_x', 'Not stated_x_2', 'Oil and Gas Extraction', 'Other Transport', 'Rail Transport', 'Road Transport', 'Water Supply, Sewerage and Drainage Services', 'Water Transport', 'new_accomodation', 'new_admin', 'new_agriculture', 'new_construction', 'new_education', 'new_electricity', 'new_finance', 'new_food', 'new_property', 'new_personal_services', '$1_$99', '$100_$149', '$150_$249_y', '$250_$399_y', '$400_$549', '$550_$649', '$650_$749', '$750_$849', '$850_$949', '$950_$1049', '$1050_$1199', '$1200_$1399', '$1400_$1599', '$1600_$1999_y', '$2000_$2399', '$2400_$2999', '$3000_$3999', '$4000_and_over', '$0_$49', '$50_$74', '$75_$99', '$100_$119', '$120_$139', '$140_$159', '$160_$179', '$180_$199', '$200_$224', '$225_$249', '$250_$274', '$275_$299', '$300_$349', '$350_$449', '$450_$549', '$550_and_over', 'Inadequately described_x_2', 'Not applicable_y', 'Not stated_y_2', 'Professionals', 'new_labourers', 'new_clerical', 'new_managers', 'Buddhism', 'Christianity', 'Hinduism', 'Islam', 'Judaism', 'Not stated_x_3', 'Other Religions', 'Advanced Diploma and Diploma Level', 'Bachelor Degree Level', 'Certificate Level', 'Graduate Diploma and Graduate Certificate Level', 'Level of education inadequately described', 'Level of education not stated', 'Not applicable', 'Postgraduate Degree Level']
print(x_df_2011.shape)
print(y_df_2011.shape)

(507, 600)
(507, 265)

In [91]:

x_df_2011.to_csv("x_df_2011_data.csv")
y_df_2011.to_csv("y_for_2011_data2016.csv")

In [93]:
print(x_df_2016.shape)
x_df_2016.to_csv("x_df_2016_data.csv")

(554, 600)